.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #101010;
}
.about-hero {
  width: 100%;
  height: 85vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
  background-color: #101010;
}
.about-background {
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #101010;
}
.about-image {
  width: 1440px;
  height: 100%;
  object-fit: cover;
}
.about-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.about-navlink {
  display: contents;
}
.about-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.about-image1 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
}
.about-desktop-menu {
  gap: var(--dl-space-space-threeunits);
  width: auto;
  display: flex;
}
.about-nav {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-link {
  font-size: 30px;
  text-decoration: none;
}
.about-link01 {
  font-size: 30px;
  text-decoration: none;
}
.about-link02 {
  font-size: 30px;
  text-decoration: none;
}
.about-link03 {
  font-size: 30px;
}
.about-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.about-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
}
.about-dropdown-arrow {
  transition: 0.3s;
}
.about-link04 {
  font-size: 30px;
}
.about-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-black);
  list-style-position: inside;
}
.about-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.about-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.about-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.about-text {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.about-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.about-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.about-text01 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.about-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.about-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.about-register {
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.about-text05 {
  font-size: 10px;
}
.about-icon {
  width: 16px;
  height: 16px;
}
.about-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.about-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.about-nav1 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.about-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-image2 {
  width: 200px;
  object-fit: cover;
}
.about-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-link07 {
  text-decoration: none;
}
.about-navlink1 {
  text-decoration: none;
}
.about-navlink2 {
  text-decoration: none;
}
.about-navlink3 {
  text-decoration: none;
}
.about-navlink4 {
  text-decoration: none;
}
.about-link08 {
  text-decoration: none;
}
.about-link09 {
  text-decoration: none;
}
.about-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  z-index: 20;
}
.about-hero-content {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 964px;
  height: 225px;
  display: flex;
  z-index: 100;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.about-text10 {
  color: rgb(198, 165, 119);
  width: 100%;
  z-index: 100;
  font-size: 60px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 1.1;
  padding-top: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: rgba(0, 0, 0, 0.7);
}
.about-text11 {
  color: var(--dl-color-gray-white);
  font-size: 30px;
  margin-top: var(--dl-space-space-sixunits);
  text-align: center;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-sixunits);
}
.about-text12 {
  color: #c6a577;
  font-size: 40px;
}
.about-text15 {
  font-size: 20px;
}
.about-text16 {
  font-size: 20px;
}
.about-text17 {
  font-size: 20px;
}
.about-text18 {
  font-size: 20px;
}
.about-text19 {
  font-size: 20px;
}
.about-text20 {
  font-size: 20px;
}
.about-text21 {
  font-size: 20px;
}
.about-text25 {
  color: #c6a577;
  font-size: 40px;
}
.about-text28 {
  font-size: 20px;
}
.about-text32 {
  color: #c6a577;
  font-size: 40px;
}
.about-text35 {
  font-size: 20px;
}
.about-text36 {
  font-size: 20px;
}
.about-text39 {
  color: #c6a577;
  font-size: 40px;
}
.about-text42 {
  font-size: 20px;
}
.about-footer {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #000000;
}
.about-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.about-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-description {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 18px;
  align-self: center;
  text-align: center;
  line-height: 27px;
  margin-left: 0px;
}
.about-container6 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: center;
}
.about-link10 {
  display: contents;
}
.about-icon06 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link11 {
  display: contents;
}
.about-icon08 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link12 {
  display: contents;
}
.about-icon10 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.about-navlink5 {
  display: contents;
}
.about-image3 {
  top: 0px;
  right: 0px;
  width: var(--dl-size-size-xxlarge);
  bottom: 0px;
  height: auto;
  position: absolute;
  align-self: center;
  margin-top: auto;
  object-fit: cover;
  margin-left: auto;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: auto;
  text-decoration: none;
}
.about-copyright {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  line-height: 21px;
}
@media(max-width: 991px) {
  .about-image {
    width: 100%;
  }
  .about-navbar {
    width: 958px;
  }
  .about-link {
    font-size: 25px;
  }
  .about-link01 {
    font-size: 25px;
  }
  .about-link02 {
    font-size: 25px;
  }
  .about-link03 {
    font-size: 25px;
  }
  .about-link04 {
    font-size: 25px;
  }
  .about-register {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-text10 {
    width: auto;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-text11 {
    text-align: left;
  }
  .about-footer {
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fourunits);
  }
  .about-description {
    line-height: 27px;
  }
  .about-image3 {
    right: 0px;
    width: var(--dl-size-size-xlarge);
  }
}
@media(max-width: 767px) {
  .about-hero {
    height: 60vh;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .about-image {
    width: 100%;
    height: 100%;
  }
  .about-navbar {
    width: 100%;
  }
  .about-image1 {
    width: var(--dl-size-size-large);
  }
  .about-desktop-menu {
    display: none;
  }
  .about-burger-menu {
    display: flex;
  }
  .about-icon02 {
    fill: white;
  }
  .about-mobile-menu {
    background-color: #101010;
  }
  .about-nav1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .about-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-menu-close {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .about-image2 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: var(--dl-size-size-large);
    margin: auto;
    position: absolute;
  }
  .about-icon04 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: auto;
  }
  .about-nav2 {
    gap: var(--dl-space-space-unit);
    color: #ffffff;
    width: 250px;
    height: 173px;
    align-self: center;
  }
  .about-link07 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .about-navlink1 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .about-navlink2 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .about-navlink3 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .about-navlink4 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .about-text06 {
    width: 100%;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-link08 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .about-link09 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .about-text08 {
    width: 100%;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-icon-group {
    width: 100%;
    justify-content: flex-start;
  }
  .about-hero-content {
    gap: var(--dl-space-space-oneandhalfunits);
    width: auto;
  }
  .about-text10 {
    width: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-footer {
    height: auto;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .about-description {
    font-size: 14px;
    line-height: 21px;
  }
  .about-image3 {
    right: 0px;
    width: var(--dl-size-size-large);
    height: auto;
  }
}
@media(max-width: 479px) {
  .about-navbar {
    width: 100%;
  }
  .about-image1 {
    width: var(--dl-size-size-large);
  }
  .about-mobile-menu {
    padding: 16px;
    background-color: #101010;
  }
  .about-nav1 {
    height: 100%;
  }
  .about-menu-close {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .about-image2 {
    top: 0px;
    flex: 0;
    left: 0px;
    right: 0px;
    width: var(--dl-size-size-large);
    margin: auto;
    position: absolute;
  }
  .about-icon04 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: auto;
    position: static;
  }
  .about-nav2 {
    color: #ffffff;
  }
  .about-link07 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .about-navlink1 {
    color: #ffffff;
  }
  .about-navlink2 {
    color: #ffffff;
  }
  .about-navlink3 {
    color: #ffffff;
  }
  .about-navlink4 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .about-text06 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .about-link08 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .about-link09 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .about-text08 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .about-icon-group {
    justify-content: center;
  }
  .about-hero-content {
    height: 138px;
    max-width: auto;
  }
  .about-text10 {
    width: 466px;
    font-size: 50px;
  }
  .about-text11 {
    color: var(--dl-color-gray-white);
    width: auto;
    height: 100%;
    font-size: 15px;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-text12 {
    color: #c6a577;
    font-size: 30px;
  }
  .about-text13 {
    color: #c6a577;
  }
  .about-text14 {
    color: #c6a577;
  }
  .about-text16 {
    color: #ffffff;
  }
  .about-text17 {
    color: #ffffff;
  }
  .about-text19 {
    color: #ffffff;
  }
  .about-text20 {
    color: #ffffff;
  }
  .about-text22 {
    color: #ffffff;
  }
  .about-text23 {
    color: #c6a577;
  }
  .about-text24 {
    color: #c6a577;
  }
  .about-text25 {
    color: #c6a577;
    font-size: 30px;
  }
  .about-text26 {
    color: #c6a577;
    font-size: 30px;
  }
  .about-text27 {
    color: #c6a577;
  }
  .about-text28 {
    color: #ffffff;
  }
  .about-text29 {
    color: #ffffff;
  }
  .about-text30 {
    color: #c6a577;
  }
  .about-text31 {
    color: #c6a577;
    font-size: 40px;
  }
  .about-text32 {
    color: #c6a577;
    font-size: 30px;
  }
  .about-text33 {
    color: #c6a577;
    font-size: 30px;
  }
  .about-text34 {
    color: #c6a577;
  }
  .about-text35 {
    color: #ffffff;
  }
  .about-text36 {
    color: #ffffff;
  }
  .about-text37 {
    color: #c6a577;
  }
  .about-text38 {
    color: #c6a577;
  }
  .about-text39 {
    color: #c6a577;
    font-size: 30px;
  }
  .about-text40 {
    color: #c6a577;
    font-size: 30px;
  }
  .about-text41 {
    color: #c6a577;
  }
  .about-text42 {
    color: #ffffff;
  }
  .about-footer {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-container3 {
    width: auto;
  }
  .about-description {
    align-self: center;
    text-align: center;
  }
  .about-container6 {
    width: auto;
    margin: var(--dl-space-space-halfunit);
    position: static;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .about-icon06 {
    width: 24px;
  }
  .about-icon08 {
    width: 24px;
  }
  .about-icon10 {
    width: 24px;
  }
  .about-image3 {
    top: 0px;
    right: 0px;
    width: var(--dl-size-size-medium);
    bottom: 0px;
    height: auto;
    position: static;
    margin-top: var(--dl-space-space-unit);
    margin-right: auto;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-copyright {
    width: auto;
    font-size: 10px;
  }
}
