.hero2-wrapper {
  display: contents;
}
.hero2-header5 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero2-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  object-fit: cover;
}
.hero2-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero2-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.hero2-column {
  gap: 24px;
  width: auto;
  display: flex;
  z-index: 1;
  max-width: 560px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.hero2-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero2-text1 {
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.hero2-text2 {
  font-size: 20px;
  font-family: "PlayfairDisplay-Regular";
}
.hero2-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.hero2-container2 {
  display: flex;
  align-items: flex-start;
}
.hero2-button {
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
.hero2-text4 {
  font-family: "Source Sans Pro";
}
.hero2-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.hero2root-class-name {
  height: auto;
}
@media(max-width: 767px) {
  .hero2-header5 {
    justify-content: center;
  }
  .hero2-max-width {
    justify-content: center;
  }
  .hero2-column {
    width: 100%;
  }
  .hero2-text1 {
    font-size: 26px;
    text-align: left;
  }
  .hero2-text2 {
    font-size: 16px;
    text-align: left;
  }
  .hero2-actions {
    width: 100%;
    align-self: flex-start;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .hero2-text1 {
    font-size: 26px;
  }
  .hero2-text2 {
    font-size: 16px;
  }
  .hero2-actions {
    flex-direction: column;
  }
  .hero2-container2 {
    width: 100%;
  }
  .hero2-button {
    width: auto;
  }
  .hero2-container3 {
    width: 100%;
  }
}

.stats1-wrapper {
  display: contents;
}
.stats1-max-width {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.stats1-container2 {
  align-self: center;
  align-items: flex-start;
}
.stats1-text10 {
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.stats1-text11 {
  font-family: "PlayfairDisplay-Regular";
}
.stats1-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.stats1-container4 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.stats1-text12 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.stats1-text13 {
  font-family: "PlayfairDisplay-Regular";
}
.stats1-container5 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.stats1-text14 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.stats1-text15 {
  font-family: "PlayfairDisplay-Regular";
}
.stats1-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.stats1-container7 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.stats1-text16 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.stats1-text17 {
  font-family: "PlayfairDisplay-Regular";
}
.stats1-container8 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.stats1-text18 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.stats1-text19 {
  font-family: "PlayfairDisplay-Regular";
}
.stats1-image {
  width: 400px;
  height: 363px;
}
.stats1-text20 {
  font-size: 16px;
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
}
.stats1-text21 {
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.stats1-button {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.stats1-text22 {
  fill: #ffffff;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-family: "Source Sans Pro";
}
@media(max-width: 991px) {
  .stats1-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .stats1-container9 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .stats1-container2 {
    align-self: center;
  }
  .stats1-text10 {
    font-size: 26px;
  }
  .stats1-text12 {
    font-size: 20px;
  }
  .stats1-text14 {
    font-size: 20px;
  }
  .stats1-text16 {
    font-size: 20px;
  }
  .stats1-text18 {
    font-size: 20px;
  }
  .stats1-text22 {
    font-size: 20px;
  }
}
@media(max-width: 479px) {
  .stats1-container2 {
    align-self: center;
  }
  .stats1-text10 {
    font-size: 26px;
    text-align: center;
  }
  .stats1-text11 {
    font-size: 16px;
  }
  .stats1-text12 {
    font-size: 20px;
  }
  .stats1-text13 {
    font-size: 16px;
  }
  .stats1-text14 {
    font-size: 20px;
  }
  .stats1-text15 {
    font-size: 16px;
  }
  .stats1-text16 {
    font-size: 20px;
  }
  .stats1-text17 {
    font-size: 16px;
  }
  .stats1-text18 {
    font-size: 20px;
  }
  .stats1-text19 {
    font-size: 16px;
  }
  .stats1-image {
    width: 100%;
  }
  .stats1-text20 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .stats1-text21 {
    text-align: center;
  }
  .stats1-button {
    width: auto;
  }
  .stats1-text22 {
    font-size: 20px;
  }
}

.team14-wrapper {
  display: contents;
}
.team14-team8 {
  padding: 100px;
}
.team14-max-width {
  gap: var(--dl-space-space-twounits);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team14-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-text10 {
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.team14-slider {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  align-self: center;
}
.team14-slider-slide1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text11 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text12 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text13 {
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.team14-textm12 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-text14 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-social-icons1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-link1 {
  display: contents;
}
.team14-icon1 {
  text-decoration: none;
}
.team14-card2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text15 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text16 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text17 {
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text18 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-text19 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-social-icons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-link2 {
  display: contents;
}
.team14-icon3 {
  text-decoration: none;
}
.team14-card3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text20 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text21 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text22 {
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text23 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-text24 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-social-icons3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-link3 {
  display: contents;
}
.team14-icon5 {
  text-decoration: none;
}
.team14-card4 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text25 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text26 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text27 {
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.team14-social-icons4 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.team14-slider-slide2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card5 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.team14-content6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text28 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text31 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-text32 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-social-icons5 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.team14-card6 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.team14-content7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text33 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text34 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text37 {
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.team14-card7 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.team14-content8 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text41 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text42 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text45 {
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.team14-slider-pagination {
  display: block;
}
.team14-text46 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-button {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.team14-text47 {
  fill: #ffffff;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  font-family: "Source Sans Pro";
}
@media(max-width: 991px) {
  .team14-text47 {
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .team14-team8 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .team14-max-width {
    padding: var(--dl-space-space-threeunits);
  }
  .team14-text10 {
    font-size: 30px;
  }
  .team14-text47 {
    font-size: 20px;
  }
}
@media(max-width: 479px) {
  .team14-team8 {
    padding: 0px;
  }
  .team14-max-width {
    padding: 0px;
  }
  .team14-text10 {
    font-size: 26px;
  }
  .team14-slider-slide1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .team14-placeholder-image1 {
    width: 90px;
    height: 90px;
    align-self: center;
  }
  .team14-content2 {
    align-self: flex-start;
  }
  .team14-placeholder-image2 {
    width: 90px;
    height: 90px;
  }
  .team14-placeholder-image3 {
    width: 90px;
    height: 90px;
  }
  .team14-placeholder-image4 {
    width: 90px;
    height: 90px;
  }
  .team14-card5 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .team14-card6 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .team14-card7 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .team14-text46 {
    text-align: center;
  }
  .team14-button {
    width: auto;
  }
  .team14-text47 {
    font-size: 20px;
  }
}

.timeline4-wrapper {
  display: contents;
}
.timeline4-container10 {
  padding-top: var(--dl-space-space-twounits);
}
.timeline4-max-width {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.timeline4-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.timeline4-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.timeline4-text10 {
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-twounits);
}
.timeline4-timeline-container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline4-step1 {
  display: flex;
  position: relative;
  justify-content: center;
}
.timeline4-container11 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline4-container12 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline4-progress01 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline4-container13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline4-text11 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.timeline4-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.timeline4-text12 {
  font-size: 16px;
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.timeline4-button1 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline4-text13 {
  fill: #ffffff;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  font-family: "Source Sans Pro";
}
.timeline4-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.timeline4-text14 {
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.timeline4-button2 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline4-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.timeline4-text16 {
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.timeline4-button3 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline4-text17 {
  fill: #ffffff;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
  font-family: "Source Sans Pro";
}
.timeline4-container17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timeline4-navlink1 {
  font-size: 16px;
  font-family: "Source Sans Pro";
  text-decoration: none;
}
.timeline4-step2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline4-container18 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline4-container19 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline4-progress02 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline4-container20 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline4-heading {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.timeline4-text18 {
  font-size: 16px;
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.timeline4-text19 {
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.timeline4-text20 {
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.timeline4-text21 {
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.timeline4-container21 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timeline4-navlink2 {
  font-size: 16px;
  font-family: "Source Sans Pro";
  text-decoration: none;
}
.timeline4-button4 {
  font-size: 16px;
  font-family: "Source Sans Pro";
}
.timeline4-step3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline4-container22 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline4-container23 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline4-progress03 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline4-container24 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline4-text22 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.timeline4-text23 {
  font-size: 16px;
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.timeline4-text24 {
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.timeline4-text25 {
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.timeline4-text26 {
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.timeline4-container25 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timeline4-button5 {
  font-size: 16px;
  font-family: "Source Sans Pro";
}
.timeline4-step4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline4-container26 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline4-container27 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline4-progress04 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline4-container28 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline4-text27 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.timeline4-text28 {
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.timeline4-text29 {
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.timeline4-container29 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timeline4-navlink3 {
  font-size: 16px;
  font-family: "Source Sans Pro";
  text-decoration: none;
}
@media(max-width: 991px) {
  .timeline4-max-width {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .timeline4-max-width {
    flex-direction: column;
  }
  .timeline4-text10 {
    font-size: 26px;
  }
  .timeline4-text11 {
    font-size: 20px;
  }
  .timeline4-text12 {
    text-align: left;
  }
  .timeline4-heading {
    font-size: 20px;
  }
  .timeline4-text18 {
    text-align: left;
  }
  .timeline4-text22 {
    font-size: 20px;
  }
  .timeline4-text23 {
    text-align: left;
  }
  .timeline4-text27 {
    font-size: 20px;
  }
}
@media(max-width: 479px) {
  .timeline4-text10 {
    font-size: 30px;
  }
  .timeline4-timeline-container {
    width: 100%;
  }
  .timeline4-text11 {
    font-size: 24px;
  }
  .timeline4-button1 {
    width: auto;
  }
  .timeline4-button2 {
    width: auto;
  }
  .timeline4-button3 {
    width: auto;
  }
  .timeline4-container17 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-navlink1 {
    width: auto;
    align-self: flex-start;
  }
  .timeline4-heading {
    font-size: 24px;
  }
  .timeline4-container21 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-navlink2 {
    align-self: flex-start;
  }
  .timeline4-button4 {
    align-self: flex-start;
  }
  .timeline4-text22 {
    font-size: 24px;
  }
  .timeline4-container25 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-button5 {
    align-self: flex-start;
  }
  .timeline4-text27 {
    font-size: 24px;
  }
  .timeline4-container29 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-navlink3 {
    align-self: flex-start;
  }
}

.about-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.about-container11 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.about-text10 {
  font-size: 36px;
  margin-top: var(--dl-space-space-unit);
  font-family: "PlayfairDisplay-Bold";
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-desktop-menu {
  top: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: absolute;
  align-self: stretch;
  align-items: flex-end;
  padding-top: auto;
  padding-left: auto;
  padding-right: auto;
  flex-direction: row;
  padding-bottom: auto;
  justify-content: space-between;
}
.about-nav1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.about-navlink1 {
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.about-link10 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.about-link11 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.about-link12 {
  fill: #000000;
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
}
.about-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.about-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
}
.about-dropdown-arrow {
  transition: 0.3s;
}
.about-link13 {
  fill: #000000;
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
}
.about-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-black);
  list-style-position: inside;
}
.about-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.about-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.about-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.about-text11 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.about-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.about-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.about-text12 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.about-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.about-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.about-actions {
  display: flex;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.about-button {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.about-text13 {
  fill: #ffffff;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  font-family: "Source Sans Pro";
}
.about-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.about-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.about-nav2 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.about-container12 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-nav3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-link16 {
  text-decoration: none;
}
.about-navlink2 {
  text-decoration: none;
}
.about-navlink3 {
  text-decoration: none;
}
.about-navlink4 {
  text-decoration: none;
}
.about-link17 {
  text-decoration: none;
}
.about-link18 {
  text-decoration: none;
}
.about-hero2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-stats31 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: stretch;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-container14 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.about-text14 {
  font-size: 36px;
  align-self: flex-start;
  text-align: left;
  font-family: "PlayfairDisplay-Bold";
}
.about-text15 {
  width: 100%;
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
  padding-top: var(--dl-space-space-twounits);
  padding-left: 0px;
  padding-right: 0px;
}
.about-text16 {
  font-size: 30px;
  align-self: flex-start;
  text-align: left;
  font-family: "PlayfairDisplay-Bold";
  padding-top: var(--dl-space-space-twounits);
}
.about-text17 {
  width: 100%;
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
  padding-top: var(--dl-space-space-twounits);
  padding-left: 0px;
  padding-right: 0px;
}
.about-image1 {
  width: 400px;
  height: 400px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
  border-radius: 8px;
}
.about-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-image2 {
  width: 400px;
  height: 400px;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  border-radius: 8px;
}
.about-container16 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.about-text20 {
  font-size: 30px;
  align-self: flex-start;
  text-align: left;
  font-family: "PlayfairDisplay-Bold";
  padding-top: var(--dl-space-space-twounits);
}
.about-text21 {
  width: 100%;
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
  padding-top: var(--dl-space-space-twounits);
  padding-left: 0px;
  padding-right: 0px;
}
.about-text24 {
  font-size: 30px;
  align-self: flex-start;
  text-align: left;
  font-family: "PlayfairDisplay-Bold";
  padding-top: var(--dl-space-space-twounits);
}
.about-text25 {
  width: 100%;
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
  padding-top: var(--dl-space-space-twounits);
  padding-left: 0px;
  padding-right: 0px;
}
.about-stats32 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-team5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-timeline3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-footer {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #000000;
}
.about-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.about-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-description1 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 27px;
  margin-left: 0px;
}
.about-description2 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 27px;
  margin-left: 0px;
}
.about-container20 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: center;
}
.about-link19 {
  display: contents;
}
.about-icon14 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link20 {
  display: contents;
}
.about-icon16 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link21 {
  display: contents;
}
.about-icon18 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.about-container21 {
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.about-text32 {
  fill: #ffffff;
  color: #ffffff;
  font-size: 36px;
  margin-top: 0px;
  font-family: "PlayfairDisplay-Bold";
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
  text-decoration: none;
}
.about-copyright {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 21px;
}
@media(max-width: 991px) {
  .about-navbar {
    width: 958px;
  }
  .about-desktop-menu {
    top: 0px;
    right: 0px;
    position: absolute;
  }
  .about-nav1 {
    align-self: center;
  }
  .about-navlink1 {
    font-size: 16px;
  }
  .about-link10 {
    font-size: 16px;
  }
  .about-link11 {
    font-size: 16px;
  }
  .about-link12 {
    font-size: 16px;
  }
  .about-link13 {
    font-size: 16px;
  }
  .about-actions {
    align-self: center;
  }
  .about-text13 {
    font-size: 16px;
  }
  .about-container13 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-image1 {
    width: 300px;
    height: 300px;
  }
  .about-container15 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-image2 {
    width: 300px;
    height: 300px;
  }
  .about-footer {
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fourunits);
  }
  .about-description1 {
    line-height: 27px;
  }
  .about-description2 {
    color: rgb(255, 255, 255);
  }
  .about-copyright {
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 21px;
  }
}
@media(max-width: 767px) {
  .about-navbar {
    width: 100%;
    align-self: center;
    align-items: center;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
  }
  .about-text10 {
    font-size: 30px;
  }
  .about-desktop-menu {
    display: none;
  }
  .about-burger-menu {
    display: flex;
    align-self: center;
  }
  .about-icon10 {
    fill: #000000;
    width: 24px;
    height: 24px;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .about-mobile-menu {
    height: 100%;
    background-color: #ffffff;
  }
  .about-nav2 {
    gap: var(--dl-space-space-oneandhalfunits);
    height: auto;
  }
  .about-container12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-menu-close {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .about-icon12 {
    fill: #000000;
    width: var(--dl-size-size-small);
    height: auto;
  }
  .about-nav3 {
    gap: var(--dl-space-space-unit);
    color: #ffffff;
    width: 250px;
    height: 173px;
    align-self: center;
  }
  .about-link16 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .about-navlink2 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .about-navlink3 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .about-navlink4 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .about-link17 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .about-link18 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .about-text14 {
    font-size: 26px;
  }
  .about-text16 {
    font-size: 20px;
  }
  .about-container15 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .about-text20 {
    font-size: 20px;
  }
  .about-text24 {
    font-size: 20px;
  }
  .about-footer {
    height: auto;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .about-description1 {
    font-size: 14px;
    line-height: 21px;
  }
  .about-description2 {
    font-size: 14px;
    line-height: 21px;
  }
  .about-text32 {
    font-size: 30px;
  }
}
@media(max-width: 479px) {
  .about-navbar {
    width: 100%;
  }
  .about-actions {
    width: 100%;
    flex-direction: column;
  }
  .about-button {
    width: 100%;
  }
  .about-icon10 {
    width: 24px;
    height: 24ll;
    padding: 0px;
    margin-top: var(--dl-space-space-unit);
  }
  .about-mobile-menu {
    padding: 16px;
    background-color: #ffffff;
  }
  .about-nav2 {
    height: 100%;
  }
  .about-menu-close {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .about-icon12 {
    fill: #000000;
    width: var(--dl-size-size-small);
    height: auto;
    position: static;
  }
  .about-nav3 {
    color: #ffffff;
    height: auto;
  }
  .about-link16 {
    fill: #000000;
    color: #000000;
    text-decoration: none;
  }
  .about-navlink3 {
    fill: #000000;
    color: #000000;
  }
  .about-navlink4 {
    fill: #000000;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .about-link17 {
    fill: #000000;
    color: #000000;
    text-decoration: none;
  }
  .about-link18 {
    fill: #000000;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .about-container13 {
    align-items: center;
    flex-direction: column;
  }
  .about-container14 {
    width: 100%;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-text15 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-text16 {
    font-size: 24px;
  }
  .about-text17 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-image1 {
    margin-right: 0px;
  }
  .about-container15 {
    flex-direction: column;
  }
  .about-image2 {
    margin-left: 0px;
  }
  .about-container16 {
    width: 100%;
    align-self: center;
    align-items: flex-start;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-text20 {
    font-size: 24px;
  }
  .about-text21 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-text24 {
    font-size: 24px;
  }
  .about-text25 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-footer {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-container17 {
    width: auto;
  }
  .about-description1 {
    align-self: center;
    text-align: center;
  }
  .about-description2 {
    align-self: center;
    text-align: center;
  }
  .about-container20 {
    width: auto;
    margin: var(--dl-space-space-halfunit);
    position: static;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .about-icon14 {
    width: 24px;
  }
  .about-icon16 {
    width: 24px;
  }
  .about-icon18 {
    width: 24px;
  }
  .about-container21 {
    position: static;
    padding-right: 0px;
  }
  .about-copyright {
    width: auto;
    font-size: 10px;
  }
}
