.hero21-wrapper {
  display: contents;
}
.hero21-header5 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero21-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  object-fit: cover;
}
.hero21-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero21-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.hero21-column {
  gap: 24px;
  width: auto;
  display: flex;
  z-index: 1;
  max-width: 700px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.hero21-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero21-text1 {
  width: auto;
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.hero21-text2 {
  font-size: 20px;
  font-family: "PlayfairDisplay-Regular";
}
.dealer-fragment2 {
  display: contents;
}
.dealer-text16 {
  display: inline-block;
}
.dealer-fragment1 {
  display: contents;
}
.dealer-text15 {
  display: inline-block;
}
.hero21root-class-name {
  height: auto;
}
.hero21root-class-name1 {
  height: auto;
}
.hero21root-class-name2 {
  height: 100%;
}
.hero21root-class-name3 {
  height: 100%;
}
.hero21root-class-name4 {
  height: 100%;
}
.hero21root-class-name5 {
  height: 100%;
}
.hero21root-class-name6 {
  height: 100%;
}
.hero21root-class-name7 {
  height: 100%;
}
@media(max-width: 991px) {
  .hero21-text2 {
    font-size: 22px;
  }
}
@media(max-width: 767px) {
  .hero21-header5 {
    justify-content: center;
  }
  .hero21-max-width {
    justify-content: center;
  }
  .hero21-column {
    width: 100%;
  }
  .hero21-text1 {
    font-size: 26px;
    text-align: left;
  }
  .hero21-text2 {
    font-size: 16px;
  }
}
@media(max-width: 479px) {
  .hero21-text1 {
    font-size: 26px;
  }
  .hero21-text2 {
    font-size: 16px;
  }
}

.dealer-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.dealer-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.dealer-container11 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.dealer-text10 {
  font-size: 36px;
  margin-top: var(--dl-space-space-unit);
  font-family: "PlayfairDisplay-Bold";
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.dealer-desktop-menu {
  top: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: absolute;
  align-self: stretch;
  align-items: flex-end;
  padding-top: auto;
  padding-left: auto;
  padding-right: auto;
  flex-direction: row;
  padding-bottom: auto;
  justify-content: space-between;
}
.dealer-nav1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.dealer-navlink1 {
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.dealer-link10 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.dealer-link11 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.dealer-link12 {
  fill: #000000;
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
}
.dealer-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.dealer-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
}
.dealer-dropdown-arrow {
  transition: 0.3s;
}
.dealer-link13 {
  fill: #000000;
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
}
.dealer-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-black);
  list-style-position: inside;
}
.dealer-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.dealer-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.dealer-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.dealer-text11 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.dealer-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.dealer-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.dealer-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.dealer-text12 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.dealer-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.dealer-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.dealer-actions1 {
  display: flex;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.dealer-button1 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.dealer-text13 {
  fill: #ffffff;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  font-family: "Source Sans Pro";
}
.dealer-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.dealer-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.dealer-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.dealer-nav2 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.dealer-container12 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.dealer-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dealer-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.dealer-nav3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dealer-link16 {
  text-decoration: none;
}
.dealer-navlink2 {
  text-decoration: none;
}
.dealer-navlink3 {
  text-decoration: none;
}
.dealer-navlink4 {
  text-decoration: none;
}
.dealer-link17 {
  text-decoration: none;
}
.dealer-link18 {
  text-decoration: none;
}
.dealer-actions2 {
  display: flex;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.dealer-button2 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.dealer-text14 {
  fill: #ffffff;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  font-family: "Source Sans Pro";
}
.dealer-fragment1 {
  display: contents;
}
.dealer-text15 {
  display: inline-block;
}
.dealer-fragment2 {
  display: contents;
}
.dealer-text16 {
  display: inline-block;
}
.dealer-text17 {
  fill: #000000;
  color: rgb(0, 0, 0);
  width: auto;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  font-family: "STIXTwoText";
  padding-top: 0px;
  padding-left: 200px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 200px;
  padding-bottom: var(--dl-space-space-threeunits);
}
.dealer-text18 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.dealer-text19 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.dealer-text20 {
  font-family: "PlayfairDisplay-Regular";
}
.dealer-text21 {
  font-family: "Open Sans";
}
.dealer-text22 {
  font-family: "Open Sans";
}
.dealer-text23 {
  font-family: "PlayfairDisplay-Regular";
}
.dealer-text24 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.dealer-text25 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.dealer-text26 {
  font-family: "PlayfairDisplay-Regular";
}
.dealer-text27 {
  font-family: "Open Sans";
}
.dealer-text28 {
  font-family: "Open Sans";
}
.dealer-text29 {
  font-family: "Open Sans";
}
.dealer-text30 {
  font-family: "Open Sans";
}
.dealer-text31 {
  font-family: "Open Sans";
}
.dealer-text32 {
  font-family: "Open Sans";
}
.dealer-text33 {
  font-family: "Open Sans";
}
.dealer-text34 {
  font-family: "Open Sans";
}
.dealer-text35 {
  font-family: "Open Sans";
}
.dealer-text36 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.dealer-text37 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.dealer-text38 {
  font-family: "PlayfairDisplay-Regular";
}
.dealer-text39 {
  font-family: "Open Sans";
}
.dealer-text40 {
  font-family: "Open Sans";
}
.dealer-text41 {
  font-family: "Open Sans";
}
.dealer-text42 {
  font-family: "Open Sans";
}
.dealer-text43 {
  font-family: "Open Sans";
}
.dealer-text44 {
  font-family: "Open Sans";
}
.dealer-text45 {
  font-family: "Open Sans";
}
.dealer-text46 {
  font-family: "Open Sans";
}
.dealer-text47 {
  font-family: "Open Sans";
}
.dealer-text48 {
  font-family: "Open Sans";
}
.dealer-text49 {
  font-family: "Open Sans";
}
.dealer-text50 {
  font-family: "Open Sans";
}
.dealer-text51 {
  font-family: "Open Sans";
}
.dealer-text52 {
  font-family: "Open Sans";
}
.dealer-text53 {
  font-family: "PlayfairDisplay-Regular";
}
.dealer-text54 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.dealer-text55 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.dealer-text56 {
  font-family: "PlayfairDisplay-Regular";
}
.dealer-text57 {
  font-family: "Open Sans";
}
.dealer-text58 {
  font-family: "Open Sans";
}
.dealer-text59 {
  font-family: "Open Sans";
}
.dealer-text60 {
  font-family: "Open Sans";
}
.dealer-text61 {
  font-family: "Open Sans";
}
.dealer-text62 {
  font-family: "Open Sans";
}
.dealer-text63 {
  font-family: "Open Sans";
}
.dealer-text64 {
  font-family: "Open Sans";
}
.dealer-text65 {
  font-family: "Open Sans";
}
.dealer-text66 {
  font-family: "Open Sans";
}
.dealer-text67 {
  font-family: "Open Sans";
}
.dealer-text68 {
  font-family: "Open Sans";
}
.dealer-text69 {
  font-family: "Open Sans";
}
.dealer-text70 {
  font-family: "Open Sans";
}
.dealer-text71 {
  font-family: "Open Sans";
}
.dealer-text72 {
  font-family: "Open Sans";
}
.dealer-text73 {
  font-family: "Open Sans";
}
.dealer-text74 {
  font-family: "Open Sans";
}
.dealer-text75 {
  font-family: "Open Sans";
}
.dealer-text76 {
  font-family: "Open Sans";
}
.dealer-text77 {
  font-family: "Open Sans";
}
.dealer-text78 {
  font-family: "PlayfairDisplay-Regular";
}
.dealer-form {
  width: var(--dl-size-size-xxlarge);
  height: auto;
  display: flex;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.dealer-input {
  opacity: 0;
}
.dealer-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dealer-text79 {
  fill: #000000;
  color: #000000;
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.dealer-text80 {
  color: var(--dl-color-danger-700);
}
.dealer-textinput1 {
  width: auto;
  margin-bottom: var(--dl-space-space-unit);
}
.dealer-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dealer-text81 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.dealer-text82 {
  color: var(--dl-color-danger-700);
}
.dealer-textinput2 {
  margin-bottom: var(--dl-space-space-unit);
}
.dealer-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dealer-text83 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.dealer-text84 {
  color: var(--dl-color-danger-700);
}
.dealer-textinput3 {
  margin-bottom: var(--dl-space-space-unit);
}
.dealer-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dealer-text85 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.dealer-text86 {
  color: var(--dl-color-danger-700);
}
.dealer-textinput4 {
  margin-bottom: var(--dl-space-space-unit);
}
.dealer-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dealer-text87 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.dealer-textarea {
  height: var(--dl-size-size-xxlarge);
}
.dealer-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.dealer-checkbox {
  align-self: center;
}
.dealer-link19 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 16px;
  align-self: center;
  font-family: "PlayfairDisplay-Regular";
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.dealer-text93 {
  color: var(--dl-color-theme-primary1);
}
.dealer-button3 {
  fill: #ffffff;
  color: #ffffff;
  margin-top: var(--dl-space-space-unit);
  font-family: "Open Sans";
  padding-top: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #000000;
}
.dealer-text94 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.dealer-footer {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #000000;
}
.dealer-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dealer-container20 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.dealer-container21 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dealer-description1 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 27px;
  margin-left: 0px;
}
.dealer-description2 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 27px;
  margin-left: 0px;
}
.dealer-container22 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: center;
}
.dealer-link20 {
  display: contents;
}
.dealer-icon14 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.dealer-link21 {
  display: contents;
}
.dealer-icon16 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.dealer-link22 {
  display: contents;
}
.dealer-icon18 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.dealer-container23 {
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.dealer-text99 {
  fill: #ffffff;
  color: #ffffff;
  font-size: 36px;
  margin-top: 0px;
  font-family: "PlayfairDisplay-Bold";
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
  text-decoration: none;
}
.dealer-copyright {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 21px;
}
@media(max-width: 991px) {
  .dealer-navbar {
    width: 958px;
  }
  .dealer-desktop-menu {
    top: 0px;
    right: 0px;
    position: absolute;
  }
  .dealer-nav1 {
    align-self: center;
  }
  .dealer-navlink1 {
    font-size: 16px;
  }
  .dealer-link10 {
    font-size: 16px;
  }
  .dealer-link11 {
    font-size: 16px;
  }
  .dealer-link12 {
    font-size: 16px;
  }
  .dealer-link13 {
    font-size: 16px;
  }
  .dealer-actions1 {
    align-self: center;
  }
  .dealer-text13 {
    font-size: 16px;
  }
  .dealer-actions2 {
    align-self: center;
  }
  .dealer-text14 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Source Sans Pro;
  }
  .dealer-text17 {
    color: rgb(0, 0, 0);
    font-family: STIXTwoText;
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .dealer-text18 {
    font-size: 32px;
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text19 {
    font-size: 32px;
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text20 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text21 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text22 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text23 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text24 {
    font-size: 26px;
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text25 {
    font-size: 26px;
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text26 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text27 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text28 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text29 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text30 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text31 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text32 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text33 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text34 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text35 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text36 {
    font-size: 26px;
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text37 {
    font-size: 26px;
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text38 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text39 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text40 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text41 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text42 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text43 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text44 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text45 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text46 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text47 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text48 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text49 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text50 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text51 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text52 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text53 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text54 {
    font-size: 26px;
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text55 {
    font-size: 26px;
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text56 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text57 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text58 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text59 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text60 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text61 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text62 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text63 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text64 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text65 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text66 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text67 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text68 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text69 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text70 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text71 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text72 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text73 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text74 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text75 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text76 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text77 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-footer {
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fourunits);
  }
  .dealer-description1 {
    line-height: 27px;
  }
  .dealer-description2 {
    color: rgb(255, 255, 255);
  }
  .dealer-copyright {
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 21px;
  }
}
@media(max-width: 767px) {
  .dealer-navbar {
    width: 100%;
    align-self: center;
    align-items: center;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
  }
  .dealer-text10 {
    font-size: 30px;
  }
  .dealer-desktop-menu {
    display: none;
  }
  .dealer-burger-menu {
    display: flex;
    align-self: center;
  }
  .dealer-icon10 {
    fill: #000000;
    width: 24px;
    height: 24px;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .dealer-mobile-menu {
    height: 100%;
    background-color: #ffffff;
  }
  .dealer-nav2 {
    gap: var(--dl-space-space-oneandhalfunits);
    height: auto;
  }
  .dealer-container12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .dealer-menu-close {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .dealer-icon12 {
    fill: #000000;
    width: var(--dl-size-size-small);
    height: auto;
  }
  .dealer-nav3 {
    gap: var(--dl-space-space-unit);
    color: #ffffff;
    width: 250px;
    height: 173px;
    align-self: center;
  }
  .dealer-link16 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .dealer-navlink2 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .dealer-navlink3 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .dealer-navlink4 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .dealer-link17 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .dealer-link18 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .dealer-text17 {
    color: rgb(0, 0, 0);
    font-family: STIXTwoText;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .dealer-footer {
    height: auto;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .dealer-description1 {
    font-size: 14px;
    line-height: 21px;
  }
  .dealer-description2 {
    font-size: 14px;
    line-height: 21px;
  }
  .dealer-text99 {
    font-size: 30px;
  }
}
@media(max-width: 479px) {
  .dealer-navbar {
    width: 100%;
  }
  .dealer-actions1 {
    width: 100%;
    flex-direction: column;
  }
  .dealer-button1 {
    width: 100%;
  }
  .dealer-icon10 {
    width: 24px;
    height: 24ll;
    padding: 0px;
    margin-top: var(--dl-space-space-unit);
  }
  .dealer-mobile-menu {
    padding: 16px;
    background-color: #ffffff;
  }
  .dealer-nav2 {
    height: 100%;
  }
  .dealer-menu-close {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .dealer-icon12 {
    fill: #000000;
    width: var(--dl-size-size-small);
    height: auto;
    position: static;
  }
  .dealer-nav3 {
    color: #ffffff;
    height: auto;
  }
  .dealer-link16 {
    fill: #000000;
    color: #000000;
    text-decoration: none;
  }
  .dealer-navlink3 {
    fill: #000000;
    color: #000000;
  }
  .dealer-navlink4 {
    fill: #000000;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .dealer-link17 {
    fill: #000000;
    color: #000000;
    text-decoration: none;
  }
  .dealer-link18 {
    fill: #000000;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .dealer-actions2 {
    width: auto;
    flex-direction: column;
  }
  .dealer-text17 {
    color: rgb(0, 0, 0);
    font-size: 15px;
    align-self: center;
    text-align: left;
    font-family: STIXTwoText;
    margin-bottom: var(--dl-space-space-unit);
  }
  .dealer-text18 {
    font-size: 26px;
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text19 {
    font-size: 26px;
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text20 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text21 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text22 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text23 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text24 {
    font-size: 20px;
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text25 {
    font-size: 20px;
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text26 {
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text27 {
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text28 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text29 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text30 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text31 {
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text32 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text33 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text34 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text35 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text36 {
    font-size: 20px;
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text37 {
    font-size: 24px;
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text38 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text39 {
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text40 {
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text41 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text42 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text43 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text44 {
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text45 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text46 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text47 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text48 {
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text49 {
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text50 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text51 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text52 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text53 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text54 {
    font-size: 20px;
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text55 {
    font-size: 24px;
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text56 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text57 {
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text58 {
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text59 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text60 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text61 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text62 {
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text63 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text64 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text65 {
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text66 {
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text67 {
    font-family: PlayfairDisplay-Bold;
  }
  .dealer-text68 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text69 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text70 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text71 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text72 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text73 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text74 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text75 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text76 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-text77 {
    font-family: PlayfairDisplay-Regular;
  }
  .dealer-footer {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .dealer-container19 {
    width: auto;
  }
  .dealer-description1 {
    align-self: center;
    text-align: center;
  }
  .dealer-description2 {
    align-self: center;
    text-align: center;
  }
  .dealer-container22 {
    width: auto;
    margin: var(--dl-space-space-halfunit);
    position: static;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .dealer-icon14 {
    width: 24px;
  }
  .dealer-icon16 {
    width: 24px;
  }
  .dealer-icon18 {
    width: 24px;
  }
  .dealer-container23 {
    position: static;
    padding-right: 0px;
  }
  .dealer-copyright {
    width: auto;
    font-size: 10px;
  }
}
