.feature-card2-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card2-image {
  width: 200px;
  object-fit: cover;
}
.feature-card2-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card2-text {
  color: #c6a577;
  font-size: 30px;
  font-weight: 600;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card2-text1 {
  color: #ffffff;
  font-size: 30px;
  margin-left: var(--dl-space-space-oneandhalfunits);
}








@media(max-width: 991px) {
  .feature-card2-image {
    width: 100px;
  }
  .feature-card2-text {
    font-size: 1.5rem;
  }
  .feature-card2-text1 {
    font-size: 15px;
  }
}
@media(max-width: 767px) {
  .feature-card2-feature-card {
    flex-direction: row;
  }
  .feature-card2-container {
    flex-direction: column;
  }
  .feature-card2-root-class-name {
    width: 100%;
  }
  .feature-card2-root-class-name4 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .feature-card2-image {
    width: var(--dl-size-size-medium);
  }
  .feature-card2-container {
    flex-direction: column;
  }
  .feature-card2-text {
    font-size: 1.5rem;
    margin-left: var(--dl-space-space-halfunit);
  }
  .feature-card2-text1 {
    font-size: 15px;
    margin-left: var(--dl-space-space-halfunit);
  }
  .feature-card2-root-class-name {
    width: auto;
    height: auto;
    margin-right: 0px;
  }
  .feature-card2-root-class-name2 {
    width: auto;
  }
  .feature-card2-root-class-name4 {
    width: auto;
    height: auto;
    margin-right: 0px;
  }
  .feature-card2-root-class-name6 {
    width: auto;
  }
}

.feature-card1311111-feature-card {
  width: 196px;
  height: 486px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 16px;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card1311111-feature-card:hover {
  transform: scale(1.02);
}
.feature-card1311111-text {
  color: #ffffff;
  font-size: 2.3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card1311111-image {
  width: 165px;
  height: 327px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.feature-card1311111-root-class-name {
  height: auto;
  max-width: auto;
}
.feature-card1311111-root-class-name1 {
  height: auto;
  max-width: auto;
}
.feature-card1311111-root-class-name2 {
  height: auto;
  max-width: auto;
}
.feature-card1311111-root-class-name3 {
  height: auto;
  max-width: auto;
}
.feature-card1311111-root-class-name4 {
  height: auto;
  max-width: auto;
}
.feature-card1311111-root-class-name5 {
  height: auto;
  max-width: auto;
}
.feature-card1311111-root-class-name6 {
  height: auto;
  max-width: auto;
}
.feature-card1311111-root-class-name7 {
  height: auto;
  max-width: auto;
}
.feature-card1311111-root-class-name8 {
  height: auto;
  max-width: auto;
}
.feature-card1311111-root-class-name9 {
  height: auto;
  max-width: auto;
}
.feature-card1311111-root-class-name10 {
  height: auto;
  max-width: auto;
}
@media(max-width: 479px) {
  .feature-card1311111-feature-card {
    width: auto;
    height: auto;
  }
  .feature-card1311111-image {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-large);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #101010;
}
.home-hero {
  width: 100%;
  height: 85vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
  background-color: #101010;
}
.home-background {
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #101010;
}
.home-image {
  width: 1440px;
  height: 100%;
  object-fit: cover;
}
.home-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.home-navlink {
  display: contents;
}
.home-text {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  text-decoration: none;
}
.home-desktop-menu {
  gap: var(--dl-space-space-threeunits);
  width: auto;
  display: flex;
}
.home-nav {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link {
  font-size: 30px;
  text-decoration: none;
}
.home-link1 {
  font-size: 30px;
  text-decoration: none;
}
.home-link2 {
  font-size: 30px;
  text-decoration: none;
}
.home-link3 {
  font-size: 30px;
  text-decoration: none;
}
.home-text04 {
  font-size: 10px;
}
.home-icon {
  width: 16px;
  height: 16px;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.home-nav1 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-text05 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink1 {
  text-decoration: none;
}
.home-navlink2 {
  text-decoration: none;
}
.home-navlink3 {
  text-decoration: none;
}
.home-link4 {
  text-decoration: none;
}
.home-icon-group {
  display: flex;
  z-index: 20;
}
.home-icons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.home-hero-content {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 964px;
  height: 225px;
  display: flex;
  z-index: 100;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text06 {
  color: rgb(198, 165, 119);
  width: 100%;
  z-index: 100;
  font-size: 60px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 1.1;
  padding-top: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: rgba(0, 0, 0, 0.7);
}
.home-text09 {
  color: #ffffff;
}
.home-notes {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-first {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-header {
  color: rgb(255, 255, 255);
  width: 1250px;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-fiveunits);
  font-weight: 600;
  line-height: 60px;
}
.home-text10 {
  color: #c6a577;
  font-size: 40px;
}
.home-register1 {
  color: #ffffff;
  text-decoration: none;
  background-color: rgb(170, 130, 255);
}
.home-text13 {
  font-size: 20px;
}
.home-icon06 {
  width: 16px;
  height: 16px;
}
.home-second {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.home-image1 {
  width: 589px;
  height: 428px;
}
.home-content1 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-header1 {
  color: rgb(255, 255, 255);
  width: 584px;
  font-size: 30px;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  font-weight: 600;
  line-height: 60px;
}
.home-text14 {
  color: #c6a577;
  font-size: 40px;
}
.home-register2 {
  color: #ffffff;
  text-decoration: none;
  background-color: rgb(170, 130, 255);
}
.home-text17 {
  font-size: 20px;
}
.home-icon08 {
  width: 16px;
  height: 16px;
}
.home-speakers {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #101010;
}
.home-header2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title {
  color: #c6a577;
  width: 930px;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
}
.home-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.home-row {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
}
.home-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
.home-image2 {
  width: auto;
  height: 527px;
  opacity: 0.5;
  align-self: flex-end;
  object-fit: cover;
  grid-template-columns: 1fr 1fr;
}
.home-container03 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-text18 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 40px;
  align-self: center;
  text-align: center;
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
.home-image3 {
  width: auto;
  height: 527px;
  opacity: 0.5;
  align-self: flex-end;
  object-fit: cover;
  grid-template-columns: 1fr 1fr;
}
.home-container05 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}
.home-text22 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 40px;
  align-self: center;
  text-align: center;
}
.home-watch {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: #101010;
}
.home-features {
  width: 100%;
  display: flex;
  max-width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.home-text26 {
  color: #c6a577;
  font-size: 2.3rem;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container06 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.home-features1 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
  background-color: #101010;
}
.home-text29 {
  color: #c6a577;
  font-size: 2.3rem;
  align-self: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-text32 {
  color: #ffffff;
  font-size: 30px;
}
.home-container07 {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.home-register3 {
  color: #ffffff;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  text-decoration: none;
  background-color: rgb(170, 130, 255);
}
.home-text36 {
  font-size: 20px;
}
.home-icon10 {
  width: 16px;
  height: 16px;
}
.home-container09 {
  width: 100%;
  height: 680px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text37 {
  color: #c6a577;
  font-size: 40px;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
}
.home-image4 {
  width: 100%;
  height: 573px;
  align-self: center;
  object-fit: cover;
}
.home-sponsors {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #101010;
}
.home-features2 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text38 {
  color: #c6a577;
  font-size: 2.3rem;
  align-self: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr;
}
.home-container11 {
  width: auto;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.home-why {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #000000;
}
.home-header3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.home-section-numeral {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.home-divide {
  width: 100px;
  height: 1px;
  display: flex;
  margin-top: 4px;
  align-items: center;
  flex-direction: row;
  background-color: #000000;
}
.home-heading1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title1 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
}
.home-brands {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-row1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-item {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-details {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title2 {
  color: #c6a577;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.home-description {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 27px;
}
.home-item1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-details1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title3 {
  color: #c6a577;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.home-description1 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 27px;
}
.home-item2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-details2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title4 {
  color: #c6a577;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.home-description2 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 27px;
}
.home-black {
  gap: 120px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/grainy-1500w.png");
}
.home-join {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-title5 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 40px;
  max-width: auto;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
}
.home-subscribe {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.home-main {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: flex-start;
  flex-direction: column;
}
.home-header4 {
  color: #ffffff;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 55px;
}
.home-content2 {
  gap: var(--dl-space-space-threeunits);
  width: 938px;
  display: flex;
  align-items: flex-start;
  margin-right: 21px;
  flex-direction: column;
}
.home-text43 {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.home-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #000000;
}
.home-image5 {
  top: 50px;
  right: 126px;
  width: 374px;
  height: 274px;
  position: absolute;
  object-fit: cover;
}
.home-content3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-details3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
}
.home-title6 {
  color: #ffffff;
  width: 100%;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
}
.home-description3 {
  color: #ffffff;
  width: 100%;
  font-size: 18px;
  line-height: 27px;
}
.home-copyright {
  color: #ffffff;
  width: 100%;
  font-size: 14px;
  line-height: 21px;
}
.home-container13 {
  display: contents;
}
.home-container15 {
  display: contents;
}
@media(max-width: 991px) {
  .home-image {
    width: 100%;
  }
  .home-navbar {
    width: 958px;
  }
  .home-text {
    align-self: center;
  }
  .home-text06 {
    width: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-first {
    flex-direction: column;
  }
  .home-content {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-header {
    width: 100%;
    font-size: 30px;
  }
  .home-register1 {
    align-self: flex-start;
  }
  .home-image1 {
    width: 327px;
    height: 258px;
  }
  .home-content1 {
    width: 100%;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-header1 {
    font-size: 30px;
    align-self: center;
  }
  .home-register2 {
    align-self: flex-start;
  }
  .home-header2 {
    max-width: 100%;
  }
  .home-heading {
    width: 100%;
  }
  .home-title {
    font-size: 40px;
    align-self: center;
    text-align: center;
  }
  .home-row {
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .home-container02 {
    width: 100%;
    height: 451px;
    position: relative;
    align-self: center;
    justify-content: flex-start;
  }
  .home-image2 {
    width: 100%;
    height: 454px;
    align-self: center;
  }
  .home-container03 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    margin: auto;
    position: absolute;
  }
  .home-text18 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 40px;
    align-self: center;
    text-align: center;
  }
  .home-text21 {
    font-size: 20px;
  }
  .home-container04 {
    width: 100%;
    height: 50%;
    position: relative;
    align-self: center;
    justify-content: flex-start;
  }
  .home-image3 {
    width: 100%;
    height: 486px;
    align-self: center;
  }
  .home-container05 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 467px;
    margin: auto;
    position: absolute;
    margin-bottom: auto;
    padding-bottom: 0px;
  }
  .home-text22 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 40px;
    align-self: center;
    text-align: center;
  }
  .home-text23 {
    font-size: 40px;
  }
  .home-text24 {
    font-size: 70px;
  }
  .home-text25 {
    font-size: 20px;
  }
  .home-watch {
    height: auto;
  }
  .home-text26 {
    align-self: center;
    text-align: center;
  }
  .home-container06 {
    width: auto;
  }
  .home-features1 {
    height: auto;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-text29 {
    align-self: center;
  }
  .home-text30 {
    align-self: center;
  }
  .home-text32 {
    color: #ffffff;
  }
  .home-container08 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-image4 {
    height: auto;
  }
  .home-features2 {
    padding: var(--dl-space-space-unit);
  }
  .home-text38 {
    align-self: center;
  }
  .home-container10 {
    grid-template-columns: 1fr;
  }
  .home-container11 {
    width: auto;
  }
  .home-header3 {
    max-width: 100%;
  }
  .home-heading1 {
    width: 100%;
  }
  .home-title1 {
    width: 100%;
    font-size: 40px;
    align-self: center;
    text-align: center;
  }
  .home-title2 {
    font-size: 40px;
  }
  .home-title3 {
    font-size: 40px;
  }
  .home-title4 {
    font-size: 40px;
  }
  .home-title5 {
    width: 907px;
    font-size: 40px;
  }
  .home-header4 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
  }
  .home-content2 {
    width: auto;
    height: auto;
  }
  .home-text43 {
    color: rgb(255, 255, 255);
    font-size: 14px;
  }
  .home-image5 {
    right: 0px;
  }
  .home-description3 {
    line-height: 27px;
  }
}
@media(max-width: 767px) {
  .home-hero {
    height: 60vh;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-image {
    width: 100%;
    height: 100%;
  }
  .home-navbar {
    width: 100%;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-icon02 {
    fill: white;
  }
  .home-mobile-menu {
    background-color: #101010;
  }
  .home-nav1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text05 {
    color: #ffffff;
  }
  .home-nav2 {
    gap: var(--dl-space-space-unit);
    color: #ffffff;
    width: 250px;
    height: 173px;
    align-self: center;
  }
  .home-navlink1 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .home-navlink2 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .home-navlink3 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .home-link4 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .home-icon-group {
    width: 100%;
    justify-content: flex-start;
  }
  .home-hero-content {
    gap: var(--dl-space-space-oneandhalfunits);
    width: auto;
  }
  .home-text06 {
    width: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-content {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-register1 {
    width: 100%;
  }
  .home-content1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-header1 {
    width: auto;
  }
  .home-register2 {
    width: 100%;
  }
  .home-speakers {
    gap: var(--dl-space-space-twounits);
    height: auto;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-heading {
    gap: var(--dl-space-space-unit);
  }
  .home-title {
    font-size: 30px;
    line-height: 33px;
  }
  .home-row {
    flex-direction: column;
    grid-template-columns: 1fr ;
  }
  .home-container02 {
    height: 526px;
    position: relative;
  }
  .home-image2 {
    width: 726px;
    height: 527px;
    opacity: 0.5;
    align-self: flex-start;
  }
  .home-container03 {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    margin: auto;
    position: absolute;
  }
  .home-text18 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 70px;
    align-self: center;
    text-align: center;
  }
  .home-text19 {
    font-size: 40px;
  }
  .home-text20 {
    font-size: 70px;
  }
  .home-text21 {
    font-size: 20px;
  }
  .home-container04 {
    height: auto;
    position: relative;
    margin-top: var(--dl-space-space-unit);
  }
  .home-image3 {
    width: 726px;
    height: 527px;
    opacity: 0.5;
    align-self: flex-start;
  }
  .home-container05 {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    margin: auto;
    position: absolute;
    padding-bottom: 0px;
  }
  .home-text22 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 40px;
    align-self: center;
    text-align: center;
  }
  .home-text23 {
    font-size: 40px;
  }
  .home-text24 {
    font-size: 70px;
  }
  .home-text25 {
    font-size: 20px;
  }
  .home-watch {
    height: auto;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text26 {
    font-size: 2.3rem;
  }
  .home-container06 {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .home-features1 {
    height: auto;
    max-width: 100%;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
  .home-text32 {
    color: #ffffff;
  }
  .home-container08 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-register3 {
    width: 100%;
  }
  .home-container09 {
    height: auto;
  }
  .home-text37 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-sponsors {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-features2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container11 {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .home-why {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-divide {
    width: 50px;
  }
  .home-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .home-title1 {
    font-size: 30px;
    line-height: 33px;
  }
  .home-row1 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-item {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-details {
    gap: var(--dl-space-space-unit);
  }
  .home-title2 {
    font-size: 24px;
    line-height: 28px;
  }
  .home-description {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .home-item1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-details1 {
    gap: var(--dl-space-space-unit);
  }
  .home-title3 {
    font-size: 24px;
    line-height: 28px;
  }
  .home-description1 {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .home-item2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-details2 {
    gap: var(--dl-space-space-unit);
  }
  .home-title4 {
    font-size: 24px;
    line-height: 28px;
  }
  .home-description2 {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .home-black {
    gap: var(--dl-space-space-fourunits);
    padding-bottom: 0px;
  }
  .home-join {
    height: 100%;
    align-items: stretch;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    justify-content: space-between;
  }
  .home-title5 {
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: var(--dl-space-space-twounits);
    font-size: 30px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    line-height: 33px;
  }
  .home-subscribe {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-main {
    gap: var(--dl-space-space-threeunits);
  }
  .home-header4 {
    font-size: 30px;
    line-height: 33px;
  }
  .home-content2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text43 {
    width: auto;
    font-size: 10px;
  }
  .home-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-image5 {
    right: 0px;
    width: 232px;
    height: 156px;
  }
  .home-content3 {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-title6 {
    font-size: 24px;
    line-height: 34px;
  }
  .home-description3 {
    font-size: 14px;
    line-height: 21px;
  }
}
@media(max-width: 479px) {
  .home-navbar {
    width: 100%;
  }
  .home-mobile-menu {
    padding: 16px;
    background-color: #101010;
  }
  .home-nav1 {
    height: 100%;
  }
  .home-text05 {
    color: #ffffff;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
  }
  .home-nav2 {
    color: #ffffff;
  }
  .home-navlink1 {
    color: #ffffff;
  }
  .home-navlink2 {
    color: #ffffff;
  }
  .home-navlink3 {
    color: #ffffff;
  }
  .home-link4 {
    color: #ffffff;
  }
  .home-icon-group {
    justify-content: center;
  }
  .home-hero-content {
    height: 138px;
    max-width: auto;
  }
  .home-text06 {
    width: 100%;
    font-size: 40px;
  }
  .home-content {
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-header {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 600;
    line-height: 36px;
  }
  .home-register1 {
    width: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text13 {
    font-size: 15px;
  }
  .home-second {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .home-image1 {
    width: 204px;
    height: 156px;
  }
  .home-content1 {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-header1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    margin-top: 0px;
    font-weight: 600;
    line-height: 36px;
  }
  .home-register2 {
    width: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text17 {
    font-size: 15px;
  }
  .home-speakers {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-row {
    height: 434px;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .home-container02 {
    height: auto;
    position: relative;
  }
  .home-image2 {
    width: 100%;
    height: 200px;
    align-self: center;
    padding-bottom: 0px;
  }
  .home-container03 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 430px;
    height: auto;
    margin: auto;
    position: absolute;
    text-align: center;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-text18 {
    color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    font-size: 40px;
    align-self: center;
    text-align: center;
  }
  .home-text19 {
    font-size: 40px;
  }
  .home-text20 {
    font-size: 40px;
  }
  .home-text21 {
    font-size: 20px;
  }
  .home-container04 {
    height: auto;
    position: relative;
    margin-top: var(--dl-space-space-twounits);
  }
  .home-image3 {
    height: 200px;
    align-self: center;
  }
  .home-container05 {
    top: 0px;
    left: 0px;
    right: 0px;
    height: auto;
    margin: auto;
    position: absolute;
    text-align: center;
    align-items: flex-start;
    padding-bottom: 0px;
    justify-content: flex-start;
  }
  .home-text22 {
    color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    font-size: 70px;
    align-self: center;
    text-align: center;
  }
  .home-text23 {
    font-size: 40px;
  }
  .home-text24 {
    font-size: 70px;
  }
  .home-text25 {
    font-size: 20px;
  }
  .home-watch {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text26 {
    font-size: 1.5rem;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-container06 {
    width: auto;
    align-self: stretch;
    margin-right: 0px;
  }
  .home-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text29 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text32 {
    color: #ffffff;
    font-size: 15px;
  }
  .home-text33 {
    color: #ffffff;
  }
  .home-container08 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-register3 {
    width: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text36 {
    font-size: 15px;
  }
  .home-container09 {
    height: auto;
    margin-bottom: 0px;
  }
  .home-text37 {
    font-size: 30px;
  }
  .home-image4 {
    height: 178px;
  }
  .home-sponsors {
    padding-top: 4px;
  }
  .home-features2 {
    height: auto;
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-text38 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin-bottom: 0px;
  }
  .home-container10 {
    grid-gap: var(--dl-space-space-halfunit);
  }
  .home-container11 {
    width: auto;
    align-self: stretch;
    margin-right: 0px;
  }
  .home-divide {
    width: 20px;
  }
  .home-text39 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-description {
    font-size: 15px;
  }
  .home-description1 {
    font-size: 15px;
  }
  .home-description2 {
    font-size: 15px;
  }
  .home-title5 {
    padding: var(--dl-space-space-twounits);
    align-self: center;
    margin-top: 0px;
    text-align: left;
  }
  .home-header4 {
    padding: var(--dl-space-space-twounits);
    margin-top: 0px;
  }
  .home-content2 {
    width: 100%;
  }
  .home-image5 {
    top: 0px;
    right: 0px;
    width: var(--dl-size-size-large);
    bottom: 0px;
    height: auto;
    margin: var(--dl-space-space-twounits);
  }
  .home-copyright {
    width: var(--dl-size-size-xxlarge);
  }
}
