.nft-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #101010;
}
.nft-hero {
  width: 100%;
  height: 85vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
  background-color: #101010;
}
.nft-background {
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #101010;
}
.nft-image {
  width: 1440px;
  height: 100%;
  object-fit: cover;
}
.nft-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.nft-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.nft-navlink {
  display: contents;
}
.nft-image1 {
  width: auto;
  height: var(--dl-size-size-small);
  object-fit: cover;
  text-decoration: none;
}
.nft-text {
  color: #ffffff;
  align-self: center;
  text-align: center;
}
.nft-desktop-menu {
  gap: var(--dl-space-space-threeunits);
  width: auto;
  display: flex;
}
.nft-nav {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nft-link {
  font-size: 30px;
  text-decoration: none;
}
.nft-link1 {
  font-size: 30px;
  text-decoration: none;
}
.nft-link2 {
  font-size: 30px;
  text-decoration: none;
}
.nft-link3 {
  font-size: 30px;
  text-decoration: none;
}
.nft-register {
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.nft-text4 {
  font-size: 10px;
}
.nft-icon {
  width: 16px;
  height: 16px;
}
.nft-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.nft-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.nft-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.nft-nav1 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.nft-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.nft-navlink1 {
  display: contents;
}
.nft-text5 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  text-decoration: none;
}
.nft-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nft-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.nft-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nft-navlink2 {
  text-decoration: none;
}
.nft-navlink3 {
  text-decoration: none;
}
.nft-navlink4 {
  text-decoration: none;
}
.nft-link4 {
  text-decoration: none;
}
.nft-icon-group {
  display: flex;
  z-index: 20;
}
.nft-icons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.nft-hero-content {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 964px;
  height: 225px;
  display: flex;
  z-index: 100;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.nft-text6 {
  color: rgb(198, 165, 119);
  width: 100%;
  z-index: 100;
  font-size: 60px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 1.1;
  padding-top: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: rgba(0, 0, 0, 0.7);
}
.nft-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #000000;
}
.nft-navlink5 {
  display: contents;
}
.nft-image2 {
  top: 50px;
  right: 126px;
  width: 374px;
  height: 274px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.nft-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.nft-details {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
}
.nft-title {
  color: #ffffff;
  width: 100%;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
}
.nft-description {
  color: #ffffff;
  width: 100%;
  font-size: 18px;
  line-height: 27px;
}
.nft-copyright {
  color: #ffffff;
  width: 100%;
  font-size: 14px;
  line-height: 21px;
}
@media(max-width: 991px) {
  .nft-image {
    width: 100%;
  }
  .nft-navbar {
    width: 958px;
  }
  .nft-text6 {
    width: auto;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .nft-description {
    line-height: 27px;
  }
}
@media(max-width: 767px) {
  .nft-hero {
    height: 60vh;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .nft-image {
    width: 100%;
    height: 100%;
  }
  .nft-navbar {
    width: 100%;
  }
  .nft-desktop-menu {
    display: none;
  }
  .nft-burger-menu {
    display: flex;
  }
  .nft-icon2 {
    fill: white;
  }
  .nft-mobile-menu {
    background-color: #101010;
  }
  .nft-nav1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .nft-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .nft-text5 {
    color: #ffffff;
  }
  .nft-nav2 {
    gap: var(--dl-space-space-unit);
    color: #ffffff;
    width: 250px;
    height: 173px;
    align-self: center;
  }
  .nft-navlink2 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .nft-navlink3 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .nft-navlink4 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .nft-link4 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .nft-icon-group {
    width: 100%;
    justify-content: flex-start;
  }
  .nft-hero-content {
    gap: var(--dl-space-space-oneandhalfunits);
    width: auto;
  }
  .nft-text6 {
    width: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .nft-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .nft-image2 {
    right: 0px;
    width: 204px;
    height: 83px;
  }
  .nft-content {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .nft-title {
    font-size: 24px;
    line-height: 34px;
  }
  .nft-description {
    font-size: 14px;
    line-height: 21px;
  }
}
@media(max-width: 479px) {
  .nft-navbar {
    width: 100%;
  }
  .nft-mobile-menu {
    padding: 16px;
    background-color: #101010;
  }
  .nft-nav1 {
    height: 100%;
  }
  .nft-text5 {
    color: #ffffff;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
  }
  .nft-nav2 {
    color: #ffffff;
  }
  .nft-navlink2 {
    color: #ffffff;
  }
  .nft-navlink3 {
    color: #ffffff;
  }
  .nft-navlink4 {
    color: #ffffff;
    align-self: center;
  }
  .nft-link4 {
    color: #ffffff;
  }
  .nft-icon-group {
    justify-content: center;
  }
  .nft-hero-content {
    height: 138px;
    max-width: auto;
  }
  .nft-text6 {
    width: 466px;
    font-size: 50px;
  }
  .nft-image2 {
    top: 29px;
    right: 0px;
    width: 184px;
    height: 111px;
  }
}
