.hero22-header5 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  justify-content: flex-end;
}
.hero22-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: absolute;
  object-fit: cover;
}
.hero22-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero22-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: 300px;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.hero22-column {
  gap: 24px;
  width: auto;
  display: flex;
  z-index: 1;
  max-width: 560px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.hero22-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero22-text {
  fill: #ffffff;
  color: #ffffff;
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.hero22-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.hero22-container1 {
  display: flex;
  align-items: flex-start;
}
.hero22-button {
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
.hero22-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.hero22-root-class-name {
  height: auto;
}
.hero22-root-class-name1 {
  height: auto;
}
.hero22-root-class-name2 {
  height: auto;
  align-self: center;
}
@media(max-width: 767px) {
  .hero22-header5 {
    justify-content: center;
  }
  .hero22-max-width {
    justify-content: center;
  }
  .hero22-column {
    width: 100%;
  }
  .hero22-text {
    font-size: 36px;
    text-align: left;
  }
  .hero22-actions {
    width: 100%;
    align-self: flex-start;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .hero22-actions {
    flex-direction: column;
  }
  .hero22-container1 {
    width: 100%;
  }
  .hero22-button {
    width: auto;
  }
  .hero22-container2 {
    width: 100%;
  }
}

.nft-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.nft-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.nft-container01 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.nft-text {
  font-size: 36px;
  margin-top: var(--dl-space-space-unit);
  font-family: "PlayfairDisplay-Bold";
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.nft-desktop-menu {
  top: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: absolute;
  align-self: stretch;
  align-items: flex-end;
  padding-top: auto;
  padding-left: auto;
  padding-right: auto;
  flex-direction: row;
  padding-bottom: auto;
  justify-content: space-between;
}
.nft-nav {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.nft-navlink {
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.nft-link {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.nft-link01 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.nft-link02 {
  fill: #000000;
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
}
.nft-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.nft-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
}
.nft-dropdown-arrow {
  transition: 0.3s;
}
.nft-link03 {
  fill: #000000;
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
}
.nft-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-black);
  list-style-position: inside;
}
.nft-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.nft-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.nft-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.nft-text01 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.nft-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.nft-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.nft-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.nft-text02 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.nft-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.nft-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.nft-actions {
  display: flex;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.nft-button {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.nft-text03 {
  fill: #ffffff;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  font-family: "Source Sans Pro";
}
.nft-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.nft-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.nft-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.nft-nav1 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.nft-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.nft-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nft-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.nft-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nft-link06 {
  text-decoration: none;
}
.nft-navlink1 {
  text-decoration: none;
}
.nft-navlink2 {
  text-decoration: none;
}
.nft-navlink3 {
  text-decoration: none;
}
.nft-link07 {
  text-decoration: none;
}
.nft-link08 {
  text-decoration: none;
}
.nft-text04 {
  font-size: 32px;
  align-self: center;
  font-family: "PlayfairDisplay-Bold";
  padding-top: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.nft-iframe {
  width: 800px;
  height: 450px;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.nft-features {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
  background-color: #ffffff;
}
.nft-container03 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.nft-text08 {
  font-size: 30px;
  align-self: center;
  font-family: "PlayfairDisplay-Bold";
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.nft-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.nft-image {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.nft-image01 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.nft-image02 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.nft-text11 {
  font-size: 30px;
  align-self: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.nft-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.nft-image03 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.nft-image04 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.nft-image05 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.nft-text12 {
  font-size: 30px;
  align-self: center;
  font-family: "PlayfairDisplay-Bold";
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.nft-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.nft-image06 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.nft-image07 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.nft-image08 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.nft-text13 {
  font-size: 30px;
  align-self: center;
  font-family: "PlayfairDisplay-Bold";
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.nft-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.nft-image09 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.nft-image10 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.nft-image11 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.nft-footer {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #000000;
}
.nft-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nft-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.nft-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.nft-description {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 27px;
  margin-left: 0px;
}
.nft-description1 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 27px;
  margin-left: 0px;
}
.nft-container11 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: center;
}
.nft-link09 {
  display: contents;
}
.nft-icon04 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.nft-link10 {
  display: contents;
}
.nft-icon06 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.nft-link11 {
  display: contents;
}
.nft-icon08 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.nft-container12 {
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.nft-text14 {
  fill: #ffffff;
  color: #ffffff;
  font-size: 36px;
  margin-top: 0px;
  font-family: "PlayfairDisplay-Bold";
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
  text-decoration: none;
}
.nft-copyright {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 21px;
}
@media(max-width: 991px) {
  .nft-navbar {
    width: 958px;
  }
  .nft-desktop-menu {
    top: 0px;
    right: 0px;
    position: absolute;
  }
  .nft-nav {
    align-self: center;
  }
  .nft-navlink {
    font-size: 16px;
  }
  .nft-link {
    font-size: 16px;
  }
  .nft-link01 {
    font-size: 16px;
  }
  .nft-link02 {
    font-size: 16px;
  }
  .nft-link03 {
    font-size: 16px;
  }
  .nft-actions {
    align-self: center;
  }
  .nft-text03 {
    font-size: 16px;
  }
  .nft-iframe {
    width: 800px;
    height: 450px;
  }
  .nft-features {
    height: auto;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nft-container04 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nft-container05 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nft-container06 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nft-container07 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nft-footer {
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fourunits);
  }
  .nft-description {
    line-height: 27px;
  }
  .nft-description1 {
    color: rgb(255, 255, 255);
  }
  .nft-copyright {
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 21px;
  }
}
@media(max-width: 767px) {
  .nft-navbar {
    width: 100%;
    align-self: center;
    align-items: center;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
  }
  .nft-text {
    font-size: 30px;
  }
  .nft-desktop-menu {
    display: none;
  }
  .nft-burger-menu {
    display: flex;
    align-self: center;
  }
  .nft-icon {
    fill: #000000;
    width: 24px;
    height: 24px;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .nft-mobile-menu {
    height: 100%;
    background-color: #ffffff;
  }
  .nft-nav1 {
    gap: var(--dl-space-space-oneandhalfunits);
    height: auto;
  }
  .nft-container02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .nft-menu-close {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .nft-icon02 {
    fill: #000000;
    width: var(--dl-size-size-small);
    height: auto;
  }
  .nft-nav2 {
    gap: var(--dl-space-space-unit);
    color: #ffffff;
    width: 250px;
    height: 173px;
    align-self: center;
  }
  .nft-link06 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .nft-navlink1 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .nft-navlink2 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .nft-navlink3 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .nft-link07 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .nft-link08 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .nft-text04 {
    font-size: 26px;
    text-align: center;
  }
  .nft-iframe {
    width: 400px;
    height: 200px;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .nft-features {
    height: auto;
    max-width: 100%;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
  .nft-text08 {
    font-size: 24px;
    text-align: center;
  }
  .nft-text09 {
    text-align: center;
  }
  .nft-container04 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nft-image {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .nft-image01 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .nft-image02 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .nft-text11 {
    font-size: 24px;
    text-align: center;
  }
  .nft-container05 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nft-image03 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .nft-image04 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .nft-image05 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .nft-text12 {
    font-size: 24px;
    text-align: center;
  }
  .nft-container06 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nft-image06 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .nft-image07 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .nft-image08 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .nft-text13 {
    font-size: 24px;
    text-align: center;
  }
  .nft-container07 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nft-image09 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .nft-image10 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .nft-image11 {
    width: var(--dl-size-size-xlarge);
    height: var(--dl-size-size-xlarge);
  }
  .nft-footer {
    height: auto;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .nft-description {
    font-size: 14px;
    line-height: 21px;
  }
  .nft-description1 {
    font-size: 14px;
    line-height: 21px;
  }
  .nft-text14 {
    font-size: 30px;
  }
}
@media(max-width: 479px) {
  .nft-navbar {
    width: 100%;
  }
  .nft-actions {
    width: 100%;
    flex-direction: column;
  }
  .nft-button {
    width: 100%;
  }
  .nft-icon {
    width: 24px;
    height: 24ll;
    padding: 0px;
    margin-top: var(--dl-space-space-unit);
  }
  .nft-mobile-menu {
    padding: 16px;
    background-color: #ffffff;
  }
  .nft-nav1 {
    height: 100%;
  }
  .nft-menu-close {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .nft-icon02 {
    fill: #000000;
    width: var(--dl-size-size-small);
    height: auto;
    position: static;
  }
  .nft-nav2 {
    color: #ffffff;
    height: auto;
  }
  .nft-link06 {
    fill: #000000;
    color: #000000;
    text-decoration: none;
  }
  .nft-navlink2 {
    fill: #000000;
    color: #000000;
  }
  .nft-navlink3 {
    fill: #000000;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .nft-link07 {
    fill: #000000;
    color: #000000;
    text-decoration: none;
  }
  .nft-link08 {
    fill: #000000;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .nft-text04 {
    font-size: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .nft-iframe {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .nft-features {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .nft-container04 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nft-image {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
  }
  .nft-image01 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
  }
  .nft-image02 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
  }
  .nft-container05 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nft-image03 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
  }
  .nft-image04 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
  }
  .nft-image05 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
  }
  .nft-container06 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nft-image06 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
  }
  .nft-image07 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
  }
  .nft-image08 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
  }
  .nft-container07 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nft-image09 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
  }
  .nft-image10 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
  }
  .nft-image11 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
  }
  .nft-footer {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .nft-container08 {
    width: auto;
  }
  .nft-description {
    align-self: center;
    text-align: center;
  }
  .nft-description1 {
    align-self: center;
    text-align: center;
  }
  .nft-container11 {
    width: auto;
    margin: var(--dl-space-space-halfunit);
    position: static;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .nft-icon04 {
    width: 24px;
  }
  .nft-icon06 {
    width: 24px;
  }
  .nft-icon08 {
    width: 24px;
  }
  .nft-container12 {
    position: static;
    padding-right: 0px;
  }
  .nft-copyright {
    width: auto;
    font-size: 10px;
  }
}
