.nft-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #101010;
}
.nft-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.nft-navlink {
  display: contents;
}
.nft-text {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  text-decoration: none;
}
.nft-desktop-menu {
  gap: var(--dl-space-space-threeunits);
  display: none;
}
.nft-text04 {
  font-size: 10px;
}
.nft-icon {
  width: 16px;
  height: 16px;
}
.nft-burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nft-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.nft-nav {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.nft-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.nft-text05 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
}
.nft-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nft-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.nft-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nft-button-container {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.nft-login {
  margin-right: var(--dl-space-space-twounits);
}
.nft-icon-group {
  display: flex;
  z-index: 20;
}
.nft-icons {
  display: flex;
}
.nft-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.nft-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.nft-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.nft-hero {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  min-height: 80vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: background: hsla(242, 80%, 54%, 1);  background: linear-gradient(90deg, hsla(242, 80%, 54%, 1) 0%, hsla(304, 72%, 82%, 1) 100%);  background: -moz-linear-gradient(90deg, hsla(242, 80%, 54%, 1) 0%, hsla(304, 72%, 82%, 1) 100%);  background: -webkit-linear-gradient(90deg, hsla(242, 80%, 54%, 1) 0%, hsla(304, 72%, 82%, 1) 100%);  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#322CE7", endColorstr="#F2AEEE", GradientType=1 );;
}
.nft-text11 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
}
.nft-btn-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nft-navlink1 {
  display: contents;
}
.nft-text15 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  text-decoration: none;
}
.nft-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #000000;
}
.nft-navlink2 {
  display: contents;
}
.nft-image {
  top: 50px;
  right: 126px;
  width: 374px;
  height: 274px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.nft-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.nft-details {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
}
.nft-title {
  color: #ffffff;
  width: 100%;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
}
.nft-description {
  color: #ffffff;
  width: 100%;
  font-size: 18px;
  line-height: 27px;
}
.nft-copyright {
  color: #ffffff;
  width: 100%;
  font-size: 14px;
  line-height: 21px;
}
@media(max-width: 1440px) {
  .nft-desktop-menu {
    display: none;
  }
  .nft-burger-menu {
    display: flex;
  }
}
@media(max-width: 991px) {
  .nft-navbar {
    width: 958px;
  }
  .nft-text {
    align-self: center;
    text-align: left;
  }
  .nft-hero {
    flex-direction: column;
  }
  .nft-text11 {
    text-align: center;
  }
  .nft-text15 {
    align-self: center;
    text-align: left;
  }
  .nft-description {
    line-height: 27px;
  }
}
@media(max-width: 767px) {
  .nft-navbar {
    width: 100%;
  }
  .nft-nav {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .nft-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .nft-text05 {
    color: #000000;
  }
  .nft-nav1 {
    gap: var(--dl-space-space-unit);
  }
  .nft-text06 {
    color: #000000;
  }
  .nft-text07 {
    color: rgb(0, 0, 0);
  }
  .nft-text08 {
    color: rgb(0, 0, 0);
  }
  .nft-text09 {
    color: rgb(0, 0, 0);
  }
  .nft-text10 {
    color: rgb(0, 0, 0);
  }
  .nft-button-container {
    gap: var(--dl-space-space-unit);
    width: 50%;
    margin-top: 0px;
    align-items: flex-start;
    flex-direction: column;
  }
  .nft-login {
    width: 100%;
    border-width: 1px;
    margin-right: 0px;
  }
  .nft-register1 {
    width: 100%;
    border-width: 1px;
  }
  .nft-icon-group {
    width: 100%;
    justify-content: flex-start;
  }
  .nft-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .nft-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .nft-image {
    right: 0px;
    width: 204px;
    height: 83px;
  }
  .nft-content {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .nft-title {
    font-size: 24px;
    line-height: 34px;
  }
  .nft-description {
    font-size: 14px;
    line-height: 21px;
  }
}
@media(max-width: 479px) {
  .nft-navbar {
    width: 100%;
  }
  .nft-mobile-menu {
    padding: 16px;
  }
  .nft-button-container {
    width: 100%;
  }
  .nft-icon-group {
    justify-content: center;
  }
  .nft-hero {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .nft-btn-group {
    flex-direction: column;
  }
  .nft-image {
    top: 29px;
    right: 0px;
    width: 184px;
    height: 111px;
  }
}
