.partnership-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-black);
}
.partnership-text {
  color: #ffffff;
  margin-top: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.partnership-form {
  width: var(--dl-size-size-xxlarge);
  height: auto;
  display: flex;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.partnership-textinput {
  opacity: 0;
}
.partnership-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.partnership-text01 {
  color: rgb(255, 255, 255);
}
.partnership-text02 {
  color: var(--dl-color-danger-700);
}
.partnership-textinput1 {
  width: auto;
  margin-bottom: var(--dl-space-space-unit);
}
.partnership-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.partnership-text03 {
  color: rgb(255, 255, 255);
}
.partnership-text04 {
  color: var(--dl-color-danger-700);
}
.partnership-textinput2 {
  margin-bottom: var(--dl-space-space-unit);
}
.partnership-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.partnership-text05 {
  color: rgb(255, 255, 255);
}
.partnership-text06 {
  color: var(--dl-color-danger-700);
}
.partnership-textinput3 {
  margin-bottom: var(--dl-space-space-unit);
}
.partnership-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.partnership-text07 {
  color: rgb(255, 255, 255);
}
.partnership-text08 {
  color: var(--dl-color-danger-700);
}
.partnership-textinput4 {
  margin-bottom: var(--dl-space-space-unit);
}
.partnership-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.partnership-text09 {
  color: rgb(255, 255, 255);
}
.partnership-text10 {
  color: var(--dl-color-danger-700);
}
.partnership-textinput5 {
  margin-bottom: var(--dl-space-space-unit);
}
.partnership-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.partnership-text11 {
  color: rgb(255, 255, 255);
}
.partnership-text12 {
  color: var(--dl-color-danger-700);
}
.partnership-textinput6 {
  margin-bottom: var(--dl-space-space-unit);
}
.partnership-container7 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.partnership-text13 {
  color: rgb(255, 255, 255);
}
.partnership-text15 {
  font-size: 12px;
}
.partnership-text16 {
  font-size: 12px;
}
.partnership-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.partnership-checkbox {
  align-self: center;
}
.partnership-link {
  color: rgb(255, 255, 255);
  font-size: 10px;
  align-self: center;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.partnership-text17 {
  color: #ff9100;
  font-size: 10px;
  align-self: center;
  margin-left: 0px;
  text-decoration: none;
}
.partnership-text18 {
  color: var(--dl-color-danger-700);
  font-size: 10px;
}
.partnership-button {
  margin-top: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.partnership-text19 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
