.hero21-wrapper {
  display: contents;
}
.hero21-header5 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero21-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  object-fit: cover;
}
.hero21-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero21-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.hero21-column {
  gap: 24px;
  width: auto;
  display: flex;
  z-index: 1;
  max-width: 700px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.hero21-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.partnership-fragment2 {
  display: contents;
}
.partnership-text15 {
  display: inline-block;
  font-size: 20px;
  font-family: "Open Sans";
}
.partnership-fragment1 {
  display: contents;
}
.partnership-text14 {
  width: auto;
  display: inline-block;
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.hero21root-class-name {
  height: auto;
}
.hero21root-class-name1 {
  height: auto;
}
.hero21root-class-name2 {
  height: 100%;
}
.hero21root-class-name3 {
  height: 100%;
}
.hero21root-class-name4 {
  height: 100%;
}
.hero21root-class-name5 {
  height: 100%;
}
.hero21root-class-name6 {
  height: 100%;
}
@media(max-width: 991px) {
  .partnership-text15 {
    font-size: 22px;
  }
}
@media(max-width: 767px) {
  .hero21-header5 {
    justify-content: center;
  }
  .hero21-max-width {
    justify-content: center;
  }
  .hero21-column {
    width: 100%;
  }
  .partnership-text15 {
    font-size: 16px;
  }
  .partnership-text14 {
    font-size: 26px;
    text-align: left;
  }
}
@media(max-width: 479px) {
  .partnership-text15 {
    font-size: 16px;
  }
  .partnership-text14 {
    font-size: 26px;
  }
}

.partnership-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.partnership-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.partnership-container11 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.partnership-text10 {
  font-size: 36px;
  margin-top: var(--dl-space-space-unit);
  font-family: "PlayfairDisplay-Bold";
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.partnership-desktop-menu {
  top: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: absolute;
  align-self: stretch;
  align-items: flex-end;
  padding-top: auto;
  padding-left: auto;
  padding-right: auto;
  flex-direction: row;
  padding-bottom: auto;
  justify-content: space-between;
}
.partnership-nav1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.partnership-navlink1 {
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.partnership-link10 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.partnership-link11 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.partnership-link12 {
  fill: #000000;
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
}
.partnership-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.partnership-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
}
.partnership-dropdown-arrow {
  transition: 0.3s;
}
.partnership-link13 {
  fill: #000000;
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
}
.partnership-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-black);
  list-style-position: inside;
}
.partnership-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.partnership-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.partnership-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.partnership-text11 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.partnership-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.partnership-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.partnership-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.partnership-text12 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.partnership-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.partnership-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.partnership-actions {
  display: flex;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.partnership-button1 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.partnership-text13 {
  fill: #ffffff;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  font-family: "Source Sans Pro";
}
.partnership-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.partnership-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.partnership-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.partnership-nav2 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.partnership-container12 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.partnership-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partnership-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.partnership-nav3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.partnership-link16 {
  text-decoration: none;
}
.partnership-navlink2 {
  text-decoration: none;
}
.partnership-navlink3 {
  text-decoration: none;
}
.partnership-navlink4 {
  text-decoration: none;
}
.partnership-link17 {
  text-decoration: none;
}
.partnership-link18 {
  text-decoration: none;
}
.partnership-fragment1 {
  display: contents;
}
.partnership-text14 {
  width: auto;
  display: inline-block;
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.partnership-fragment2 {
  display: contents;
}
.partnership-text15 {
  display: inline-block;
  font-size: 20px;
  font-family: "Open Sans";
}
.partnership-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.partnership-content1 {
  align-self: stretch;
  align-items: center;
}
.partnership-feature11 {
  height: 100%;
  align-items: flex-start;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
}
.partnership-feature1-title1 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.partnership-feature1-description1 {
  font-family: "Open Sans";
}
.partnership-feature21 {
  height: 100%;
  align-items: flex-start;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
}
.partnership-feature2-image1 {
  height: auto;
}
.partnership-feature2-title1 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.partnership-feature2-description1 {
  font-family: "Open Sans";
}
.partnership-content2 {
  align-self: stretch;
  align-items: center;
}
.partnership-feature12 {
  height: 100%;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
}
.partnership-feature1-title2 {
  font-size: 30px;
  text-align: left;
  font-family: "PlayfairDisplay-Bold";
}
.partnership-feature1-description2 {
  font-family: "Open Sans";
}
.partnership-feature22 {
  height: 100%;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
}
.partnership-feature2-title2 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.partnership-feature2-description2 {
  font-family: "Open Sans";
}
.partnership-text32 {
  fill: #000000;
  color: rgb(0, 0, 0);
  width: auto;
  font-size: 16px;
  align-self: center;
  text-align: left;
  font-family: "Open Sans";
  padding-top: 0px;
  padding-left: 200px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 200px;
  padding-bottom: var(--dl-space-space-threeunits);
}
.partnership-form {
  width: 50%;
  height: auto;
  display: flex;
  padding-left: var(--dl-space-space-sixunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.partnership-input {
  opacity: 0;
}
.partnership-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.partnership-text47 {
  fill: #000000;
  color: #000000;
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.partnership-text48 {
  color: var(--dl-color-danger-700);
}
.partnership-textinput1 {
  width: auto;
  margin-bottom: var(--dl-space-space-unit);
}
.partnership-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.partnership-text49 {
  fill: #000000;
  color: #000000;
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.partnership-text50 {
  color: var(--dl-color-danger-700);
}
.partnership-textinput2 {
  margin-bottom: var(--dl-space-space-unit);
}
.partnership-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.partnership-text51 {
  fill: #000000;
  color: #000000;
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.partnership-text52 {
  color: var(--dl-color-danger-700);
}
.partnership-textinput3 {
  margin-bottom: var(--dl-space-space-unit);
}
.partnership-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.partnership-text53 {
  fill: #000000;
  color: #000000;
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.partnership-text54 {
  color: var(--dl-color-danger-700);
}
.partnership-textinput4 {
  margin-bottom: var(--dl-space-space-unit);
}
.partnership-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.partnership-text55 {
  fill: #000000;
  color: #000000;
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.partnership-text56 {
  color: var(--dl-color-danger-700);
}
.partnership-textinput5 {
  margin-bottom: var(--dl-space-space-unit);
}
.partnership-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.partnership-text57 {
  fill: #000000;
  color: #000000;
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.partnership-text58 {
  color: var(--dl-color-danger-700);
}
.partnership-textinput6 {
  margin-bottom: var(--dl-space-space-unit);
}
.partnership-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.partnership-text59 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.partnership-textarea {
  height: var(--dl-size-size-xxlarge);
}
.partnership-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.partnership-checkbox {
  align-self: center;
}
.partnership-link19 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 16px;
  align-self: center;
  font-family: "PlayfairDisplay-Regular";
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.partnership-text65 {
  color: var(--dl-color-theme-primary1);
}
.partnership-button2 {
  fill: #ffffff;
  color: #ffffff;
  margin-top: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #000000;
}
.partnership-text66 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.partnership-footer {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #000000;
}
.partnership-container22 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.partnership-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.partnership-container24 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.partnership-description1 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 27px;
  margin-left: 0px;
}
.partnership-description2 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 27px;
  margin-left: 0px;
}
.partnership-container25 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: center;
}
.partnership-link20 {
  display: contents;
}
.partnership-icon14 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.partnership-link21 {
  display: contents;
}
.partnership-icon16 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.partnership-link22 {
  display: contents;
}
.partnership-icon18 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.partnership-container26 {
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.partnership-text71 {
  fill: #ffffff;
  color: #ffffff;
  font-size: 36px;
  margin-top: 0px;
  font-family: "PlayfairDisplay-Bold";
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
  text-decoration: none;
}
.partnership-copyright {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 21px;
}
@media(max-width: 991px) {
  .partnership-navbar {
    width: 958px;
  }
  .partnership-desktop-menu {
    top: 0px;
    right: 0px;
    position: absolute;
  }
  .partnership-nav1 {
    align-self: center;
  }
  .partnership-navlink1 {
    font-size: 16px;
  }
  .partnership-link10 {
    font-size: 16px;
  }
  .partnership-link11 {
    font-size: 16px;
  }
  .partnership-link12 {
    font-size: 16px;
  }
  .partnership-link13 {
    font-size: 16px;
  }
  .partnership-actions {
    align-self: center;
  }
  .partnership-text13 {
    font-size: 16px;
  }
  .partnership-text15 {
    font-size: 22px;
  }
  .partnership-feature11 {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .partnership-feature21 {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .partnership-feature12 {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .partnership-feature1-title2 {
    font-size: 30px;
    text-align: left;
  }
  .partnership-feature22 {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .partnership-form {
    width: 80%;
  }
  .partnership-footer {
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fourunits);
  }
  .partnership-description1 {
    line-height: 27px;
  }
  .partnership-description2 {
    color: rgb(255, 255, 255);
  }
  .partnership-copyright {
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 21px;
  }
}
@media(max-width: 767px) {
  .partnership-navbar {
    width: 100%;
    align-self: center;
    align-items: center;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
  }
  .partnership-text10 {
    font-size: 30px;
  }
  .partnership-desktop-menu {
    display: none;
  }
  .partnership-burger-menu {
    display: flex;
    align-self: center;
  }
  .partnership-icon10 {
    fill: #000000;
    width: 24px;
    height: 24px;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .partnership-mobile-menu {
    height: 100%;
    background-color: #ffffff;
  }
  .partnership-nav2 {
    gap: var(--dl-space-space-oneandhalfunits);
    height: auto;
  }
  .partnership-container12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .partnership-menu-close {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .partnership-icon12 {
    fill: #000000;
    width: var(--dl-size-size-small);
    height: auto;
  }
  .partnership-nav3 {
    gap: var(--dl-space-space-unit);
    color: #ffffff;
    width: 250px;
    height: 173px;
    align-self: center;
  }
  .partnership-link16 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .partnership-navlink2 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .partnership-navlink3 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .partnership-navlink4 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .partnership-link17 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .partnership-link18 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .partnership-text14 {
    font-size: 26px;
    text-align: left;
  }
  .partnership-text15 {
    font-size: 16px;
  }
  .partnership-container13 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .partnership-feature11 {
    padding-top: var(--dl-space-space-twounits);
  }
  .partnership-feature1-image1 {
    width: var(--dl-size-size-xxlarge);
  }
  .partnership-feature1-title1 {
    font-size: 24px;
    text-align: left;
  }
  .partnership-feature21 {
    width: auto;
    padding-top: var(--dl-space-space-twounits);
  }
  .partnership-feature2-image1 {
    width: var(--dl-size-size-xxlarge);
  }
  .partnership-feature2-title1 {
    font-size: 24px;
    text-align: left;
  }
  .partnership-feature12 {
    padding-top: var(--dl-space-space-twounits);
  }
  .partnership-feature1-image2 {
    width: var(--dl-size-size-xxlarge);
  }
  .partnership-feature1-title2 {
    font-size: 24px;
    text-align: left;
  }
  .partnership-feature22 {
    width: auto;
    padding-top: var(--dl-space-space-twounits);
  }
  .partnership-feature2-image2 {
    width: var(--dl-size-size-xxlarge);
  }
  .partnership-feature2-title2 {
    font-size: 24px;
    text-align: left;
  }
  .partnership-text32 {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .partnership-form {
    width: 80%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .partnership-footer {
    height: auto;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .partnership-description1 {
    font-size: 14px;
    line-height: 21px;
  }
  .partnership-description2 {
    font-size: 14px;
    line-height: 21px;
  }
  .partnership-text71 {
    font-size: 30px;
  }
}
@media(max-width: 479px) {
  .partnership-navbar {
    width: 100%;
  }
  .partnership-actions {
    width: 100%;
    flex-direction: column;
  }
  .partnership-button1 {
    width: 100%;
  }
  .partnership-icon10 {
    width: 24px;
    height: 24ll;
    padding: 0px;
    margin-top: var(--dl-space-space-unit);
  }
  .partnership-mobile-menu {
    padding: 16px;
    background-color: #ffffff;
  }
  .partnership-nav2 {
    height: 100%;
  }
  .partnership-menu-close {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .partnership-icon12 {
    fill: #000000;
    width: var(--dl-size-size-small);
    height: auto;
    position: static;
  }
  .partnership-nav3 {
    color: #ffffff;
    height: auto;
  }
  .partnership-link16 {
    fill: #000000;
    color: #000000;
    text-decoration: none;
  }
  .partnership-navlink3 {
    fill: #000000;
    color: #000000;
  }
  .partnership-navlink4 {
    fill: #000000;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .partnership-link17 {
    fill: #000000;
    color: #000000;
    text-decoration: none;
  }
  .partnership-link18 {
    fill: #000000;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .partnership-text14 {
    font-size: 26px;
  }
  .partnership-text15 {
    font-size: 16px;
  }
  .partnership-text32 {
    font-size: 15px;
    align-self: center;
    text-align: left;
    padding-left: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-threeunits);
  }
  .partnership-form {
    width: 80%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .partnership-footer {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .partnership-container22 {
    width: auto;
  }
  .partnership-description1 {
    align-self: center;
    text-align: center;
  }
  .partnership-description2 {
    align-self: center;
    text-align: center;
  }
  .partnership-container25 {
    width: auto;
    margin: var(--dl-space-space-halfunit);
    position: static;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .partnership-icon14 {
    width: 24px;
  }
  .partnership-icon16 {
    width: 24px;
  }
  .partnership-icon18 {
    width: 24px;
  }
  .partnership-container26 {
    position: static;
    padding-right: 0px;
  }
  .partnership-copyright {
    width: auto;
    font-size: 10px;
  }
}
