.programs-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #101010;
}
.programs-hero {
  width: 100%;
  height: 85vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
  background-color: #101010;
}
.programs-background {
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #101010;
}
.programs-image {
  width: 1440px;
  height: 100%;
  object-fit: cover;
}
.programs-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.programs-navlink {
  display: contents;
}
.programs-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.programs-image01 {
  width: var(--dl-size-size-xlarge);
  height: auto;
  object-fit: cover;
}
.programs-desktop-menu {
  gap: var(--dl-space-space-threeunits);
  width: auto;
  display: flex;
}
.programs-nav {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.programs-link {
  font-size: 30px;
  text-decoration: none;
}
.programs-link01 {
  font-size: 30px;
  text-decoration: none;
}
.programs-link02 {
  font-size: 30px;
  text-decoration: none;
}
.programs-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.programs-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
}
.programs-dropdown-arrow {
  transition: 0.3s;
}
.programs-link03 {
  font-size: 30px;
}
.programs-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-black);
  list-style-position: inside;
}
.programs-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.programs-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.programs-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.programs-text {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.programs-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.programs-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.programs-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.programs-text01 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.programs-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.programs-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.programs-register {
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.programs-text05 {
  font-size: 10px;
}
.programs-icon {
  width: 16px;
  height: 16px;
}
.programs-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.programs-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.programs-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.programs-nav1 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.programs-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.programs-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.programs-image02 {
  width: 200px;
  object-fit: cover;
}
.programs-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.programs-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.programs-link06 {
  text-decoration: none;
}
.programs-navlink1 {
  text-decoration: none;
}
.programs-navlink2 {
  text-decoration: none;
}
.programs-navlink3 {
  text-decoration: none;
}
.programs-link07 {
  text-decoration: none;
}
.programs-link08 {
  text-decoration: none;
}
.programs-icon-group {
  display: flex;
  z-index: 20;
}
.programs-icons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.programs-hero-content {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 964px;
  height: 225px;
  display: flex;
  z-index: 100;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.programs-text08 {
  color: rgb(198, 165, 119);
  width: 100%;
  z-index: 100;
  font-size: 60px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 1.1;
  padding-top: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: rgba(0, 0, 0, 0.7);
}
.programs-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.programs-container04 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.programs-container05 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.programs-text09 {
  color: #c6a577;
  font-size: 70px;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.programs-container06 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.programs-container07 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.programs-text10 {
  color: rgb(198, 165, 119);
  font-size: 50px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Source Sans Pro";
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.programs-text11 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-threeunits);
  line-height: 2;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.programs-register1 {
  color: #ffffff;
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: rgb(170, 130, 255);
}
.programs-text12 {
  font-size: 20px;
}
.programs-icon06 {
  width: 16px;
  height: 16px;
}
.programs-container08 {
  flex: 0 0 auto;
  width: 50%;
  height: 400px;
  display: flex;
  align-items: flex-start;
}
.programs-image03 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.programs-container09 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.programs-container10 {
  flex: 0 0 auto;
  width: 50%;
  height: 400px;
  display: flex;
  align-items: flex-start;
}
.programs-image04 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.programs-container11 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.programs-text13 {
  color: rgb(198, 165, 119);
  font-size: 50px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Source Sans Pro";
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.programs-text14 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-threeunits);
  line-height: 2;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.programs-container12 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.programs-container13 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.programs-text15 {
  color: rgb(198, 165, 119);
  font-size: 50px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Source Sans Pro";
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.programs-text16 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-threeunits);
  line-height: 2;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.programs-container14 {
  flex: 0 0 auto;
  width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.programs-image05 {
  width: 100%;
  height: 100%;
  align-self: flex-start;
  object-fit: cover;
}
.programs-container15 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.programs-container16 {
  flex: 0 0 auto;
  width: 50%;
  height: 400px;
  display: flex;
  align-items: flex-start;
}
.programs-image06 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.programs-container17 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.programs-text17 {
  color: rgb(198, 165, 119);
  font-size: 50px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Source Sans Pro";
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.programs-text18 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-threeunits);
  line-height: 2;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.programs-register2 {
  color: #ffffff;
  align-self: flex-end;
  margin-top: 0px;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: rgb(170, 130, 255);
}
.programs-text19 {
  font-size: 20px;
}
.programs-icon08 {
  width: 16px;
  height: 16px;
}
.programs-container18 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.programs-container19 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.programs-text20 {
  color: rgb(198, 165, 119);
  font-size: 50px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Source Sans Pro";
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.programs-text21 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-threeunits);
  line-height: 2;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.programs-container20 {
  flex: 0 0 auto;
  width: 50%;
  height: 400px;
  display: flex;
  align-items: flex-start;
}
.programs-image07 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.programs-text22 {
  color: rgb(198, 165, 119);
  font-size: 70px;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-fourunits);
}
.programs-container21 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.programs-container22 {
  flex: 0 0 auto;
  width: 50%;
  height: 400px;
  display: flex;
  align-items: flex-start;
}
.programs-image08 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.programs-container23 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.programs-text23 {
  color: rgb(198, 165, 119);
  font-size: 50px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Source Sans Pro";
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.programs-text24 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-threeunits);
  line-height: 2;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.programs-container24 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.programs-container25 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.programs-text27 {
  color: rgb(198, 165, 119);
  font-size: 50px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Source Sans Pro";
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.programs-text28 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-threeunits);
  line-height: 2;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.programs-container26 {
  flex: 0 0 auto;
  width: 50%;
  height: 400px;
  display: flex;
  align-items: flex-start;
}
.programs-image09 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.programs-container27 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.programs-container28 {
  flex: 0 0 auto;
  width: 50%;
  height: 400px;
  display: flex;
  align-items: flex-start;
}
.programs-image10 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.programs-container29 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.programs-text29 {
  color: rgb(198, 165, 119);
  font-size: 50px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Source Sans Pro";
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.programs-text30 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-threeunits);
  line-height: 2;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.programs-container30 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.programs-container31 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.programs-text31 {
  color: rgb(198, 165, 119);
  font-size: 50px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Source Sans Pro";
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.programs-text32 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-threeunits);
  line-height: 2;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.programs-container32 {
  flex: 0 0 auto;
  width: 50%;
  height: 400px;
  display: flex;
  align-items: flex-start;
}
.programs-image11 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.programs-container33 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.programs-container34 {
  flex: 0 0 auto;
  width: 50%;
  height: 400px;
  display: flex;
  align-items: flex-start;
}
.programs-image12 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.programs-container35 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.programs-text33 {
  color: rgb(198, 165, 119);
  font-size: 50px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Source Sans Pro";
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.programs-text34 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-threeunits);
  line-height: 2;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.programs-text35 {
  color: rgb(198, 165, 119);
  font-size: 70px;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-fourunits);
}
.programs-container36 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.programs-container37 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.programs-text36 {
  color: rgb(198, 165, 119);
  font-size: 50px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Source Sans Pro";
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.programs-text37 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-threeunits);
  line-height: 2;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.programs-container38 {
  flex: 0 0 auto;
  width: 50%;
  height: 400px;
  display: flex;
  align-items: flex-start;
}
.programs-image13 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.programs-container39 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.programs-container40 {
  flex: 0 0 auto;
  width: 50%;
  height: 400px;
  display: flex;
  align-items: flex-start;
}
.programs-image14 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.programs-container41 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.programs-text38 {
  color: rgb(198, 165, 119);
  font-size: 50px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Source Sans Pro";
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.programs-text39 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-threeunits);
  line-height: 2;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.programs-footer {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #000000;
}
.programs-container42 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.programs-container43 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.programs-container44 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.programs-description {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 18px;
  align-self: center;
  text-align: center;
  line-height: 27px;
  margin-left: 0px;
}
.programs-container45 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: center;
}
.programs-link09 {
  display: contents;
}
.programs-icon10 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.programs-link10 {
  display: contents;
}
.programs-icon12 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.programs-link11 {
  display: contents;
}
.programs-icon14 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.programs-navlink4 {
  display: contents;
}
.programs-image15 {
  top: 0px;
  right: 0px;
  width: var(--dl-size-size-xxlarge);
  bottom: 0px;
  height: auto;
  position: absolute;
  align-self: center;
  margin-top: auto;
  object-fit: cover;
  margin-left: auto;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: auto;
  text-decoration: none;
}
.programs-copyright {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  line-height: 21px;
}
@media(max-width: 991px) {
  .programs-image {
    width: 100%;
  }
  .programs-navbar {
    width: 958px;
  }
  .programs-text08 {
    width: auto;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .programs-container06 {
    align-items: center;
    justify-content: center;
  }
  .programs-text10 {
    font-size: 40px;
  }
  .programs-text11 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-register1 {
    align-self: flex-start;
  }
  .programs-container08 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .programs-container10 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .programs-image04 {
    align-self: center;
  }
  .programs-text13 {
    font-size: 40px;
  }
  .programs-text14 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-container12 {
    align-items: center;
  }
  .programs-text15 {
    font-size: 40px;
  }
  .programs-text16 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-container14 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .programs-container16 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .programs-text17 {
    font-size: 40px;
  }
  .programs-text18 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-register2 {
    align-self: flex-start;
  }
  .programs-container18 {
    align-items: center;
  }
  .programs-text20 {
    font-size: 40px;
  }
  .programs-text21 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-container20 {
    height: 400px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .programs-container22 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .programs-text23 {
    font-size: 40px;
  }
  .programs-text24 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-container24 {
    align-items: center;
  }
  .programs-text27 {
    font-size: 40px;
  }
  .programs-text28 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-container26 {
    height: 400px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .programs-container27 {
    align-items: center;
  }
  .programs-container28 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .programs-text29 {
    font-size: 40px;
  }
  .programs-text30 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-container30 {
    align-items: center;
  }
  .programs-text31 {
    font-size: 40px;
  }
  .programs-text32 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-container32 {
    height: 400px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .programs-container33 {
    align-items: center;
  }
  .programs-container34 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .programs-text33 {
    font-size: 40px;
  }
  .programs-text34 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-container36 {
    align-items: center;
  }
  .programs-text36 {
    font-size: 40px;
  }
  .programs-text37 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-container38 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .programs-container39 {
    align-items: center;
  }
  .programs-container40 {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .programs-text38 {
    font-size: 40px;
  }
  .programs-text39 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-footer {
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fourunits);
  }
  .programs-description {
    line-height: 27px;
  }
  .programs-image15 {
    right: 0px;
    width: var(--dl-size-size-xlarge);
  }
}
@media(max-width: 767px) {
  .programs-hero {
    height: 60vh;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .programs-image {
    width: 100%;
    height: 100%;
  }
  .programs-navbar {
    width: 100%;
  }
  .programs-image01 {
    width: var(--dl-size-size-large);
  }
  .programs-desktop-menu {
    display: none;
  }
  .programs-burger-menu {
    display: flex;
  }
  .programs-icon02 {
    fill: white;
  }
  .programs-mobile-menu {
    background-color: #101010;
  }
  .programs-nav1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .programs-container02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-nav2 {
    gap: var(--dl-space-space-unit);
    color: #ffffff;
    width: 250px;
    height: 173px;
    align-self: center;
  }
  .programs-link06 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .programs-navlink1 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .programs-navlink2 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .programs-navlink3 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .programs-link07 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .programs-link08 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .programs-text06 {
    width: 100%;
    align-self: center;
    text-align: center;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .programs-icon-group {
    width: 100%;
    justify-content: flex-start;
  }
  .programs-hero-content {
    gap: var(--dl-space-space-oneandhalfunits);
    width: auto;
  }
  .programs-text08 {
    width: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .programs-register1 {
    width: 100%;
  }
  .programs-register2 {
    width: 100%;
  }
  .programs-footer {
    height: auto;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .programs-description {
    font-size: 14px;
    line-height: 21px;
  }
  .programs-image15 {
    right: 0px;
    width: var(--dl-size-size-large);
    height: auto;
  }
}
@media(max-width: 479px) {
  .programs-navbar {
    width: 100%;
  }
  .programs-image01 {
    width: var(--dl-size-size-large);
  }
  .programs-mobile-menu {
    padding: 16px;
    background-color: #101010;
  }
  .programs-nav1 {
    height: 100%;
  }
  .programs-menu-close {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .programs-image02 {
    top: 0px;
    flex: 1;
    left: 0px;
    right: 0px;
    width: var(--dl-size-size-large);
    margin: auto;
    position: absolute;
  }
  .programs-icon04 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: auto;
  }
  .programs-nav2 {
    color: #ffffff;
  }
  .programs-link06 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .programs-navlink1 {
    color: #ffffff;
  }
  .programs-navlink2 {
    color: #ffffff;
  }
  .programs-navlink3 {
    color: #ffffff;
  }
  .programs-link07 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .programs-link08 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .programs-text06 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .programs-icon-group {
    justify-content: center;
  }
  .programs-hero-content {
    height: 138px;
    max-width: auto;
  }
  .programs-text08 {
    width: 466px;
    font-size: 50px;
  }
  .programs-text09 {
    font-size: 50px;
  }
  .programs-container07 {
    width: 70%;
  }
  .programs-text10 {
    color: rgb(198, 165, 119);
    font-size: 30px;
    margin-top: var(--dl-space-space-unit);
    font-family: Source Sans Pro;
    text-transform: uppercase;
  }
  .programs-text11 {
    font-size: 15px;
    line-height: 1.5;
  }
  .programs-register1 {
    width: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .programs-text12 {
    font-size: 15px;
  }
  .programs-container08 {
    width: 30%;
    height: 100%;
    align-self: center;
  }
  .programs-image03 {
    align-self: flex-start;
  }
  .programs-container10 {
    width: 30%;
    height: auto;
    align-self: center;
  }
  .programs-container11 {
    width: 70%;
  }
  .programs-text13 {
    font-size: 30px;
  }
  .programs-text14 {
    font-size: 15px;
    margin-top: var(--dl-space-space-unit);
    line-height: 1.5;
  }
  .programs-container13 {
    width: 70%;
  }
  .programs-text15 {
    font-size: 30px;
  }
  .programs-text16 {
    font-size: 15px;
    margin-top: var(--dl-space-space-unit);
    line-height: 1.5;
  }
  .programs-container14 {
    width: 30%;
    height: auto;
    align-self: center;
  }
  .programs-image05 {
    align-self: flex-start;
  }
  .programs-container16 {
    width: 30%;
    height: auto;
    align-self: center;
  }
  .programs-container17 {
    width: 70%;
  }
  .programs-text17 {
    font-size: 30px;
  }
  .programs-text18 {
    font-size: 15px;
    margin-top: var(--dl-space-space-unit);
    line-height: 1.5;
  }
  .programs-register2 {
    width: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .programs-text19 {
    font-size: 15px;
  }
  .programs-container19 {
    width: 70%;
  }
  .programs-text20 {
    font-size: 30px;
  }
  .programs-text21 {
    font-size: 15px;
    margin-top: var(--dl-space-space-unit);
    line-height: 1.5;
  }
  .programs-container20 {
    width: 30%;
    height: auto;
    align-self: center;
  }
  .programs-text22 {
    font-size: 50px;
    margin-bottom: 5px;
  }
  .programs-container22 {
    width: 30%;
    height: auto;
    align-self: center;
  }
  .programs-container23 {
    width: 70%;
  }
  .programs-text23 {
    font-size: 30px;
  }
  .programs-text24 {
    font-size: 15px;
    margin-top: var(--dl-space-space-unit);
    line-height: 1.5;
  }
  .programs-container25 {
    width: 70%;
  }
  .programs-text27 {
    font-size: 30px;
  }
  .programs-text28 {
    font-size: 15px;
    margin-top: var(--dl-space-space-unit);
    line-height: 1.5;
  }
  .programs-container26 {
    width: 30%;
    height: auto;
    align-self: center;
  }
  .programs-container28 {
    width: 30%;
    height: auto;
    align-self: center;
  }
  .programs-container29 {
    width: 70%;
  }
  .programs-text29 {
    font-size: 30px;
  }
  .programs-text30 {
    font-size: 15px;
    margin-top: var(--dl-space-space-unit);
    line-height: 1.5;
  }
  .programs-container31 {
    width: 70%;
  }
  .programs-text31 {
    font-size: 30px;
  }
  .programs-text32 {
    font-size: 15px;
    margin-top: var(--dl-space-space-unit);
    line-height: 1.5;
  }
  .programs-container32 {
    width: 30%;
    height: auto;
    align-self: center;
  }
  .programs-container34 {
    width: 30%;
    height: auto;
    align-self: center;
  }
  .programs-container35 {
    width: 70%;
  }
  .programs-text33 {
    font-size: 30px;
  }
  .programs-text34 {
    font-size: 15px;
    margin-top: var(--dl-space-space-unit);
    line-height: 1.5;
  }
  .programs-text35 {
    font-size: 50px;
  }
  .programs-container37 {
    width: 70%;
  }
  .programs-text36 {
    font-size: 30px;
  }
  .programs-text37 {
    font-size: 15px;
    margin-top: var(--dl-space-space-unit);
    line-height: 1.5;
  }
  .programs-container38 {
    width: 30%;
    height: auto;
    align-self: center;
  }
  .programs-container40 {
    width: 30%;
    height: auto;
    align-self: center;
  }
  .programs-container41 {
    width: 70%;
  }
  .programs-text38 {
    font-size: 30px;
  }
  .programs-text39 {
    font-size: 15px;
    margin-top: var(--dl-space-space-unit);
    line-height: 1.5;
  }
  .programs-footer {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .programs-container42 {
    width: auto;
  }
  .programs-description {
    align-self: center;
    text-align: center;
  }
  .programs-container45 {
    width: auto;
    margin: var(--dl-space-space-halfunit);
    position: static;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .programs-icon10 {
    width: 24px;
  }
  .programs-icon12 {
    width: 24px;
  }
  .programs-icon14 {
    width: 24px;
  }
  .programs-image15 {
    top: 0px;
    right: 0px;
    width: var(--dl-size-size-medium);
    bottom: 0px;
    height: auto;
    position: static;
    margin-top: var(--dl-space-space-unit);
    margin-right: auto;
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-copyright {
    width: auto;
    font-size: 10px;
  }
}
