.hero21-wrapper {
  display: contents;
}
.hero21-header5 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero21-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  object-fit: cover;
}
.hero21-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero21-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.hero21-column {
  gap: 24px;
  width: auto;
  display: flex;
  z-index: 1;
  max-width: 700px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.hero21-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.programs-fragment11 {
  display: contents;
}
.programs-text17 {
  display: inline-block;
  font-size: 20px;
}
.programs-fragment10 {
  display: contents;
}
.programs-text14 {
  width: auto;
  display: inline-block;
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.hero21root-class-name {
  height: auto;
}
.hero21root-class-name1 {
  height: auto;
}
.hero21root-class-name2 {
  height: 100%;
}
.hero21root-class-name3 {
  height: 100%;
}
.hero21root-class-name4 {
  height: 100%;
}
.hero21root-class-name5 {
  height: 100%;
}
.hero21root-class-name6 {
  height: 100%;
}
@media(max-width: 991px) {
  .programs-text17 {
    font-size: 22px;
  }
}
@media(max-width: 767px) {
  .hero21-header5 {
    justify-content: center;
  }
  .hero21-max-width {
    justify-content: center;
  }
  .hero21-column {
    width: 100%;
  }
  .programs-text17 {
    font-size: 16px;
  }
  .programs-text14 {
    font-size: 26px;
    text-align: left;
  }
}
@media(max-width: 479px) {
  .programs-text17 {
    font-size: 16px;
  }
  .programs-text14 {
    font-size: 26px;
  }
}

.outline-black-button-wrapper {
  display: contents;
}
.outline-black-button-container {
  display: flex;
  position: relative;
}
.outline-black-button-button {
  color: var(--dl-color-secondary-700);
  border-radius: 5px;
}
.outline-black-button-button:hover {
  transform: scale(1.02);
}
.programs-fragment12 {
  display: contents;
}
.programs-text30 {
  display: inline-block;
}

.list-item-wrapper {
  display: contents;
}
.list-item-container {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.programs-fragment13 {
  display: contents;
}
.programs-text34 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment14 {
  display: contents;
}
.programs-text35 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}

.list-item-wrapper-tu6a {
  display: contents;
}
.list-item-container1 {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.programs-fragment15 {
  display: contents;
}
.programs-text36 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment16 {
  display: contents;
}
.programs-text39 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}

.list-item-wrapper-rtbk {
  display: contents;
}
.list-item-container2 {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.programs-fragment17 {
  display: contents;
}
.programs-text40 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment18 {
  display: contents;
}
.programs-text41 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}

.list-item-wrapper-g7g0 {
  display: contents;
}
.list-item-container3 {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.programs-fragment19 {
  display: contents;
}
.programs-text42 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment20 {
  display: contents;
}
.programs-text43 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}

.list-item-wrapper-afp8 {
  display: contents;
}
.list-item-container4 {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.programs-fragment21 {
  display: contents;
}
.programs-text44 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment22 {
  display: contents;
}
.programs-text45 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}

.list-item-wrapper-vfy4 {
  display: contents;
}
.list-item-container5 {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.programs-fragment23 {
  display: contents;
}
.programs-text46 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment24 {
  display: contents;
}
.programs-text47 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}

.outline-black-button-wrapper-m5ph {
  display: contents;
}
.outline-black-button-container1 {
  display: flex;
  position: relative;
}
.outline-black-button-button1 {
  color: var(--dl-color-secondary-700);
  border-radius: 5px;
}
.outline-black-button-button1:hover {
  transform: scale(1.02);
}
.programs-fragment25 {
  display: contents;
}
.programs-text55 {
  display: inline-block;
}

.outline-black-button-wrapper-1y0n {
  display: contents;
}
.outline-black-button-container2 {
  display: flex;
  position: relative;
}
.outline-black-button-button2 {
  color: var(--dl-color-secondary-700);
  border-radius: 5px;
}
.outline-black-button-button2:hover {
  transform: scale(1.02);
}
.programs-fragment26 {
  display: contents;
}
.programs-text63 {
  display: inline-block;
}

.list-item-wrapper-vuqq {
  display: contents;
}
.list-item-container6 {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.programs-fragment27 {
  display: contents;
}
.programs-text67 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment28 {
  display: contents;
}
.programs-text68 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}

.list-item-wrapper-q6ut {
  display: contents;
}
.list-item-container7 {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.programs-fragment29 {
  display: contents;
}
.programs-text69 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment30 {
  display: contents;
}
.programs-text70 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}

.list-item-wrapper-psxe {
  display: contents;
}
.list-item-container8 {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.programs-fragment31 {
  display: contents;
}
.programs-text71 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment32 {
  display: contents;
}
.programs-text74 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}

.list-item-wrapper-bfds {
  display: contents;
}
.list-item-container9 {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.programs-fragment33 {
  display: contents;
}
.programs-text75 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment34 {
  display: contents;
}
.programs-text76 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}

.list-item-wrapper-ilyi {
  display: contents;
}
.list-item-container10 {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.programs-fragment35 {
  display: contents;
}
.programs-text77 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment36 {
  display: contents;
}
.programs-text78 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}

.list-item-wrapper-73nh {
  display: contents;
}
.list-item-container11 {
  flex: 0 0 auto;
  display: flex;
  padding: 1rem;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.programs-fragment37 {
  display: contents;
}
.programs-text79 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment38 {
  display: contents;
}
.programs-text80 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}

.outline-black-button-wrapper-7mx6 {
  display: contents;
}
.outline-black-button-container3 {
  display: flex;
  position: relative;
}
.outline-black-button-button3 {
  color: var(--dl-color-secondary-700);
  border-radius: 5px;
}
.outline-black-button-button3:hover {
  transform: scale(1.02);
}
.programs-fragment39 {
  display: contents;
}
.programs-text88 {
  display: inline-block;
}

.programs-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.programs-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.programs-container11 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.programs-text10 {
  font-size: 36px;
  margin-top: var(--dl-space-space-unit);
  font-family: "PlayfairDisplay-Bold";
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.programs-desktop-menu {
  top: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: absolute;
  align-self: stretch;
  align-items: flex-end;
  padding-top: auto;
  padding-left: auto;
  padding-right: auto;
  flex-direction: row;
  padding-bottom: auto;
  justify-content: space-between;
}
.programs-nav1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.programs-navlink1 {
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.programs-link10 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.programs-link11 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.programs-link12 {
  fill: #000000;
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
}
.programs-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.programs-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
}
.programs-dropdown-arrow {
  transition: 0.3s;
}
.programs-link13 {
  fill: #000000;
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
}
.programs-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-black);
  list-style-position: inside;
}
.programs-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.programs-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.programs-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.programs-text11 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.programs-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.programs-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.programs-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.programs-text12 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.programs-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.programs-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.programs-actions {
  display: flex;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.programs-button1 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.programs-text13 {
  fill: #ffffff;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  font-family: "Source Sans Pro";
}
.programs-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.programs-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.programs-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.programs-nav2 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.programs-container12 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.programs-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.programs-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.programs-nav3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.programs-link16 {
  text-decoration: none;
}
.programs-navlink2 {
  text-decoration: none;
}
.programs-navlink3 {
  text-decoration: none;
}
.programs-navlink4 {
  text-decoration: none;
}
.programs-link17 {
  text-decoration: none;
}
.programs-link18 {
  text-decoration: none;
}
.programs-fragment10 {
  display: contents;
}
.programs-text14 {
  width: auto;
  display: inline-block;
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.programs-fragment11 {
  display: contents;
}
.programs-text17 {
  display: inline-block;
  font-size: 20px;
}
.programs-hero2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.programs-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.programs-container14 {
  display: flex;
  position: relative;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  border-radius: var(--dl-radius-radius-radius1);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1695192577284-fd1b10529579?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQ3fHxtZW1iZXJ8ZW58MHx8fHwxNzI3OTc2NjYzfDA&ixlib=rb-4.0.3&w=1500");
  background-position: center;
}
.programs-container14:hover {
  transform: scale(1.04);
}
.programs-container15 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,.4);
  border-radius: var(--dl-radius-radius-radius1);
}
.programs-container16 {
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.programs-icon14 {
  fill: var(--dl-color-gray-9001);
  width: 30px;
  height: 30px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.programs-text20 {
  color: var(--dl-color-gray-white);
  max-width: 200px;
  text-align: left;
  margin-bottom: var(--dl-space-space-unit1);
}
.programs-text25 {
  color: var(--dl-color-gray-white);
  opacity: 1;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.programs-fragment12 {
  display: contents;
}
.programs-text30 {
  display: inline-block;
}
.programs-container17 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.programs-fragment13 {
  display: contents;
}
.programs-text34 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment14 {
  display: contents;
}
.programs-text35 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
.programs-fragment15 {
  display: contents;
}
.programs-text36 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment16 {
  display: contents;
}
.programs-text39 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
.programs-fragment17 {
  display: contents;
}
.programs-text40 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment18 {
  display: contents;
}
.programs-text41 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
.programs-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.programs-container19 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits1);
  flex-direction: column;
}
.programs-fragment19 {
  display: contents;
}
.programs-text42 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment20 {
  display: contents;
}
.programs-text43 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
.programs-fragment21 {
  display: contents;
}
.programs-text44 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment22 {
  display: contents;
}
.programs-text45 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
.programs-fragment23 {
  display: contents;
}
.programs-text46 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment24 {
  display: contents;
}
.programs-text47 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
.programs-container20 {
  display: flex;
  position: relative;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits1);
  padding-left: var(--dl-space-space-sixunits1);
  border-radius: var(--dl-radius-radius-radius1);
  padding-right: var(--dl-space-space-sixunits1);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-size: cover;
  justify-content: center;
  background-image: url("https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/coffee-shop.jpg");
  background-position: center;
}
.programs-container20:hover {
  transform: scale(1.04);
}
.programs-container21 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,.4);
  border-radius: var(--dl-radius-radius-radius1);
}
.programs-container22 {
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.programs-icon16 {
  fill: var(--dl-color-gray-9002);
  width: 30px;
  height: 30px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.programs-text48 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
}
.programs-text51 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.programs-fragment25 {
  display: contents;
}
.programs-text55 {
  display: inline-block;
}
.programs-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.programs-container24 {
  display: flex;
  position: relative;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  border-radius: var(--dl-radius-radius-radius1);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1628968434441-d9c1c66dcde7?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDI4fHxwb2tlbW9ufGVufDB8fHx8MTcyNzk3Njk0N3ww&ixlib=rb-4.0.3&w=1500");
  background-position: center;
}
.programs-container24:hover {
  transform: scale(1.04);
}
.programs-container25 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,.4);
  border-radius: var(--dl-radius-radius-radius1);
}
.programs-container26 {
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.programs-icon18 {
  fill: var(--dl-color-gray-9001);
  width: 30px;
  height: 30px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.programs-text59 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
}
.programs-text62 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.programs-fragment26 {
  display: contents;
}
.programs-text63 {
  display: inline-block;
}
.programs-container27 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.programs-fragment27 {
  display: contents;
}
.programs-text67 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment28 {
  display: contents;
}
.programs-text68 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
.programs-fragment29 {
  display: contents;
}
.programs-text69 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment30 {
  display: contents;
}
.programs-text70 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
.programs-fragment31 {
  display: contents;
}
.programs-text71 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment32 {
  display: contents;
}
.programs-text74 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
.programs-container28 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.programs-container29 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits1);
  flex-direction: column;
}
.programs-fragment33 {
  display: contents;
}
.programs-text75 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment34 {
  display: contents;
}
.programs-text76 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
.programs-fragment35 {
  display: contents;
}
.programs-text77 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment36 {
  display: contents;
}
.programs-text78 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
.programs-fragment37 {
  display: contents;
}
.programs-text79 {
  display: inline-block;
  font-family: "Open Sans";
}
.programs-fragment38 {
  display: contents;
}
.programs-text80 {
  color: var(--dl-color-secondary-600);
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.375;
  text-transform: none;
  text-decoration: none;
}
.programs-container30 {
  display: flex;
  position: relative;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits1);
  padding-left: var(--dl-space-space-sixunits1);
  border-radius: var(--dl-radius-radius-radius1);
  padding-right: var(--dl-space-space-sixunits1);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1589911959823-57abc9277421?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQ0fHxlbGl0ZXxlbnwwfHx8fDE3Mjc5NzY5ODl8MA&ixlib=rb-4.0.3&w=1500");
  background-position: center;
}
.programs-container30:hover {
  transform: scale(1.04);
}
.programs-container31 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,.4);
  border-radius: var(--dl-radius-radius-radius1);
}
.programs-container32 {
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.programs-icon20 {
  fill: var(--dl-color-gray-9002);
  width: 30px;
  height: 30px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.programs-text81 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  align-self: center;
}
.programs-text82 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.programs-fragment39 {
  display: contents;
}
.programs-text88 {
  display: inline-block;
}
.programs-container33 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.programs-max-width {
  gap: var(--dl-space-space-threeunits);
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.programs-section-title {
  align-items: center;
}
.programs-text93 {
  font-family: "PlayfairDisplay-Bold";
  padding-bottom: var(--dl-space-space-unit2);
}
.programs-content1 {
  align-self: stretch;
  align-items: center;
  padding-bottom: var(--dl-space-space-unit);
}
.programs-feature11 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.programs-feature1-image1 {
  border-radius: var(--dl-radius-radius-radius1);
}
.programs-feature1-title1 {
  font-size: 26px;
  text-align: center;
  font-family: "PlayfairDisplay-Bold";
}
.programs-feature1-description1 {
  font-family: "Open Sans";
}
.programs-button2 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  font-size: 16px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-left: 0px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.programs-text94 {
  font-family: "Open Sans";
}
.programs-feature12 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.programs-feature1-image2 {
  border-radius: var(--dl-radius-radius-radius1);
}
.programs-feature1-title2 {
  font-size: 26px;
  font-family: "PlayfairDisplay-Bold";
}
.programs-feature1-description2 {
  font-family: "Open Sans";
}
.programs-button3 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  font-size: 16px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-left: 0px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.programs-text95 {
  font-family: "Open Sans";
}
.programs-feature13 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.programs-feature1-image3 {
  border-radius: var(--dl-radius-radius-radius1);
}
.programs-feature1-title3 {
  font-size: 26px;
  font-family: "PlayfairDisplay-Bold";
}
.programs-feature1-description3 {
  font-family: "Open Sans";
}
.programs-button4 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  font-size: 16px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-left: 0px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.programs-text96 {
  font-family: "Open Sans";
}
.programs-content2 {
  align-self: stretch;
  align-items: center;
  padding-bottom: var(--dl-space-space-unit);
}
.programs-feature14 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.programs-feature1-image4 {
  border-radius: var(--dl-radius-radius-radius1);
}
.programs-feature1-title4 {
  font-size: 26px;
  text-align: center;
  font-family: "PlayfairDisplay-Bold";
}
.programs-feature1-description4 {
  font-family: "Open Sans";
}
.programs-feature15 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.programs-feature1-image5 {
  border-radius: var(--dl-radius-radius-radius1);
}
.programs-feature1-title5 {
  font-size: 26px;
  font-family: "PlayfairDisplay-Bold";
}
.programs-feature1-description5 {
  font-family: "Open Sans";
}
.programs-feature16 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.programs-feature1-image6 {
  border-radius: var(--dl-radius-radius-radius1);
}
.programs-feature1-title6 {
  font-size: 26px;
  font-family: "PlayfairDisplay-Bold";
}
.programs-feature1-description6 {
  font-family: "Open Sans";
}
.programs-content3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-self: stretch;
  align-items: center;
  padding-bottom: var(--dl-space-space-unit);
}
.programs-footer {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #000000;
}
.programs-container34 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.programs-container35 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.programs-container36 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.programs-description1 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 27px;
  margin-left: 0px;
}
.programs-description2 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 27px;
  margin-left: 0px;
}
.programs-container37 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: center;
}
.programs-link19 {
  display: contents;
}
.programs-icon22 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.programs-link20 {
  display: contents;
}
.programs-icon24 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.programs-link21 {
  display: contents;
}
.programs-icon26 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.programs-container38 {
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.programs-text104 {
  fill: #ffffff;
  color: #ffffff;
  font-size: 36px;
  margin-top: 0px;
  font-family: "PlayfairDisplay-Bold";
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
  text-decoration: none;
}
.programs-copyright {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 21px;
}
@media(max-width: 991px) {
  .programs-navbar {
    width: 958px;
  }
  .programs-desktop-menu {
    top: 0px;
    right: 0px;
    position: absolute;
  }
  .programs-nav1 {
    align-self: center;
  }
  .programs-navlink1 {
    font-size: 16px;
  }
  .programs-link10 {
    font-size: 16px;
  }
  .programs-link11 {
    font-size: 16px;
  }
  .programs-link12 {
    font-size: 16px;
  }
  .programs-link13 {
    font-size: 16px;
  }
  .programs-actions {
    align-self: center;
  }
  .programs-text13 {
    font-size: 16px;
  }
  .programs-text17 {
    font-size: 22px;
  }
  .programs-container17 {
    width: 45%;
    margin-left: var(--dl-space-space-unit);
  }
  .programs-container19 {
    width: 45%;
    margin-right: var(--dl-space-space-unit);
  }
  .programs-container27 {
    width: 45%;
    margin-left: var(--dl-space-space-unit);
  }
  .programs-container29 {
    width: 45%;
    margin-right: var(--dl-space-space-unit);
  }
  .programs-max-width {
    position: relative;
  }
  .programs-section-title {
    width: 100%;
  }
  .programs-feature11 {
    height: 100%;
    justify-content: flex-start;
  }
  .programs-feature12 {
    height: 100%;
    justify-content: flex-start;
  }
  .programs-feature13 {
    height: 100%;
    justify-content: flex-start;
  }
  .programs-footer {
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fourunits);
  }
  .programs-description1 {
    line-height: 27px;
  }
  .programs-description2 {
    color: rgb(255, 255, 255);
  }
  .programs-copyright {
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 21px;
  }
}
@media(max-width: 767px) {
  .programs-navbar {
    width: 100%;
    align-self: center;
    align-items: center;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
  }
  .programs-text10 {
    font-size: 30px;
  }
  .programs-desktop-menu {
    display: none;
  }
  .programs-burger-menu {
    display: flex;
    align-self: center;
  }
  .programs-icon10 {
    fill: #000000;
    width: 24px;
    height: 24px;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .programs-mobile-menu {
    height: 100%;
    background-color: #ffffff;
  }
  .programs-nav2 {
    gap: var(--dl-space-space-oneandhalfunits);
    height: auto;
  }
  .programs-container12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .programs-menu-close {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .programs-icon12 {
    fill: #000000;
    width: var(--dl-size-size-small);
    height: auto;
  }
  .programs-nav3 {
    gap: var(--dl-space-space-unit);
    color: #ffffff;
    width: 250px;
    height: 173px;
    align-self: center;
  }
  .programs-link16 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .programs-navlink2 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .programs-navlink3 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .programs-navlink4 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .programs-link17 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .programs-link18 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .programs-text14 {
    font-size: 26px;
    text-align: left;
  }
  .programs-text17 {
    font-size: 16px;
  }
  .programs-container13 {
    flex-direction: column;
  }
  .programs-container17 {
    width: 80%;
    margin-top: var(--dl-space-space-fourunits);
    align-items: center;
    margin-left: 0px;
  }
  .programs-container18 {
    margin-top: 0px;
    flex-direction: column-reverse;
  }
  .programs-container19 {
    width: 80%;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .programs-container23 {
    flex-direction: column;
  }
  .programs-container27 {
    width: 80%;
    margin-top: var(--dl-space-space-fourunits);
    align-items: center;
    margin-left: 0px;
  }
  .programs-container28 {
    margin-top: 0px;
    flex-direction: column-reverse;
  }
  .programs-container29 {
    width: 80%;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .programs-container33 {
    padding-top: var(--dl-space-space-threeunits);
  }
  .programs-section-title {
    width: auto;
  }
  .programs-text93 {
    text-align: center;
  }
  .programs-feature11 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .programs-feature12 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .programs-feature13 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .programs-feature14 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .programs-feature15 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .programs-feature16 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .programs-footer {
    height: auto;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .programs-description1 {
    font-size: 14px;
    line-height: 21px;
  }
  .programs-description2 {
    font-size: 14px;
    line-height: 21px;
  }
  .programs-text104 {
    font-size: 30px;
  }
}
@media(max-width: 479px) {
  .programs-navbar {
    width: 100%;
  }
  .programs-actions {
    width: 100%;
    flex-direction: column;
  }
  .programs-button1 {
    width: 100%;
  }
  .programs-icon10 {
    width: 24px;
    height: 24ll;
    padding: 0px;
    margin-top: var(--dl-space-space-unit);
  }
  .programs-mobile-menu {
    padding: 16px;
    background-color: #ffffff;
  }
  .programs-nav2 {
    height: 100%;
  }
  .programs-menu-close {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .programs-icon12 {
    fill: #000000;
    width: var(--dl-size-size-small);
    height: auto;
    position: static;
  }
  .programs-nav3 {
    color: #ffffff;
    height: auto;
  }
  .programs-link16 {
    fill: #000000;
    color: #000000;
    text-decoration: none;
  }
  .programs-navlink3 {
    fill: #000000;
    color: #000000;
  }
  .programs-navlink4 {
    fill: #000000;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .programs-link17 {
    fill: #000000;
    color: #000000;
    text-decoration: none;
  }
  .programs-link18 {
    fill: #000000;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .programs-text14 {
    font-size: 26px;
  }
  .programs-text17 {
    font-size: 16px;
  }
  .programs-container33 {
    padding-top: var(--dl-space-space-threeunits);
  }
  .programs-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .programs-feature11 {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .programs-button2 {
    width: auto;
  }
  .programs-feature12 {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .programs-button3 {
    width: auto;
  }
  .programs-feature13 {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .programs-button4 {
    width: auto;
  }
  .programs-footer {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .programs-container34 {
    width: auto;
  }
  .programs-description1 {
    align-self: center;
    text-align: center;
  }
  .programs-description2 {
    align-self: center;
    text-align: center;
  }
  .programs-container37 {
    width: auto;
    margin: var(--dl-space-space-halfunit);
    position: static;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .programs-icon22 {
    width: 24px;
  }
  .programs-icon24 {
    width: 24px;
  }
  .programs-icon26 {
    width: 24px;
  }
  .programs-container38 {
    position: static;
    padding-right: 0px;
  }
  .programs-copyright {
    width: auto;
    font-size: 10px;
  }
}
