.hero21-wrapper {
  display: contents;
}
.hero21-header5 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero21-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  object-fit: cover;
}
.hero21-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero21-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.hero21-column {
  gap: 24px;
  width: auto;
  display: flex;
  z-index: 1;
  max-width: 700px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.hero21-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero21-text1 {
  width: auto;
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.hero21-text2 {
  font-size: 20px;
  font-family: "PlayfairDisplay-Regular";
}
.hero21root-class-name {
  height: auto;
}
.hero21root-class-name1 {
  height: auto;
}
.hero21root-class-name2 {
  height: 100%;
}
.hero21root-class-name3 {
  height: 100%;
}
.hero21root-class-name4 {
  height: 100%;
}
.hero21root-class-name5 {
  height: 100%;
}
.hero21root-class-name6 {
  height: 100%;
}
@media(max-width: 991px) {
  .hero21-text2 {
    font-size: 22px;
  }
}
@media(max-width: 767px) {
  .hero21-header5 {
    justify-content: center;
  }
  .hero21-max-width {
    justify-content: center;
  }
  .hero21-column {
    width: 100%;
  }
  .hero21-text1 {
    font-size: 26px;
    text-align: left;
  }
  .hero21-text2 {
    font-size: 16px;
  }
}
@media(max-width: 479px) {
  .hero21-text1 {
    font-size: 26px;
  }
  .hero21-text2 {
    font-size: 16px;
  }
}

.submitted-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.submitted-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.submitted-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.submitted-text10 {
  font-size: 36px;
  margin-top: var(--dl-space-space-unit);
  font-family: "PlayfairDisplay-Bold";
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.submitted-desktop-menu {
  top: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: absolute;
  align-self: stretch;
  align-items: flex-end;
  padding-top: auto;
  padding-left: auto;
  padding-right: auto;
  flex-direction: row;
  padding-bottom: auto;
  justify-content: space-between;
}
.submitted-nav1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.submitted-navlink1 {
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.submitted-link10 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.submitted-link11 {
  fill: #000000;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
  text-decoration: none;
}
.submitted-link12 {
  fill: #000000;
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
}
.submitted-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.submitted-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
}
.submitted-dropdown-arrow {
  transition: 0.3s;
}
.submitted-link13 {
  fill: #000000;
  color: #000000;
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold";
}
.submitted-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-black);
  list-style-position: inside;
}
.submitted-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.submitted-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.submitted-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.submitted-text11 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.submitted-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.submitted-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.submitted-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.submitted-text12 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
.submitted-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.submitted-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.submitted-actions {
  display: flex;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.submitted-button {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.submitted-text13 {
  fill: #ffffff;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  font-family: "Source Sans Pro";
}
.submitted-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.submitted-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.submitted-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.submitted-nav2 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.submitted-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.submitted-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submitted-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.submitted-nav3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.submitted-link16 {
  text-decoration: none;
}
.submitted-navlink2 {
  text-decoration: none;
}
.submitted-navlink3 {
  text-decoration: none;
}
.submitted-navlink4 {
  text-decoration: none;
}
.submitted-link17 {
  text-decoration: none;
}
.submitted-link18 {
  text-decoration: none;
}
.submitted-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.submitted-text14 {
  fill: #000000;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "STIXTwoText";
  margin-bottom: var(--dl-space-space-threeunits);
}
.submitted-navlink5 {
  fill: #ffffff;
  color: #ffffff;
  border-radius: 8px;
  text-decoration: none;
  background-color: #000000;
}
.submitted-footer {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #000000;
}
.submitted-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.submitted-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.submitted-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.submitted-description1 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 27px;
  margin-left: 0px;
}
.submitted-description2 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 18px;
  align-self: center;
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 27px;
  margin-left: 0px;
}
.submitted-container8 {
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: center;
}
.submitted-link19 {
  display: contents;
}
.submitted-icon14 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.submitted-link20 {
  display: contents;
}
.submitted-icon16 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.submitted-link21 {
  display: contents;
}
.submitted-icon18 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.submitted-container9 {
  flex: 0 0 auto;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.submitted-text22 {
  fill: #ffffff;
  color: #ffffff;
  font-size: 36px;
  margin-top: 0px;
  font-family: "PlayfairDisplay-Bold";
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
  text-decoration: none;
}
.submitted-copyright {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  line-height: 21px;
}
@media(max-width: 991px) {
  .submitted-navbar {
    width: 958px;
  }
  .submitted-desktop-menu {
    top: 0px;
    right: 0px;
    position: absolute;
  }
  .submitted-nav1 {
    align-self: center;
  }
  .submitted-navlink1 {
    font-size: 16px;
  }
  .submitted-link10 {
    font-size: 16px;
  }
  .submitted-link11 {
    font-size: 16px;
  }
  .submitted-link12 {
    font-size: 16px;
  }
  .submitted-link13 {
    font-size: 16px;
  }
  .submitted-actions {
    align-self: center;
  }
  .submitted-text13 {
    font-size: 16px;
  }
  .submitted-footer {
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fourunits);
  }
  .submitted-description1 {
    line-height: 27px;
  }
  .submitted-description2 {
    color: rgb(255, 255, 255);
  }
  .submitted-copyright {
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 21px;
  }
}
@media(max-width: 767px) {
  .submitted-navbar {
    width: 100%;
    align-self: center;
    align-items: center;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
  }
  .submitted-text10 {
    font-size: 30px;
  }
  .submitted-desktop-menu {
    display: none;
  }
  .submitted-burger-menu {
    display: flex;
    align-self: center;
  }
  .submitted-icon10 {
    fill: #000000;
    width: 24px;
    height: 24px;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .submitted-mobile-menu {
    height: 100%;
    background-color: #ffffff;
  }
  .submitted-nav2 {
    gap: var(--dl-space-space-oneandhalfunits);
    height: auto;
  }
  .submitted-container3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .submitted-menu-close {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .submitted-icon12 {
    fill: #000000;
    width: var(--dl-size-size-small);
    height: auto;
  }
  .submitted-nav3 {
    gap: var(--dl-space-space-unit);
    color: #ffffff;
    width: 250px;
    height: 173px;
    align-self: center;
  }
  .submitted-link16 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .submitted-navlink2 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .submitted-navlink3 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .submitted-navlink4 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .submitted-link17 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .submitted-link18 {
    fill: #000000;
    color: #000000;
    width: 100%;
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-family: STIXTwoText-Bold;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .submitted-container4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .submitted-text14 {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-family: STIXTwoText;
  }
  .submitted-text15 {
    font-size: 1.2em;
  }
  .submitted-text16 {
    font-size: 1.2em;
  }
  .submitted-text18 {
    font-size: 24px;
  }
  .submitted-text19 {
    font-size: 24px;
  }
  .submitted-text20 {
    font-size: 24px;
  }
  .submitted-footer {
    height: auto;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .submitted-description1 {
    font-size: 14px;
    line-height: 21px;
  }
  .submitted-description2 {
    font-size: 14px;
    line-height: 21px;
  }
  .submitted-text22 {
    font-size: 30px;
  }
}
@media(max-width: 479px) {
  .submitted-navbar {
    width: 100%;
  }
  .submitted-actions {
    width: 100%;
    flex-direction: column;
  }
  .submitted-button {
    width: 100%;
  }
  .submitted-icon10 {
    width: 24px;
    height: 24ll;
    padding: 0px;
    margin-top: var(--dl-space-space-unit);
  }
  .submitted-mobile-menu {
    padding: 16px;
    background-color: #ffffff;
  }
  .submitted-nav2 {
    height: 100%;
  }
  .submitted-menu-close {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }
  .submitted-icon12 {
    fill: #000000;
    width: var(--dl-size-size-small);
    height: auto;
    position: static;
  }
  .submitted-nav3 {
    color: #ffffff;
    height: auto;
  }
  .submitted-link16 {
    fill: #000000;
    color: #000000;
    text-decoration: none;
  }
  .submitted-navlink3 {
    fill: #000000;
    color: #000000;
  }
  .submitted-navlink4 {
    fill: #000000;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .submitted-link17 {
    fill: #000000;
    color: #000000;
    text-decoration: none;
  }
  .submitted-link18 {
    fill: #000000;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .submitted-container4 {
    height: auto;
  }
  .submitted-text14 {
    margin-top: var(--dl-space-space-fiveunits);
    font-family: PlayfairDisplay-Regular;
  }
  .submitted-text15 {
    margin-top: var(--dl-space-space-fiveunits);
  }
  .submitted-footer {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .submitted-container5 {
    width: auto;
  }
  .submitted-description1 {
    align-self: center;
    text-align: center;
  }
  .submitted-description2 {
    align-self: center;
    text-align: center;
  }
  .submitted-container8 {
    width: auto;
    margin: var(--dl-space-space-halfunit);
    position: static;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .submitted-icon14 {
    width: 24px;
  }
  .submitted-icon16 {
    width: 24px;
  }
  .submitted-icon18 {
    width: 24px;
  }
  .submitted-container9 {
    position: static;
    padding-right: 0px;
  }
  .submitted-copyright {
    width: auto;
    font-size: 10px;
  }
}
