.contact3-contact20 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact3-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact3-section-title {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact3-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact3-text {
  font-size: 32px;
  font-family: "STIXTwoText-Bold";
}
.contact3-text1 {
  font-size: 16px;
  text-align: center;
  font-family: "STIXTwoText";
}
.contact3-text2 {
  font-family: "STIXTwoText";
}
.contact3-row {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.contact3-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact3-icon {
  align-self: center;
}
.contact3-contact-info {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact3-content2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact3-text3 {
  font-size: 26px;
  align-self: center;
  text-align: center;
  font-family: "STIXTwoText-Bold";
}
.contact3-email {
  align-self: center;
  text-align: center;
  font-family: "STIXTwoText";
}
.contact3-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact3-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact3-content4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact3-text4 {
  font-size: 26px;
  align-self: stretch;
  text-align: center;
  font-family: "STIXTwoText-Bold";
}
.contact3-address {
  text-align: center;
  font-family: "STIXTwoText";
}
@media(max-width: 767px) {
  .contact3-row {
    flex-direction: row;
  }
}
