<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nattynites</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Source Sans Pro;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background: var(--dl-color-gray-white);

        fill: var(--dl-color-gray-black);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/logo_original square.webp"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />

    <style>
      [data-thq="thq-dropdown"]:hover > [data-thq="thq-dropdown-list"] {
          display: flex;
        }

        [data-thq="thq-dropdown"]:hover > div [data-thq="thq-dropdown-arrow"] {
          transform: rotate(90deg);
        }
    </style>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
      ScrollReveal({ reset: true });
    </script>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./features22.css" rel="stylesheet" />
      <div class="features22-layout349 thq-section-padding_2">
        <div class="features22-max-width thq-section-max-width">
          <div class="features22-container1">
            <h2 class="features22-text10 thq-heading-2">
              <span>Unlock Exclusive Perks with Nattynites NFTs</span>
            </h2>
          </div>
          <span>
            <fragment class="features22-fragment20">
              <span class="features22-text48 thq-body-small">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique. Duis
                  cursus, mi quis viverra ornare, eros dolor interdum nulla.
                </span>
              </span>
            </fragment>
          </span>
          <a
            href="https://twitter.com/nattynites_club"
            target="_blank"
            rel="noreferrer noopener"
            class="features22-view button-link button"
          >
            <span class="features22-text12">Join Community</span>
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path d="M8 5v14l11-7z" fill="currentColor"></path>
            </svg>
          </a>
          <div class="features22-container2 thq-grid-4">
            <div class="features22-card1 thq-card">
              <img
                alt="Discounts at Partner Establishments"
                src="https://images.unsplash.com/photo-1542314831-068cd1dbfeeb?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDN8fGhvdGVsfGVufDB8fHx8MTcxNjQ2NjczNXww&amp;ixlib=rb-4.0.3&amp;w=1400"
                class="features22-image1 thq-img-round"
              />
              <h2>
                <fragment class="features22-fragment11">
                  <h2 class="features22-text30 thq-heading-2">
                    <span>Vouchers at Partner Establishments</span>
                  </h2>
                </fragment>
              </h2>
              <span>
                <fragment class="features22-fragment22">
                  <span class="features22-text51 thq-body-small">
                    <span>
                      Tokenize your hotel bookings and gain the flexibility to
                      trade or sell stays on the secondary market. Whether
                      you’re a member or just booking, adapt your travel plans
                      with ease.
                    </span>
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features22-card2 thq-card">
              <img
                alt="VIP Experiences"
                src="https://images.unsplash.com/photo-1551432615-469d73f41b97?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDR8fHZpcHxlbnwwfHx8fDE3MTY0NjY3NDN8MA&amp;ixlib=rb-4.0.3&amp;w=1400"
                class="features22-image2 thq-img-round"
              />
              <h2 class="features22-text15 thq-heading-2">
                <span>Higher Rewards with Longer NFT Holding</span>
              </h2>
              <span>
                <fragment class="features22-fragment12">
                  <span class="features22-text32 thq-body-small">
                    <span>
                      The longer you hold and stake your Nattynites NFT, the
                      greater perks you unlock—ranging from room upgrades and
                      free meals to free accommodations, all issued as NFT
                      vouchers.
                    </span>
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features22-card3 thq-card">
              <img
                alt="Blockchain Integration"
                src="https://images.unsplash.com/photo-1642543348763-9f7b40b3abdf?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDU5fHxibG9ja2NoYWlufGVufDB8fHx8MTcxNjQ2Njg3M3ww&amp;ixlib=rb-4.0.3&amp;w=1400"
                class="features22-image3 thq-img-round"
              />
              <h1>
                <fragment class="features22-fragment18">
                  <h1 class="features22-text43 thq-heading-2">
                    <br />
                    <span>Travel-to-Earn Program</span>
                    <span>Gamified</span>
                  </h1>
                </fragment>
              </h1>
              <span>
                <fragment class="features22-fragment13">
                  <span class="features22-text34 thq-body-small">
                    <span>
                      Collect, trade, and fuse NFTs from your stays to earn
                      real-world perks through our Travel-to-Earn loyalty
                      program. The more you travel, the higher your ranking and
                      rewards.
                    </span>
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features22-card4 thq-card">
              <img
                alt="Exclusive Vouchers"
                src="https://images.unsplash.com/photo-1526614180703-827d23e7c8f2?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDF8fHZvdWNoZXJ8ZW58MHx8fHwxNzE2NDY2ODg4fDA&amp;ixlib=rb-4.0.3&amp;w=1400"
                class="features22-image4 thq-img-round"
              />
              <h1 class="features22-text19 thq-heading-2">
                <span>Exclusive Access to Elite Accommodations</span>
              </h1>
              <span>
                <fragment class="features22-fragment14">
                  <span class="features22-text36 thq-body-small">
                    <span>
                      Enjoy priority access to luxury and hard-to-book hotels,
                      plus VIP services reserved for our community of NFT
                      holders.
                    </span>
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features22-card5 thq-card">
              <img
                alt="Investment Opportunities"
                src="https://images.unsplash.com/photo-1613442301239-ea2478101ea7?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQ4fHxpbnZlc3RtZW50fGVufDB8fHx8MTcxNjQ2NjkxOHww&amp;ixlib=rb-4.0.3&amp;w=1400"
                class="features22-image5 thq-img-round"
              />
              <h1 class="features22-text21 thq-heading-2">
                <span>Fractional Property Ownership Opportunities</span>
              </h1>
              <span class="features22-text22 thq-body-small">
                <span>
                  Participate in fractional property ownership and vote on
                  resort management decisions, allowing you to share in the
                  profits of tokenized properties.
                </span>
              </span>
            </div>
            <div class="features22-card6 thq-card">
              <img
                alt="Personalized Concierge Service"
                src="https://images.unsplash.com/photo-1556745753-b2904692b3cd?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDJ8fHNlcnZpY2V8ZW58MHx8fHwxNzE2NDY2OTQ0fDA&amp;ixlib=rb-4.0.3&amp;w=1400"
                class="features22-image6 thq-img-round"
              />
              <h1>
                <fragment class="features22-fragment16">
                  <h1 class="features22-text39 thq-heading-2">
                    Real-World Utility on Open Marketplaces
                  </h1>
                </fragment>
              </h1>
              <span>
                <fragment class="features22-fragment15">
                  <span class="features22-text38 thq-body-small">
                    Trade or sell your Nattynites NFTs, tied to accommodations,
                    upgrades, and event access, on open marketplaces, unlocking
                    real-world benefits with ease.
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features22-card7 thq-card">
              <img
                alt="Partnership Programs"
                src="https://images.unsplash.com/photo-1544725121-be3bf52e2dc8?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8c2VhcmNofDEzfHxwYXJ0bmVyc2hpcHxlbnwwfHx8fDE3MTY0NjY5NjR8MA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                class="features22-image7 thq-img-round"
              />
              <h1>
                <fragment class="features22-fragment10">
                  <h1 class="features22-text29 thq-heading-2">
                    Personalized Concierge and VIP Treatment
                  </h1>
                </fragment>
              </h1>
              <span>
                <fragment class="features22-fragment21">
                  <span class="features22-text50 thq-body-small">
                    Enjoy personalized concierge services and VIP travel
                    planning, ensuring every trip is seamless and tailored to
                    your preferences.
                  </span>
                </fragment>
              </span>
            </div>
            <div class="features22-card8 thq-card">
              <img
                alt="Upcoming Locations"
                src="https://images.unsplash.com/photo-1564858611794-e9c4a5442330?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNjM4NTM0Nnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                class="features22-image8 thq-img-round"
              />
              <h1>
                <fragment class="features22-fragment19">
                  <h1 class="features22-text47 thq-heading-2">
                    NFT-Driven Loyalty and Ticketing System
                  </h1>
                </fragment>
              </h1>
              <span>
                <fragment class="features22-fragment17">
                  <span class="features22-text40 thq-body-small">
                    <span>
                      Experience the future of loyalty programs and event access
                      with our tokenized ticketing system, offering exclusive
                      deals, rewards, and access to events and experiences
                      across the world.
                    </span>
                    <br />
                  </span>
                </fragment>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
