.features222-layout349 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.features222-text10 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
  margin-bottom: var(--dl-space-space-unit);
}
.features222-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: row;
  justify-content: center;
  background-color: #81a8e7;
}
.features222-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.features222-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #81a8e7;
}
.features222-textinput1 {
  width: 100%;
  font-family: "Open Sans";
  margin-left: var(--dl-space-space-unit);
  padding-top: 1.5rem;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 1.5rem;
}
.features222-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.features222-textinput2 {
  width: 100%;
  font-family: "Open Sans";
  margin-left: var(--dl-space-space-unit);
  padding-top: 1.2rem;
  margin-right: var(--dl-space-space-unit);
  padding-bottom: 1.2rem;
}
.features222-textinput3 {
  width: 100%;
  font-family: "Open Sans";
  margin-left: var(--dl-space-space-unit);
  padding-top: 1.2rem;
  margin-right: var(--dl-space-space-unit);
  padding-bottom: 1.2rem;
}
.features222-text11 {
  align-self: center;
  font-family: "PlayfairDisplay-Bold";
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.features222-select1 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 1.2rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 1.2rem;
}
.features222-text12 {
  align-self: center;
  font-family: "PlayfairDisplay-Bold";
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.features222-select2 {
  width: auto;
  align-self: stretch;
  padding-top: 1.2rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 1.2rem;
}
.features222-text13 {
  font-size: 16px;
  align-self: center;
  text-align: center;
  font-family: "PlayfairDisplay-Bold";
  padding-left: var(--dl-space-space-halfunit);
}
.features222-select3 {
  align-self: stretch;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 1.2rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 1.2rem;
}
.features222-container5 {
  flex: 0 0 auto;
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-xxlarge);
  display: flex;
  align-self: center;
  align-items: center;
  border-color: #d4d4f6;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(to right, #81a8e7 0%, #9595E8 100%);
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.features222-fragment {
  display: contents;
}
.features222-text15 {
  fill: white;
  color: white;
  height: auto;
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
}

@media(max-width: 991px) {
  .features222-layout349 {
    padding: var(--dl-space-space-halfunit);
  }
  .features222-container2 {
    width: 100%;
    height: var(--dl-size-size-xxlarge);
    align-self: center;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
  }
  .features222-container3 {
    width: 80%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .features222-textinput1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .features222-textinput2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .features222-container5 {
    width: 20%o;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .features222-text18 {
    font-size: 15px;
  }
}
@media(max-width: 767px) {
  .features222-container1 {
    flex-direction: column;
  }
  .features222-container2 {
    height: auto;
    flex-direction: column;
  }
  .features222-container3 {
    width: var(--dl-size-size-xxlarge);
  }
  .features222-textinput1 {
    width: auto;
    align-self: stretch;
    text-align: center;
    margin-left: 0;
    padding-top: var(--dl-space-space-halfunit1);
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 0px;
    padding-bottom: var(--dl-space-space-halfunit1);
  }
  .features222-container4 {
    flex-direction: column;
  }
  .features222-textinput2 {
    width: auto;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0;
    padding-top: var(--dl-space-space-halfunit1);
    margin-right: 0;
    padding-bottom: var(--dl-space-space-halfunit1);
  }
  .features222-textinput3 {
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
    padding-top: var(--dl-space-space-halfunit1);
    margin-right: 0px;
    padding-bottom: var(--dl-space-space-halfunit1);
  }
  .features222-text11 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .features222-select1 {
    margin-left: 0px;
    padding-top: var(--dl-space-space-halfunit1);
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-halfunit1);
  }
  .features222-text12 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
    margin-right: 0px;
  }
  .features222-select2 {
    padding-top: var(--dl-space-space-halfunit1);
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-halfunit1);
  }
  .features222-text13 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: 0px;
  }
  .features222-select3 {
    margin-left: 0px;
    padding-top: var(--dl-space-space-halfunit1);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-halfunit1);
  }
  .features222-container5 {
    width: var(--dl-size-size-xxlarge);
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-image: linear-gradient(to bottom, #81a8e7 0%, #9595E8 100%);
    border-top-width: 2px;
    border-left-width: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .features222-text15 {
    font-size: 20px;
    text-align: center;
  }
  .features222-text16 {
    font-size: 20px;
  }
  .features222-text17 {
    font-size: 20px;
  }
  .features222-text18 {
    font-size: 12px;
  }
}
@media(max-width: 479px) {
  .features222-layout349 {
    padding: var(--dl-space-space-unit);
  }
  .features222-container1 {
    flex-direction: column;
  }
  .features222-container2 {
    height: auto;
    flex-direction: column;
  }
  .features222-container3 {
    width: var(--dl-size-size-xxlarge);
  }
  .features222-textinput1 {
    width: auto;
    align-self: stretch;
    text-align: center;
    margin-left: 0px;
    padding-top: 0.5rem;
    margin-right: 0px;
    padding-left: 0px;
    padding-bottom: 0.5rem;
  }
  .features222-container4 {
    flex-direction: column;
  }
  .features222-textinput2 {
    width: auto;
    align-self: stretch;
    margin-left: 0px;
    padding-top: 0.5rem;
    margin-right: 0px;
    padding-bottom: 0.5rem;
  }
  .features222-textinput3 {
    width: auto;
    align-self: stretch;
    margin-left: 0px;
    padding-top: 0.5rem;
    margin-right: 0px;
    padding-bottom: 0.5rem;
  }
  .features222-text11 {
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .features222-select1 {
    width: auto;
    align-self: stretch;
    margin-left: 0px;
    padding-top: 0.5rem;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0.5rem;
  }
  .features222-select2 {
    align-self: stretch;
    margin-left: 0px;
    padding-top: 0.5rem;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0.5rem;
  }
  .features222-select3 {
    align-self: stretch;
    margin-left: 0px;
    padding-top: 0.5rem;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0.5rem;
  }
  .features222-container5 {
    width: var(--dl-size-size-xxlarge);
    height: auto;
    padding-top: 0px;
    border-radius: var(--dl-radius-radius-radius1);
    padding-bottom: 0px;
    background-image: linear-gradient(to bottom, #81a8e7 0%, #9595E8 100%);
    border-top-width: 2px;
    border-left-width: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .features222-text15 {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .features222-text16 {
    font-size: 20px;
  }
  .features222-text17 {
    font-size: 20px;
  }
  .features222-text18 {
    font-size: 12px;
  }
}
