.hero92-header30 {
  height: 750px;
  align-items: center;
  padding-top: 300px;
  padding-left: 150px;
  padding-bottom: 200px;
  justify-content: center;
}
.hero92-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.hero92-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  z-index: 1;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.hero92-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
}
.hero92-text {
  fill: #ffffff;
  color: #ffffff;
  font-size: 3em;
  align-self: flex-start;
  text-align: center;
  font-family: "PlayfairDisplay-Bold";
}
.hero92-text1 {
  fill: #ffffff;
  color: #ffffff;
  font-size: 1.5em;
  align-self: flex-start;
  font-family: "PlayfairDisplay-Bold";
}
.hero92-text2 {
  fill: #ffffff;
  color: #ffffff;
  width: 60%;
  font-family: "PlayfairDisplay-Regular";
  line-height: 1.5;
}
.hero92-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  padding-top: 0px;
}
.hero92-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.hero92-text3 {
  fill: #ffffff;
  color: #ffffff;
  align-self: center;
  font-family: "PlayfairDisplay-Regular";
  padding-left: var(--dl-space-space-unit);
}
.hero92-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  padding-top: 0px;
  justify-content: flex-start;
}
.hero92-icon2 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.hero92-link {
  fill: #ffffff;
  color: #ffffff;
  font-family: "PlayfairDisplay-Regular";
  padding-left: var(--dl-space-space-unit);
  text-decoration: none;
}

@media(max-width: 991px) {
  .hero92-header30 {
    padding-left: 150px;
    padding-right: 150px;
  }
  .hero92-text {
    font-size: 2.5em;
    text-align: center;
  }
  .hero92-text1 {
    font-size: 2.5em;
  }
}
@media(max-width: 767px) {
  .hero92-header30 {
    height: 750px;
    padding-top: 50px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: 0px;
    padding-bottom: 50px;
    justify-content: flex-start;
  }
  .hero92-image {
    margin: 0px;
    border-color: transparent;
  }
  .hero92-content {
    align-self: flex-start;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .hero92-text {
    font-size: 2em;
  }
  .hero92-text1 {
    font-size: 2em;
  }
  .hero92-text2 {
    width: 80%;
  }
  .hero92-icon {
    align-self: center;
  }
  .hero92-icon2 {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .hero92-header30 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .hero92-image {
    top: 25px;
    right: 25px;
    position: absolute;
  }
  .hero92-max-width {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hero92-content {
    width: 100%;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .hero92-text {
    width: 100%;
    font-size: 1.5em;
    align-self: flex-start;
    text-align: left;
  }
  .hero92-text1 {
    font-size: 1.5em;
    align-self: flex-start;
  }
  .hero92-container {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-start;
  }
  .hero92-icon {
    align-self: center;
  }
  .hero92-container1 {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-start;
  }
  .hero92-icon2 {
    align-self: center;
  }
}
