.hero92-header30 {
  height: 750px;
  align-items: center;
  padding-top: 300px;
  padding-left: 150px;
  padding-bottom: 200px;
  justify-content: center;
}
.hero92-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.hero92-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  z-index: 1;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.hero92-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  opacity: 0.7;
  padding: var(--dl-space-space-twounits);
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-secondary1);
}
.hero92-text1 {
  fill: #000000;
  color: #000000;
  font-size: 3em;
  align-self: flex-start;
  text-align: center;
  font-family: "PlayfairDisplay-Bold";
}
.hero92-text2 {
  fill: #000000;
  color: #000000;
  font-size: 2em;
  align-self: flex-start;
  font-family: "PlayfairDisplay-Bold";
}
.hero92-text3 {
  font-size: 1.2em;
  font-family: "Open Sans";
}
.hero92-text4 {
  color: rgb(0, 0, 0);
  font-family: "Open Sans";
  line-height: 1.5;
}
.hero92-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  padding-top: 0px;
}
.hero92-icon1 {
  fill: #000000;
  width: 24px;
  height: 24px;
}
.hero92-text5 {
  font-size: 16px;
  font-family: "Open Sans";
}
.hero92-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  padding-top: 0px;
  justify-content: flex-start;
}
.hero92-icon3 {
  fill: #000000;
  width: 24px;
  height: 24px;
}
.hero92-text6 {
  align-self: center;
  font-family: "Open Sans";
}
.hero92-fragment1 {
  display: contents;
}
.hero92-text7 {
  display: inline-block;
}
.hero92-fragment2 {
  display: contents;
}
.hero92-text8 {
  display: inline-block;
}

@media(max-width: 991px) {
  .hero92-header30 {
    padding-left: 150px;
    padding-right: 150px;
  }
  .hero92-text1 {
    font-size: 2.5em;
    text-align: center;
  }
  .hero92-text2 {
    font-size: 2.5em;
  }
}
@media(max-width: 767px) {
  .hero92-header30 {
    height: 750px;
    padding-top: 50px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: 0px;
    padding-bottom: 50px;
    justify-content: center;
  }
  .hero92-image {
    margin: 0px;
    border-color: transparent;
  }
  .hero92-content {
    width: auto;
    align-self: flex-start;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .hero92-text1 {
    font-size: 2em;
  }
  .hero92-text2 {
    font-size: 2em;
  }
  .hero92-text4 {
    width: 80%;
  }
  .hero92-icon1 {
    align-self: center;
  }
  .hero92-icon3 {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .hero92-header30 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    justify-content: center;
  }
  .hero92-image {
    height: 100%;
    position: 0px;
  }
  .hero92-max-width {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hero92-content {
    width: 100%;
    opacity: 0.7;
    align-self: flex-start;
    align-items: flex-start;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .hero92-text1 {
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 1em;
    font-family: PlayfairDisplay-Bold;
  }
  .hero92-text2 {
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-family: PlayfairDisplay-Bold;
  }
  .hero92-text3 {
    font-size: 1em;
    font-family: Open Sans;
  }
  .hero92-text4 {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-family: Open Sans;
    line-height: 1.5;
  }
  .hero92-container1 {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-start;
  }
  .hero92-icon1 {
    align-self: center;
  }
  .hero92-container2 {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-start;
  }
  .hero92-icon3 {
    align-self: center;
  }
}
