.hero93-header30 {
  height: 750px;
  align-items: center;
  padding-top: 300px;
  padding-left: 150px;
  padding-bottom: 200px;
  justify-content: center;
}
.hero93-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  opacity: 1;
  position: absolute;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.hero93-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  z-index: 1;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.hero93-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
}
.hero93-text {
  fill: #ffffff;
  color: #ffffff;
  font-size: 3em;
  align-self: flex-start;
  text-align: center;
  font-family: "PlayfairDisplay-Bold";
}
.hero93-text1 {
  fill: #ffffff;
  color: #ffffff;
  width: 50%;
}
.hero93-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
}
.hero93-button {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.hero93-text2 {
  fill: #ffffff;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}
.hero93-root-class-name {
  height: auto;
}
.hero93-root-class-name1 {
  height: auto;
}
.hero93-root-class-name2 {
  height: auto;
}

@media(max-width: 991px) {
  .hero93-text {
    font-size: 2.5em;
    text-align: center;
  }
}
@media(max-width: 767px) {
  .hero93-header30 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .hero93-image {
    border-color: transparent;
  }
  .hero93-content {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .hero93-text {
    font-size: 2em;
  }
  .hero93-text1 {
    width: 70%;
  }
  .hero93-text2 {
    font-size: 24px;
  }
}
@media(max-width: 479px) {
  .hero93-header30 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .hero93-image {
    top: 25px;
    right: 25px;
    position: absolute;
  }
  .hero93-max-width {
    width: 100%;
    justify-content: center;
  }
  .hero93-content {
    width: 100%;
    align-self: flex-start;
    padding-left: var(--dl-space-space-twounits);
  }
  .hero93-text {
    width: 100%;
    font-size: 1.5em;
    align-self: flex-start;
    text-align: left;
  }
  .hero93-text1 {
    fill: #ffffff;
    color: #ffffff;
    width: 70%;
    font-size: 16px;
  }
  .hero93-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero93-button {
    width: auto;
  }
  .hero93-text2 {
    font-size: 20px;
  }
}
