.hero21-header5 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero21-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  object-fit: cover;
}
.hero21-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero21-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.hero21-column {
  gap: 24px;
  width: auto;
  display: flex;
  z-index: 1;
  max-width: 700px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.hero21-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero21-fragment1 {
  display: contents;
}
.hero21-text3 {
  display: inline-block;
  font-size: 20px;
  font-family: "PlayfairDisplay-Regular";
}
.hero21-fragment2 {
  display: contents;
}
.hero21-text5 {
  width: auto;
  display: inline-block;
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.hero21root-class-name {
  height: auto;
}
.hero21root-class-name1 {
  height: auto;
}
.hero21root-class-name2 {
  height: 100%;
}
.hero21root-class-name3 {
  height: 100%;
}
.hero21root-class-name4 {
  height: 100%;
}
.hero21root-class-name5 {
  height: 100%;
}
.hero21root-class-name6 {
  height: 100%;
}
@media(max-width: 991px) {
  .hero21-text3 {
    font-size: 22px;
  }
}
@media(max-width: 767px) {
  .hero21-header5 {
    justify-content: center;
  }
  .hero21-max-width {
    justify-content: center;
  }
  .hero21-column {
    width: 100%;
  }
  .hero21-text3 {
    font-size: 16px;
  }
  .hero21-text5 {
    font-size: 26px;
    text-align: left;
  }
}
@media(max-width: 479px) {
  .hero21-text3 {
    font-size: 16px;
  }
  .hero21-text5 {
    font-size: 26px;
  }
}
