.hero9-header30 {
  width: 100%;
  height: 100%;
  align-items: center;
  padding-top: 300px;
  padding-left: 150px;
  padding-bottom: 200px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/hotel_night-1500h.webp");
}
.hero9-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  z-index: 1;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.hero9-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
}
.hero9-text1 {
  fill: #ffffff;
  color: #ffffff;
  font-size: 3em;
  align-self: flex-start;
  text-align: center;
  font-family: "PlayfairDisplay-Bold";
}
.hero9-text2 {
  color: rgb(255, 255, 255);
  font-size: 3em;
  font-family: "PlayfairDisplay-Bold";
}
.hero9-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
}
.hero9-button {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.hero9-text3 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Open Sans";
}
@media(max-width: 991px) {
  .hero9-text1 {
    font-size: 2.5em;
    text-align: center;
  }
  .hero9-text2 {
    font-size: 2.5em;
  }
}
@media(max-width: 767px) {
  .hero9-header30 {
    padding-top: 200px;
    padding-left: var(--dl-space-space-twounits);
    padding-bottom: 100px;
  }
  .hero9-content {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .hero9-text1 {
    font-size: 2em;
  }
  .hero9-text2 {
    font-size: 2em;
  }
  .hero9-text3 {
    font-size: 24px;
  }
}
@media(max-width: 479px) {
  .hero9-header30 {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  .hero9-max-width {
    width: 100%;
    justify-content: center;
  }
  .hero9-content {
    width: 100%;
  }
  .hero9-text1 {
    width: 100%;
    font-size: 1.5em;
    align-self: flex-start;
    text-align: left;
  }
  .hero9-text2 {
    font-size: 1.5em;
    align-self: flex-start;
  }
  .hero9-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero9-button {
    width: auto;
  }
  .hero9-text3 {
    font-size: 20px;
  }
}
