.stats1-max-width {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.stats1-container2 {
  align-self: center;
  align-items: flex-start;
}
.stats1-text10 {
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.stats1-text11 {
  font-family: "PlayfairDisplay-Regular";
}
.stats1-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.stats1-container4 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.stats1-text12 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.stats1-text13 {
  font-family: "PlayfairDisplay-Regular";
}
.stats1-container5 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.stats1-text14 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.stats1-text15 {
  font-family: "PlayfairDisplay-Regular";
}
.stats1-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.stats1-container7 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.stats1-text16 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.stats1-text17 {
  font-family: "PlayfairDisplay-Regular";
}
.stats1-container8 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.stats1-text18 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.stats1-text19 {
  font-family: "PlayfairDisplay-Regular";
}
.stats1-image {
  width: 400px;
  height: 363px;
}
.stats1-text20 {
  font-size: 16px;
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
}
.stats1-text21 {
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.stats1-button {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.stats1-text22 {
  fill: #ffffff;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-family: "Source Sans Pro";
}
@media(max-width: 991px) {
  .stats1-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .stats1-container9 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .stats1-container2 {
    align-self: center;
  }
  .stats1-text10 {
    font-size: 26px;
  }
  .stats1-text12 {
    font-size: 20px;
  }
  .stats1-text14 {
    font-size: 20px;
  }
  .stats1-text16 {
    font-size: 20px;
  }
  .stats1-text18 {
    font-size: 20px;
  }
  .stats1-text22 {
    font-size: 20px;
  }
}
@media(max-width: 479px) {
  .stats1-container2 {
    align-self: center;
  }
  .stats1-text10 {
    font-size: 26px;
    text-align: center;
  }
  .stats1-text11 {
    font-size: 16px;
  }
  .stats1-text12 {
    font-size: 20px;
  }
  .stats1-text13 {
    font-size: 16px;
  }
  .stats1-text14 {
    font-size: 20px;
  }
  .stats1-text15 {
    font-size: 16px;
  }
  .stats1-text16 {
    font-size: 20px;
  }
  .stats1-text17 {
    font-size: 16px;
  }
  .stats1-text18 {
    font-size: 20px;
  }
  .stats1-text19 {
    font-size: 16px;
  }
  .stats1-image {
    width: 100%;
  }
  .stats1-text20 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .stats1-text21 {
    text-align: center;
  }
  .stats1-button {
    width: auto;
  }
  .stats1-text22 {
    font-size: 20px;
  }
}
