.stats1-container1 {
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.stats1-max-width {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.stats1-container2 {
  align-self: center;
  align-items: flex-start;
}
.stats1-text10 {
  font-size: 30px;
  font-family: "PlayfairDisplay-Bold";
}
.stats1-text11 {
  font-family: "Open Sans";
}
.stats1-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.stats1-container4 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.stats1-text12 {
  font-size: 21px;
  font-family: "PlayfairDisplay-Bold";
}
.stats1-container5 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.stats1-text14 {
  font-size: 21px;
  font-family: "PlayfairDisplay-Bold";
}
.stats1-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.stats1-container7 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.stats1-text16 {
  font-size: 21px;
  font-family: "PlayfairDisplay-Bold";
}
.stats1-container8 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.stats1-text18 {
  font-size: 21px;
  font-family: "PlayfairDisplay-Bold";
}
.stats1-image {
  width: 400px;
  height: 363px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: var(--dl-radius-radius-radius1);
}
.stats1-fragment1 {
  display: contents;
}
.stats1-text20 {
  display: inline-block;
  font-family: "Open Sans";
}
.stats1-fragment2 {
  display: contents;
}
.stats1-text22 {
  display: inline-block;
  font-family: "Open Sans";
}
.stats1-fragment3 {
  display: contents;
}
.stats1-text24 {
  display: inline-block;
  font-family: "Open Sans";
}
.stats1-fragment4 {
  display: contents;
}
.stats1-text26 {
  display: inline-block;
  font-family: "Open Sans";
}
@media(max-width: 991px) {
  .stats1-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .stats1-container9 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .stats1-container2 {
    align-self: center;
  }
  .stats1-text10 {
    font-size: 26px;
  }
  .stats1-text12 {
    font-size: 20px;
  }
  .stats1-text14 {
    font-size: 20px;
  }
  .stats1-text16 {
    font-size: 20px;
  }
  .stats1-text18 {
    font-size: 20px;
  }
}
@media(max-width: 479px) {
  .stats1-container2 {
    align-self: center;
  }
  .stats1-text10 {
    font-size: 26px;
    text-align: center;
  }
  .stats1-text11 {
    font-size: 16px;
  }
  .stats1-text12 {
    font-size: 20px;
  }
  .stats1-text14 {
    font-size: 20px;
  }
  .stats1-text16 {
    font-size: 20px;
  }
  .stats1-text18 {
    font-size: 20px;
  }
  .stats1-image {
    width: 100%;
  }
  .stats1-text20 {
    font-size: 16px;
  }
  .stats1-text22 {
    font-size: 16px;
  }
  .stats1-text24 {
    font-size: 16px;
  }
  .stats1-text26 {
    font-size: 16px;
  }
}
