<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nattynites</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Source Sans Pro;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

        null
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/logo_original square.webp"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />

    <style>
      [data-thq="thq-dropdown"]:hover > [data-thq="thq-dropdown-list"] {
          display: flex;
        }

        [data-thq="thq-dropdown"]:hover > div [data-thq="thq-dropdown-arrow"] {
          transform: rotate(90deg);
        }
    </style>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
      ScrollReveal({ reset: true });
    </script>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./team14.css" rel="stylesheet" />
      <div class="team14-team8 thq-section-padding_2">
        <div class="team14-max-width thq-section-max-width">
          <div class="team14-section-title">
            <div class="team14-content">
              <h2 class="team14-text thq-heading-2">
                <span>Meet our team</span>
              </h2>
            </div>
          </div>
          <div
            data-thq="slider"
            data-loop="true"
            data-autoplay="true"
            data-navigation="true"
            data-pagination="true"
            class="team14-slider swiper"
          >
            <div data-thq="slider-wrapper" class="swiper-wrapper">
              <div
                data-thq="slider-slide"
                class="team14-slider-slide swiper-slide"
              >
                <div class="team14-card">
                  <img
                    alt="Member Alt"
                    src="public/img_6207-1400w.webp"
                    class="thq-img-ratio-1-1"
                  />
                  <div class="team14-content1">
                    <div class="team14-title">
                      <span class="team14-text01 thq-body-small">
                        <span>Daniel Huang</span>
                      </span>
                      <span class="team14-text02 thq-body-small">
                        <span>CEO</span>
                      </span>
                    </div>
                    <span class="team14-text03 thq-body-small">
                      <span>5+ years Sr. Software Engineer</span>
                    </span>
                    <span class="team14-textm12">
                      <span>Web3 Specialist / Investor</span>
                    </span>
                    <span class="team14-text04">
                      <span>Entrepreneurial Researcher</span>
                    </span>
                  </div>
                  <div class="team14-social-icons">
                    <a
                      href="https://www.linkedin.com/in/huanghuaihsuan/"
                      target="_blank"
                      rel="noreferrer noopener"
                      class="team14-link"
                    >
                      <svg
                        viewBox="0 0 877.7142857142857 1024"
                        class="team14-icon thq-icon-small"
                      >
                        <path
                          d="M135.429 808h132v-396.571h-132v396.571zM276 289.143c-0.571-38.857-28.571-68.571-73.714-68.571s-74.857 29.714-74.857 68.571c0 37.714 28.571 68.571 73.143 68.571h0.571c46.286 0 74.857-30.857 74.857-68.571zM610.286 808h132v-227.429c0-121.714-65.143-178.286-152-178.286-70.857 0-102.286 39.429-119.429 66.857h1.143v-57.714h-132s1.714 37.143 0 396.571v0h132v-221.714c0-11.429 0.571-23.429 4-32 9.714-23.429 31.429-48 68-48 47.429 0 66.286 36 66.286 89.714v212zM877.714 237.714v548.571c0 90.857-73.714 164.571-164.571 164.571h-548.571c-90.857 0-164.571-73.714-164.571-164.571v-548.571c0-90.857 73.714-164.571 164.571-164.571h548.571c90.857 0 164.571 73.714 164.571 164.571z"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
                <div class="team14-card1">
                  <img
                    alt="Member Alt"
                    src="public/rio_small-1400w.webp"
                    class="thq-img-ratio-1-1"
                  />
                  <div class="team14-content2">
                    <div class="team14-title1">
                      <span class="team14-text05 thq-body-small">
                        <span>Rio Ogawa</span>
                      </span>
                      <span class="team14-text06 thq-body-small">
                        <span>CMO</span>
                      </span>
                    </div>
                    <span class="team14-text07 thq-body-small">
                      <span>6+ years Web3 Marketer</span>
                    </span>
                    <span class="team14-text08">
                      <span>NFT / Gaming Projects Venture Builder</span>
                    </span>
                    <span class="team14-text09">
                      <span>Community / KOL / Social Media Specialist</span>
                    </span>
                  </div>
                  <div class="team14-social-icons1">
                    <a
                      href="https://www.linkedin.com/in/rio-ogawa/"
                      target="_blank"
                      rel="noreferrer noopener"
                      class="team14-link1"
                    >
                      <svg
                        viewBox="0 0 877.7142857142857 1024"
                        class="team14-icon2 thq-icon-small"
                      >
                        <path
                          d="M135.429 808h132v-396.571h-132v396.571zM276 289.143c-0.571-38.857-28.571-68.571-73.714-68.571s-74.857 29.714-74.857 68.571c0 37.714 28.571 68.571 73.143 68.571h0.571c46.286 0 74.857-30.857 74.857-68.571zM610.286 808h132v-227.429c0-121.714-65.143-178.286-152-178.286-70.857 0-102.286 39.429-119.429 66.857h1.143v-57.714h-132s1.714 37.143 0 396.571v0h132v-221.714c0-11.429 0.571-23.429 4-32 9.714-23.429 31.429-48 68-48 47.429 0 66.286 36 66.286 89.714v212zM877.714 237.714v548.571c0 90.857-73.714 164.571-164.571 164.571h-548.571c-90.857 0-164.571-73.714-164.571-164.571v-548.571c0-90.857 73.714-164.571 164.571-164.571h548.571c90.857 0 164.571 73.714 164.571 164.571z"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
                <div class="team14-card2">
                  <img
                    alt="Member Alt"
                    src="public/agus-1400w.jpeg"
                    class="thq-img-ratio-1-1"
                  />
                  <div class="team14-content3">
                    <div class="team14-title2">
                      <span class="team14-text10 thq-body-small">
                        <span>Agus Sentosa</span>
                      </span>
                      <span class="team14-text11 thq-body-small">
                        <span>CPO</span>
                      </span>
                    </div>
                    <span class="team14-text12 thq-body-small">
                      <span>Fintech Specialist</span>
                    </span>
                    <span class="team14-text13">
                      <span>Product Leader &amp; Mentor</span>
                    </span>
                    <span class="team14-text14">
                      <span>Stakeholder Management</span>
                    </span>
                  </div>
                  <div class="team14-social-icons2">
                    <a
                      href="https://www.linkedin.com/in/agussentosa/"
                      target="_blank"
                      rel="noreferrer noopener"
                      class="team14-link2"
                    >
                      <svg
                        viewBox="0 0 877.7142857142857 1024"
                        class="team14-icon4 thq-icon-small"
                      >
                        <path
                          d="M135.429 808h132v-396.571h-132v396.571zM276 289.143c-0.571-38.857-28.571-68.571-73.714-68.571s-74.857 29.714-74.857 68.571c0 37.714 28.571 68.571 73.143 68.571h0.571c46.286 0 74.857-30.857 74.857-68.571zM610.286 808h132v-227.429c0-121.714-65.143-178.286-152-178.286-70.857 0-102.286 39.429-119.429 66.857h1.143v-57.714h-132s1.714 37.143 0 396.571v0h132v-221.714c0-11.429 0.571-23.429 4-32 9.714-23.429 31.429-48 68-48 47.429 0 66.286 36 66.286 89.714v212zM877.714 237.714v548.571c0 90.857-73.714 164.571-164.571 164.571h-548.571c-90.857 0-164.571-73.714-164.571-164.571v-548.571c0-90.857 73.714-164.571 164.571-164.571h548.571c90.857 0 164.571 73.714 164.571 164.571z"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
                <div class="team14-card3">
                  <img
                    alt="Member Alt"
                    src="public/photo_2024-03-18%2015.02.50-1400w.jpeg"
                    class="thq-img-ratio-1-1"
                  />
                  <div class="team14-content4">
                    <div class="team14-title3">
                      <span class="team14-text15 thq-body-small">
                        <span>Kathy Thach</span>
                      </span>
                      <span class="team14-text16 thq-body-small">
                        <span>Head of Commercial</span>
                      </span>
                    </div>
                    <span class="team14-text17 thq-body-small">
                      <span>
                        Specialist in OTA partnerships with 15 years experience
                      </span>
                    </span>
                  </div>
                  <div class="team14-social-icons3"></div>
                </div>
              </div>
              <div
                data-thq="slider-slide"
                class="team14-slider-slide1 swiper-slide"
              >
                <div class="team14-card4">
                  <img
                    alt="Member Alt"
                    src="public/josh-1400w.webp"
                    class="thq-img-ratio-1-1"
                  />
                  <div class="team14-content5">
                    <div class="team14-title4">
                      <span class="team14-text18 thq-body-small">
                        <span>Dr. Josh K.</span>
                        <br />
                      </span>
                      <span class="team14-text21">
                        <span>Advisory Team</span>
                      </span>
                    </div>
                    <span class="team14-text22">
                      <span>
                        Director @ Commerce Development Research Institute (TW)
                      </span>
                    </span>
                  </div>
                  <div class="team14-social-icons4"></div>
                </div>
                <div class="team14-card5">
                  <img
                    alt="Member Alt"
                    src="public/xavier-1400w.webp"
                    class="thq-img-ratio-1-1"
                  />
                  <div class="team14-content6">
                    <div class="team14-title5">
                      <span class="team14-text23">
                        <span>Mr. Xavier L.</span>
                      </span>
                      <span class="team14-text24 thq-body-small">
                        <span>Advisory Team</span>
                        <br />
                      </span>
                    </div>
                    <span class="team14-text27 thq-body-small">
                      <span>CMO&amp; Co-founder @ KitchBot</span>
                      <br />
                      <span>(CA, USA)</span>
                    </span>
                  </div>
                </div>
                <div class="team14-card6">
                  <img
                    alt="Member Alt"
                    src="public/bom%20image%20small-1400w.jpg"
                    class="thq-img-ratio-1-1"
                  />
                  <div class="team14-content7">
                    <div class="team14-title6">
                      <span class="team14-text31">
                        <span>Mr. Bom Sri.</span>
                      </span>
                      <span class="team14-text32 thq-body-small">
                        <span>Advisory Team</span>
                        <br />
                      </span>
                    </div>
                    <span class="team14-text35">
                      <span>
                        COO @ Putahracsa Hua Hin Resort COO @ Theatre Residence
                        (TH)
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div
              data-thq="slider-pagination"
              class="team14-slider-pagination swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"
            >
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet swiper-pagination-bullet-active"
              ></div>
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet"
              ></div>
            </div>
            <div data-thq="slider-button-prev" class="swiper-button-prev"></div>
            <div data-thq="slider-button-next" class="swiper-button-next"></div>
          </div>
          <span class="team14-text36 thq-body-small">
            <span>Join our team and make a difference in your career!</span>
          </span>
          <a href="recruitment.html" class="team14-button">
            <span class="team14-text37 navLink">
              <span>Open Positions</span>
            </span>
          </a>
        </div>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
