.team14-team8 {
  padding: 100px;
}
.team14-max-width {
  gap: var(--dl-space-space-twounits);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team14-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-text {
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.team14-slider {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  align-self: center;
}
.team14-slider-slide {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text01 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text02 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text03 {
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.team14-textm12 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-text04 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-social-icons {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-link {
  display: contents;
}
.team14-icon {
  text-decoration: none;
}
.team14-card1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text05 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text06 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text07 {
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text08 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-text09 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-social-icons1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-link1 {
  display: contents;
}
.team14-icon2 {
  text-decoration: none;
}
.team14-card2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text10 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text11 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text12 {
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text13 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-text14 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-social-icons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-link2 {
  display: contents;
}
.team14-icon4 {
  text-decoration: none;
}
.team14-card3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text15 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text16 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text17 {
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.team14-social-icons3 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.team14-slider-slide1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card4 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.team14-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text18 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text21 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-text22 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-social-icons4 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.team14-card5 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.team14-content6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text23 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text24 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text27 {
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.team14-card6 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.team14-content7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text31 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text32 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text35 {
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.team14-slider-pagination {
  display: block;
}
.team14-text36 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-button {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.team14-text37 {
  fill: #ffffff;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  font-family: "Source Sans Pro";
}
@media(max-width: 991px) {
  .team14-text37 {
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .team14-team8 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .team14-max-width {
    padding: var(--dl-space-space-threeunits);
  }
  .team14-text {
    font-size: 30px;
  }
  .team14-text37 {
    font-size: 20px;
  }
}
@media(max-width: 479px) {
  .team14-team8 {
    padding: 0px;
  }
  .team14-max-width {
    padding: 0px;
  }
  .team14-text {
    font-size: 26px;
  }
  .team14-slider-slide {
    padding-left: 0px;
    padding-right: 0px;
  }
  .team14-card4 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .team14-card5 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .team14-card6 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .team14-text36 {
    text-align: center;
  }
  .team14-button {
    width: auto;
  }
  .team14-text37 {
    font-size: 20px;
  }
}
