.team14-team8 {
  padding: var(--dl-space-space-twounits);
}
.team14-max-width {
  gap: var(--dl-space-space-twounits);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team14-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team14-text10 {
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.team14-slider {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  align-self: center;
}
.team14-slider-slide1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text11 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text12 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text13 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-textm12 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-text15 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-social-icons1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-link1 {
  display: contents;
}
.team14-icon1 {
  text-decoration: none;
}
.team14-card2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text16 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text17 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text18 {
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text19 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-text20 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-social-icons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-link2 {
  display: contents;
}
.team14-icon3 {
  text-decoration: none;
}
.team14-card3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text21 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text22 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text23 {
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text24 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-text25 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-social-icons3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team14-link3 {
  display: contents;
}
.team14-icon5 {
  text-decoration: none;
}
.team14-card4 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text26 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text27 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text28 {
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.team14-social-icons4 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.team14-slider-slide2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team14-card5 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.team14-content6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text29 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text32 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-text33 {
  font-family: "PlayfairDisplay-Regular";
}
.team14-social-icons5 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.team14-card6 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.team14-content7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text34 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text35 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text38 {
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
  font-family: "PlayfairDisplay-Regular";
}
.team14-card7 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.team14-content8 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-title7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team14-text42 {
  font-family: "PlayfairDisplay-Bold";
}
.team14-text43 {
  text-align: center;
  font-family: "PlayfairDisplay-Regular";
}
.team14-text46 {
  font-size: 16px;
  font-family: "PlayfairDisplay-Regular";
}
.team14-slider-pagination {
  display: block;
}
.team14-text47 {
  font-family: "Open Sans";
}
.team14-button {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.team14-text48 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Open Sans";
}
.team14-fragment {
  display: contents;
}
.team14-text49 {
  display: inline-block;
  font-family: "PlayfairDisplay-Regular";
}
@media(max-width: 991px) {
  .team14-text15 {
    font-family: PlayfairDisplay-Regular;
  }
  .team14-text48 {
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .team14-team8 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .team14-max-width {
    padding: var(--dl-space-space-threeunits);
  }
  .team14-text10 {
    font-size: 30px;
  }
  .team14-text48 {
    font-size: 20px;
  }
}
@media(max-width: 479px) {
  .team14-team8 {
    padding: 0px;
  }
  .team14-max-width {
    padding: 0px;
  }
  .team14-text10 {
    font-size: 26px;
  }
  .team14-slider-slide1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .team14-placeholder-image1 {
    width: 90px;
    height: 90px;
    align-self: center;
  }
  .team14-content2 {
    align-self: flex-start;
  }
  .team14-text12 {
    font-size: 12px;
  }
  .team14-text13 {
    font-size: 12px;
    font-family: PlayfairDisplay-Regular;
  }
  .team14-textm12 {
    font-size: 12px;
  }
  .team14-placeholder-image2 {
    width: 90px;
    height: 90px;
  }
  .team14-text17 {
    font-size: 12px;
  }
  .team14-text18 {
    font-size: 12px;
  }
  .team14-text19 {
    font-size: 12px;
  }
  .team14-text20 {
    font-size: 12px;
  }
  .team14-placeholder-image3 {
    width: 90px;
    height: 90px;
  }
  .team14-text22 {
    font-size: 12px;
  }
  .team14-text23 {
    font-size: 12px;
  }
  .team14-text24 {
    font-size: 12px;
  }
  .team14-text25 {
    font-size: 12px;
  }
  .team14-placeholder-image4 {
    width: 90px;
    height: 90px;
  }
  .team14-text27 {
    font-size: 12px;
  }
  .team14-text28 {
    font-size: 12px;
  }
  .team14-card5 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .team14-card6 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .team14-card7 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .team14-text47 {
    text-align: center;
  }
  .team14-button {
    width: auto;
  }
  .team14-text48 {
    font-size: 20px;
  }
  .team14-text49 {
    font-size: 12px;
  }
}
