.timeline4-container10 {
  padding-top: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-black);
}
.timeline4-max-width {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.timeline4-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.timeline4-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.timeline4-text10 {
  fill: white;
  color: white;
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-twounits);
}
.timeline4-timeline-container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline4-step1 {
  display: flex;
  position: relative;
  justify-content: center;
}
.timeline4-container11 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline4-container12 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline4-progress01 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline4-container13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline4-text11 {
  fill: white;
  color: white;
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.timeline4-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.timeline4-text13 {
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
}
.timeline4-button1 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: flex-start;
  box-shadow: 2px 2px 5px 0px #d4d4d4;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline4-text14 {
  fill: #ffffff;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  font-family: "Open Sans";
}
.timeline4-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.timeline4-text15 {
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
}
.timeline4-button2 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: flex-start;
  box-shadow: 2px 2px 5px 0px #d4d4d4;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline4-text16 {
  font-family: "Open Sans";
}
.timeline4-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.timeline4-text17 {
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
}
.timeline4-button3 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
  align-self: center;
  box-shadow: 2px 2px 5px 0px #d4d4d4;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline4-text18 {
  fill: #ffffff;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
  font-family: "Open Sans";
}
.timeline4-container17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timeline4-navlink1 {
  font-size: 16px;
  font-family: "Open Sans";
  text-decoration: none;
}
.timeline4-step2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline4-container18 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline4-container19 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline4-progress02 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline4-container20 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline4-heading {
  fill: white;
  color: white;
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.timeline4-text20 {
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
}
.timeline4-text21 {
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
}
.timeline4-text22 {
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
}
.timeline4-text23 {
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
}
.timeline4-container21 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timeline4-navlink2 {
  font-size: 16px;
  font-family: "Open Sans";
  text-decoration: none;
}
.timeline4-button4 {
  font-size: 16px;
  font-family: "Open Sans";
}
.timeline4-step3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline4-container22 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline4-container23 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline4-progress03 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline4-container24 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline4-text24 {
  fill: white;
  color: white;
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.timeline4-text26 {
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
}
.timeline4-text27 {
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
}
.timeline4-text28 {
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
}
.timeline4-step4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.timeline4-container25 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline4-container26 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline4-progress04 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline4-container27 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline4-text29 {
  fill: white;
  color: white;
  font-size: 36px;
  font-family: "PlayfairDisplay-Bold";
}
.timeline4-text31 {
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
}
.timeline4-text32 {
  fill: white;
  color: white;
  font-size: 16px;
  font-family: "Open Sans";
}
.timeline4-container28 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timeline4-navlink3 {
  font-size: 16px;
  font-family: "Open Sans";
  text-decoration: none;
}
.timeline4-fragment1 {
  display: contents;
}
.timeline4-text33 {
  fill: white;
  color: white;
  width: 50%;
  display: inline-block;
  font-family: "Open Sans";
}
.timeline4-text34 {
  font-size: 16px;
}
.timeline4-fragment2 {
  display: contents;
}
.timeline4-text36 {
  fill: white;
  color: white;
  width: 50%;
  display: inline-block;
  font-family: "Open Sans";
}
.timeline4-fragment3 {
  display: contents;
}
.timeline4-text39 {
  fill: white;
  color: white;
  width: 50%;
  display: inline-block;
  font-family: "Open Sans";
}
.timeline4-fragment4 {
  display: contents;
}
.timeline4-text42 {
  fill: white;
  color: white;
  width: 50%;
  display: inline-block;
  font-family: "Open Sans";
}
.timeline4root-class-name {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}
@media(max-width: 991px) {
  .timeline4-max-width {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .timeline4-max-width {
    flex-direction: column;
  }
  .timeline4-text10 {
    font-size: 26px;
  }
  .timeline4-text11 {
    font-size: 20px;
  }
  .timeline4-text13 {
    text-align: left;
  }
  .timeline4-heading {
    font-size: 20px;
  }
  .timeline4-text20 {
    text-align: left;
  }
  .timeline4-text24 {
    font-size: 20px;
  }
  .timeline4-text26 {
    text-align: left;
  }
  .timeline4-text29 {
    font-size: 20px;
  }
}
@media(max-width: 479px) {
  .timeline4-text10 {
    font-size: 30px;
  }
  .timeline4-timeline-container {
    width: 100%;
  }
  .timeline4-text11 {
    font-size: 24px;
  }
  .timeline4-button1 {
    width: auto;
  }
  .timeline4-button2 {
    width: auto;
  }
  .timeline4-button3 {
    width: auto;
  }
  .timeline4-container17 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-navlink1 {
    width: auto;
    align-self: flex-start;
  }
  .timeline4-heading {
    font-size: 24px;
  }
  .timeline4-container21 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-navlink2 {
    align-self: flex-start;
  }
  .timeline4-button4 {
    align-self: flex-start;
  }
  .timeline4-text24 {
    font-size: 24px;
  }
  .timeline4-text29 {
    font-size: 24px;
  }
  .timeline4-container28 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline4-navlink3 {
    align-self: flex-start;
  }
}
