<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nattynites</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Source Sans Pro;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background: var(--dl-color-gray-white);

        fill: var(--dl-color-gray-black);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/logo_original square.webp"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />

    <style>
      [data-thq="thq-dropdown"]:hover > [data-thq="thq-dropdown-list"] {
          display: flex;
        }

        [data-thq="thq-dropdown"]:hover > div [data-thq="thq-dropdown-arrow"] {
          transform: rotate(90deg);
        }
    </style>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
      ScrollReveal({ reset: true });
    </script>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./timeline4.css" rel="stylesheet" />
      <div class="timeline4-container10 thq-section-padding timeline4">
        <div class="timeline4-max-width thq-section-max-width">
          <div class="timeline4-section-title">
            <div class="timeline4-content">
              <h2 class="timeline4-text10 thq-heading-2">
                <span>Nattynites Roadmap</span>
              </h2>
            </div>
          </div>
          <div class="timeline4-timeline-container">
            <div class="timeline4-step1">
              <div class="timeline4-container11">
                <div class="timeline4-container12"></div>
                <div class="timeline4-progress01"></div>
              </div>
              <div class="timeline4-container13">
                <h3 class="timeline4-text11 thq-heading-3">
                  <span>Project Launch － 2024</span>
                </h3>
                <span>
                  <fragment class="timeline4-fragment1">
                    <span class="timeline4-text33">
                      <span class="timeline4-text34">
                        Our journey begins in 2024 with the establishment of the
                        Nattynites community and strategic partnerships within
                        the hospitality industry. We’re inviting early members,
                        dealers, and hotels to join us in creating a
                        revolutionary tokenized travel ecosystem.
                      </span>
                      <br />
                    </span>
                  </fragment>
                </span>
                <div class="timeline4-container14">
                  <h3 class="timeline4-text13 thq-heading-3">
                    <span>Community &amp; Whitelist</span>
                  </h3>
                  <a
                    href="https://twitter.com/nattynites_club"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="timeline4-button1"
                  >
                    <span class="timeline4-text14 navLink">
                      <span>Get Early Access</span>
                    </span>
                  </a>
                </div>
                <div class="timeline4-container15">
                  <h1 class="timeline4-text15"><span>Dealer Program</span></h1>
                  <a href="dealer.html" class="timeline4-button2">
                    <span class="timeline4-text16 navLink">
                      <span>Register Dealer</span>
                    </span>
                  </a>
                </div>
                <div class="timeline4-container16">
                  <h1 class="timeline4-text17">
                    <span>Hotel Partnership</span>
                  </h1>
                  <a href="partnership.html" class="timeline4-button3">
                    <span class="timeline4-text18 navLink">
                      <span>Become Partner Now</span>
                    </span>
                  </a>
                </div>
                <div class="timeline4-container17">
                  <a
                    href="programs.html"
                    class="timeline4-navlink1 thq-button-filled"
                  >
                    <span>Learn More</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="timeline4-step2">
              <div class="timeline4-container18">
                <div class="timeline4-container19"></div>
                <div class="timeline4-progress02"></div>
              </div>
              <div class="timeline4-container20">
                <h3 class="timeline4-heading thq-heading-3">
                  <span>Q3, Q4 2024</span>
                </h3>
                <span>
                  <fragment class="timeline4-fragment2">
                    <span class="timeline4-text36">
                      <span>
                        Moving into 2024-2025, we will launch Natty Stays, where
                        bookings are tokenized, allowing flexibility in
                        transferring and selling stays. We will also introduce
                        Natty Quests, a gamified experience for members to
                        collect NFTs and unlock travel perks, alongside a
                        referral program to grow the community.
                      </span>
                      <br />
                    </span>
                  </fragment>
                </span>
                <h3 class="timeline4-text20 thq-heading-3">
                  <span>Natty Stays</span>
                </h3>
                <h1 class="timeline4-text21"><span>Pre-Sale</span></h1>
                <h1 class="timeline4-text22"><span>Natty Quests</span></h1>
                <h1 class="timeline4-text23"><span>Referral Program</span></h1>
                <div class="timeline4-container21">
                  <a
                    href="nft.html"
                    class="timeline4-navlink2 thq-button-filled"
                  >
                    <span>View Collection (Coming Soon)</span>
                  </a>
                  <button
                    type="button"
                    class="timeline4-button4 thq-button-outline"
                  ></button>
                </div>
              </div>
            </div>
            <div class="timeline4-step3">
              <div class="timeline4-container22">
                <div class="timeline4-container23"></div>
                <div class="timeline4-progress03"></div>
              </div>
              <div class="timeline4-container24">
                <h3 class="timeline4-text24 thq-heading-3">
                  <span>Q1, Q2 2025</span>
                </h3>
                <span>
                  <fragment class="timeline4-fragment4">
                    <span class="timeline4-text42">
                      <span>
                        By 2025-2026, we will roll out our NFT-Fi DApp, enabling
                        users to trade or sell their NFTs and bookings on
                        secondary markets. The launch of our DAO community will
                        empower members to take part in decision-making and
                        profit-sharing from tokenized resorts.
                      </span>
                      <br />
                    </span>
                  </fragment>
                </span>
                <h3 class="timeline4-text26 thq-heading-3">
                  <span>NFT-Fi DApp</span>
                </h3>
                <h1 class="timeline4-text27"><span>Swap Platform</span></h1>
                <h1 class="timeline4-text28"><span>DAO Community</span></h1>
              </div>
            </div>
            <div class="timeline4-step4">
              <div class="timeline4-container25">
                <div class="timeline4-container26"></div>
                <div class="timeline4-progress04"></div>
              </div>
              <div class="timeline4-container27">
                <h3 class="timeline4-text29 thq-heading-3">
                  <span>2026 &amp; Vision</span>
                </h3>
                <span>
                  <fragment class="timeline4-fragment3">
                    <span class="timeline4-text39">
                      <span>
                        Looking ahead, our future vision includes the
                        tokenization of villa resorts and fractional property
                        ownership, where members can invest in and govern luxury
                        properties around the world.
                      </span>
                      <br />
                    </span>
                  </fragment>
                </span>
                <h1 class="timeline4-text31">
                  <span>DAO-Driven Villa Resort</span>
                </h1>
                <h1 class="timeline4-text32">
                  <span>Property Tokenization</span>
                </h1>
                <div class="timeline4-container28">
                  <a
                    href="programs.html"
                    class="timeline4-navlink3 thq-button-filled"
                  >
                    <span>Learn More</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
